@page "/support-tasks/active"
@using TeachingRecordSystem.SupportUi.Services.SupportTasks
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.Active
@{
    ViewBag.Title = "Active tasks";
}

<span class="govuk-caption-m">Tasks overview</span>
<h1 class="govuk-heading-l">@ViewBag.Title</h1>

<div class="trs-vertical-filters">
    <form method="get" asp-antiforgery="false">
        <h2 class="govuk-heading-m trs-vertical-filters__heading">Filter tasks</h2>

        <div class="trs-display-flex trs-column-gap-1 govuk-!-margin-bottom-3">
            <govuk-select for="Type" class="govuk-!-width-one-half govuk-!-margin-bottom-0" select-class="govuk-!-width-full">
                <govuk-select-label class="govuk-label--s">Task type</govuk-select-label>
                <govuk-select-item value="">All types</govuk-select-item>
                @foreach (var type in SupportTaskTypeRegistry.AllTypes.OrderBy(t => t.GetTitle()))
                {
                    <govuk-select-item value="@type">@type.GetTitle()</govuk-select-item>
                }
            </govuk-select>

            <govuk-select for="AssignedToUserId" class="govuk-!-width-one-half govuk-!-margin-bottom-0" select-class="govuk-!-width-full">
                <govuk-select-label class="govuk-label--s">Assigned to</govuk-select-label>
                <govuk-select-item value="">All owners</govuk-select-item>
                @foreach (var user in Model.AssignToOptions!)
                {
                    <govuk-select-item value="@user.UserId">@user.UserName</govuk-select-item>
                }
            </govuk-select>
        </div>

        <govuk-checkboxes for="Status" class="govuk-checkboxes--small trs-checkboxes--horizontal govuk-!-margin-bottom-3">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--s">Status</govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item value="@SupportTaskStatus.Open" checked="@Model.Status.Contains(SupportTaskStatus.Open)">Not started</govuk-checkboxes-item>
                <govuk-checkboxes-item value="@SupportTaskStatus.InProgress" checked="@Model.Status.Contains(SupportTaskStatus.InProgress)">In progress</govuk-checkboxes-item>
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>

        <div class="trs-vertical-filters__actions">
            <div class="govuk-button-group govuk-!-margin-bottom-0">
                <govuk-button type="submit">Apply filters</govuk-button>
                <a href="@LinkGenerator.SupportTasks.Active()" class="govuk-link">Clear all</a>
            </div>
        </div>
    </form>
</div>

@if (Model.Results!.Count == 0)
{
    <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-3" data-testid="no-results-message">
        No matching tasks found
    </p>
    <p class="govuk-body-m">Try searching again with different details.</p>
}
else
{
    <table class="govuk-table trs-table-layout-fixed">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header trs-!-width-200"
                    sort-direction="@(Model.SortBy == SupportTasksSortByOption.Subject ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.SupportTasks.Active(Model.Type, Model.AssignedToUserId, Model.Status, SupportTasksSortByOption.Subject, direction))">
                    Name and task ID
                </th>
                <th scope="col" class="govuk-table__header trs-!-width-130"
                    sort-direction="@(Model.SortBy == SupportTasksSortByOption.RequestedOn ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.SupportTasks.Active(Model.Type, Model.AssignedToUserId, Model.Status, SupportTasksSortByOption.RequestedOn, direction))">
                    Requested on
                </th>
                <th scope="col" class="govuk-table__header"
                    sort-direction="@(Model.SortBy == SupportTasksSortByOption.TaskType ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.SupportTasks.Active(Model.Type, Model.AssignedToUserId, Model.Status, SupportTasksSortByOption.TaskType, direction))">
                    Type
                </th>
                <th scope="col" class="govuk-table__header trs-!-width-120"
                    sort-direction="@(Model.SortBy == SupportTasksSortByOption.Status ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.SupportTasks.Active(Model.Type, Model.AssignedToUserId, Model.Status, SupportTasksSortByOption.Status, direction))">
                    Status
                </th>
                <th scope="col" class="govuk-table__header trs-!-width-120"
                    sort-direction="@(Model.SortBy == SupportTasksSortByOption.AssignedTo ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.SupportTasks.Active(Model.Type, Model.AssignedToUserId, Model.Status, SupportTasksSortByOption.AssignedTo, direction))">
                    Assigned to
                </th>
                <th scope="col" class="govuk-table__header trs-!-width-100">
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="govuk-table__body" data-testid="results">
            @foreach (var result in Model.Results!)
            {
                <tr class="govuk-table__row" data-testid="task:@result.SupportTaskReference">
                    <td class="govuk-table__cell" data-testid="task-name-and-id">
                        <a href="@LinkGenerator.SupportTasks.OneLoginUserMatching.Resolve.Index(result.SupportTaskReference)" class="govuk-link trs-task-link">
                            <span class="trs-task-link__name" data-testid="task-name">@result.Subject</span>
                            <span class="trs-task-link__reference" data-testid="task-reference">@result.SupportTaskReference</span>
                        </a>
                    </td>
                    <td class="govuk-table__cell" data-testid="requested-on">@result.CreatedOn.ToString(WebConstants.DateDisplayFormat)</td>
                    <td class="govuk-table__cell">@result.SupportTaskType.GetTitle()</td>
                    <td class="govuk-table__cell" data-testid="status">
                        <support-task-status-tag status="@result.Status"/>
                    </td>
                    <td class="govuk-table__cell" data-testid="assigned-to" use-empty-fallback="Not assigned">
                        @result.AssignedToName
                    </td>
                    <td class="govuk-table__cell">
                        <a href="@LinkGenerator.SupportTasks.SupportTaskDetail.Index(result.SupportTaskReference)"
                           class="govuk-link">
                            Manage
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_Pagination" model=@Model.Pagination />
}
