@page "/support-tasks/active/{handler?}"
@using TeachingRecordSystem.SupportUi.Services.SupportTasks
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.Active
@{
    ViewBag.Title = "Active tasks";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Index()" />
}

<span class="govuk-caption-m">Tasks overview</span>
<h1 class="govuk-heading-l">@ViewBag.Title</h1>

<div class="trs-vertical-filters">
    <form method="get" asp-antiforgery="false">
        <h2 class="govuk-heading-m trs-vertical-filters__heading">Filter tasks</h2>

        <div class="trs-display-flex trs-column-gap-1 govuk-!-margin-bottom-3">
            <govuk-select for="Type"
                          select-hx-get="@LinkGenerator.SupportTasks.Active(type: null, Model.AssignedToUserId, Model.Status, Model.SortBy, Model.SortDirection)"
                          select-hx-trigger="change"
                          select-hx-select="main"
                          select-hx-target="main"
                          select-hx-push-url="true"
                          class="govuk-!-width-one-half govuk-!-margin-bottom-0"
                          select-class="govuk-!-width-full">
                <govuk-select-label class="govuk-label--s">Task type</govuk-select-label>
                <govuk-select-item value="">All types</govuk-select-item>
                @foreach (var type in SupportTaskTypeRegistry.GetAllTypes(includeLegacy: false).OrderBy(t => t.GetTitle()))
                {
                    <govuk-select-item value="@type">@type.GetTitle()</govuk-select-item>
                }
            </govuk-select>

            <govuk-select for="AssignedToUserId"
                          select-hx-get="@LinkGenerator.SupportTasks.Active(Model.Type, assignedToUserId: null, Model.Status, Model.SortBy, Model.SortDirection)"
                          select-hx-trigger="change"
                          select-hx-select="main"
                          select-hx-target="main"
                          select-hx-push-url="true"
                          class="govuk-!-width-one-half govuk-!-margin-bottom-0"
                          select-class="govuk-!-width-full">
                <govuk-select-label class="govuk-label--s">Assigned to</govuk-select-label>
                <govuk-select-item value="">All owners</govuk-select-item>
                @foreach (var user in Model.AssignToOptions!)
                {
                    <govuk-select-item value="@user.UserId">
                        @user.UserName
                    </govuk-select-item>
                }
            </govuk-select>
        </div>

        <govuk-checkboxes for="Status" class="govuk-checkboxes--small trs-checkboxes--horizontal govuk-!-margin-bottom-3">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--s govuk-!-margin-bottom-1">Status</govuk-checkboxes-fieldset-legend>
                @foreach (var status in new[] { SupportTaskStatus.Open, SupportTaskStatus.InProgress })
                {
                    var toggledStatuses = (Model.Status ?? []).ToHashSet();
                    toggledStatuses.SymmetricExceptWith([status]);

                    <govuk-checkboxes-item value="@status"
                                           checked="@Model.Status.Contains(status)"
                                           input-hx-get="@LinkGenerator.SupportTasks.Active(Model.Type, Model.AssignedToUserId, toggledStatuses, Model.SortBy, Model.SortDirection)"
                                           input-hx-select="main"
                                           input-hx-target="main"
                                           input-hx-swap="outerHTML"
                                           input-hx-push-url="true">
                        @status.GetDisplayName()
                    </govuk-checkboxes-item>
                }
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>

        <div class="trs-vertical-filters__actions">
            <div class="govuk-button-group govuk-!-margin-bottom-0">
                <noscript class="trs-display-flex">
                    <govuk-button type="submit">Apply filters</govuk-button>
                </noscript>
                <a href="@LinkGenerator.SupportTasks.Active()"
                   hx-get="@LinkGenerator.SupportTasks.Active()"
                   hx-select="main"
                   hx-target="main"
                   hx-swap="outerHTML"
                   hx-push-url="true"
                   class="govuk-link">
                    Clear all
                </a>
            </div>
        </div>
    </form>
</div>

@if (Model.Results!.Count == 0)
{
    <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-3" data-testid="no-results-message">
        No matching tasks found
    </p>
    <p class="govuk-body-m">Try searching again with different details.</p>
}
else
{
    <table class="govuk-table trs-table-layout-fixed" sortable data-module="moj-multi-select" data-id-prefix="AssignSupportTask-">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header trs-!-width-25"></th>
                <th scope="col" class="govuk-table__header"
                    sort-direction="@(Model.SortBy == SupportTasksSortByOption.Subject ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.SupportTasks.Active(Model.Type, Model.AssignedToUserId, Model.Status, SupportTasksSortByOption.Subject, direction))"
                    use-htmx="true"
                    hx-select="main"
                    hx-target="main"
                    hx-push-url="true">
                    Task
                </th>
                <th scope="col" class="govuk-table__header trs-!-width-150"
                    sort-direction="@(Model.SortBy == SupportTasksSortByOption.RequestedOn ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.SupportTasks.Active(Model.Type, Model.AssignedToUserId, Model.Status, SupportTasksSortByOption.RequestedOn, direction))"
                    use-htmx="true"
                    hx-select="main"
                    hx-target="main"
                    hx-push-url="true">
                    Requested on
                </th>
                <th scope="col" class="govuk-table__header trs-!-width-180"
                    sort-direction="@(Model.SortBy == SupportTasksSortByOption.TaskType ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.SupportTasks.Active(Model.Type, Model.AssignedToUserId, Model.Status, SupportTasksSortByOption.TaskType, direction))"
                    use-htmx="true"
                    hx-select="main"
                    hx-target="main"
                    hx-push-url="true">
                    Type
                </th>
                <th scope="col" class="govuk-table__header trs-!-width-120"
                    sort-direction="@(Model.SortBy == SupportTasksSortByOption.Status ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.SupportTasks.Active(Model.Type, Model.AssignedToUserId, Model.Status, SupportTasksSortByOption.Status, direction))"
                    use-htmx="true"
                    hx-select="main"
                    hx-target="main"
                    hx-push-url="true">
                    Status
                </th>
                <th scope="col" class="govuk-table__header trs-!-width-130"
                    sort-direction="@(Model.SortBy == SupportTasksSortByOption.AssignedTo ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.SupportTasks.Active(Model.Type, Model.AssignedToUserId, Model.Status, SupportTasksSortByOption.AssignedTo, direction))"
                    use-htmx="true"
                    hx-select="main"
                    hx-target="main"
                    hx-push-url="true">
                    Assigned to
                </th>
                <th scope="col" class="govuk-table__header trs-!-width-100">
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="govuk-table__body" data-testid="results">
            @foreach (var result in Model.Results!)
            {
                <tr class="govuk-table__row" data-testid="task:@result.SupportTaskReference">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                            <input type="checkbox"
                                   class="govuk-checkboxes__input"
                                   id="AssignSupportTask-@(result.SupportTaskReference)"
                                   value="@result.SupportTaskReference"
                                   name="SupportTaskReference"
                                   form="assign-tasks-form"
                                   hx-get
                                   hx-page-handler="SelectionBanner"
                                   hx-include="[form='assign-tasks-form']"
                                   hx-target="#selected-tasks-banner"
                                   hx-swap="innerHTML" />
                            <label for="AssignSupportTask-@(result.SupportTaskReference)" class="govuk-label govuk-checkboxes__label">
                                <span class="govuk-visually-hidden">Select @result.SupportTaskReference</span>
                            </label>
                        </div>
                    </td>
                    <td class="govuk-table__cell" data-testid="task-name-and-id">
                        <a href="@LinkGenerator.SupportTasks.OneLoginUserMatching.Resolve.Index(result.SupportTaskReference)" class="govuk-link trs-task-link">
                            <span class="trs-task-link__name" data-testid="task-name">@result.Subject</span>
                            <span class="trs-task-link__reference" data-testid="task-reference">@result.SupportTaskReference</span>
                        </a>
                    </td>
                    <td class="govuk-table__cell" data-testid="requested-on">@result.CreatedOn.ToString(WebConstants.DateDisplayFormat)</td>
                    <td class="govuk-table__cell">@result.SupportTaskType.GetTitle()</td>
                    <td class="govuk-table__cell" data-testid="status">
                        <support-task-status-tag status="@result.Status"/>
                    </td>
                    <td class="govuk-table__cell" data-testid="assigned-to" use-empty-fallback="Not assigned">
                        @result.AssignedToName
                    </td>
                    <td class="govuk-table__cell">
                        <a href="@LinkGenerator.SupportTasks.SupportTaskDetail.Index(result.SupportTaskReference)"
                           class="govuk-link">
                            Manage
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div aria-atomic="true" aria-live="polite" role="status" id="status" class="govuk-visually-hidden" hx-preserve hx-swap-oob="innerHTML">
    @if (Model.Results!.Count == 0)
    {
        <text>No matching tasks found.</text>
    }
    else
    {
        <text>
            Showing @Model.Results!.Count of @Model.TotalTaskCount matching tasks
            sorted by @Model.OrderedByLabel (@Model.OrderDirectionLabel).
        </text>
    }
</div>

<form id="assign-tasks-form" action="@LinkGenerator.SupportTasks.Assign()" method="get" asp-antiforgery="false">
    <noscript>
        <govuk-button type="submit">Assign tasks</govuk-button>
    </noscript>
</form>

<div id="pagination-container">
    <partial name="_Pagination" model="@Model.Pagination" />
</div>

<div id="selected-tasks-banner" aria-live="polite" aria-atomic="true"></div>
