@page "/persons/{personId}/merge/matches"
@model TeachingRecordSystem.SupportUi.Pages.Persons.MergePerson.MatchesModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Compare matching records";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
        @if (Model.CannotMergeReason is not null)
        {
            <govuk-warning-text icon-fallback-text="Warning" data-testid="warning-text">
                @(Model.CannotMergeReason). Refer this to the Teaching Regulation Agency (TRA).
            </govuk-warning-text>
        }

        <div class="trs-potential-duplicates trs-potential-duplicates--side-by-side">
            @foreach (var (match, i) in Model.PotentialDuplicates!.Select((match, i) => (match, i)))
            {
                <govuk-summary-card data-testid="person-@match.Identifier.ToString().ToLower()" class="trs-potential-duplicates__item">
                    <govuk-summary-card-title>
                        TRN @match.Trn
                    </govuk-summary-card-title>
                    <govuk-summary-card-actions>
                        <govuk-summary-card-action href="@LinkGenerator.Persons.PersonDetail.Index(match.PersonId)" target="_blank">
                            View record (opens in a new tab)
                        </govuk-summary-card-action>
                    </govuk-summary-card-actions>
                    <govuk-summary-list>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>First name</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback highlight="@(!match.MatchedAttributes.Contains(PersonMatchedAttribute.FirstName))">
                                @match.FirstName
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Middle name</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback highlight="@(!match.MatchedAttributes.Contains(PersonMatchedAttribute.MiddleName))">
                                @match.MiddleName
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Last name</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback highlight="@(!match.MatchedAttributes.Contains(PersonMatchedAttribute.LastName))">
                                @match.LastName
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback highlight="@(!match.MatchedAttributes.Contains(PersonMatchedAttribute.DateOfBirth))">
                                @match.DateOfBirth?.ToString(UiDefaults.DateOnlyDisplayFormat)
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Email</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback highlight="@(!match.MatchedAttributes.Contains(PersonMatchedAttribute.EmailAddress))">
                                @match.EmailAddress
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback highlight="@(!match.MatchedAttributes.Contains(PersonMatchedAttribute.NationalInsuranceNumber))">
                                @match.NationalInsuranceNumber
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Gender</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback highlight="@(!match.MatchedAttributes.Contains(PersonMatchedAttribute.Gender))">
                                @match.Gender?.GetDisplayName()
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>TRN</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@match.Trn</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        @if (match.ActiveAlertCount > 0)
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Alerts</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value><a href="@LinkGenerator.Persons.PersonDetail.Alerts(match.PersonId)" target="_blank" class="govuk-link">(@match.ActiveAlertCount) open alert@(match.ActiveAlertCount == 1 ? "" : "s") (opens in a new tab)</a></govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                    </govuk-summary-list>
                </govuk-summary-card>
            }
        </div>

        <form action="@Model.GetPageLink(MergePersonJourneyPage.Matches)" method="post" data-testid="submit-form">
            @if (Model.CannotMergeReason is null)
            {
                <govuk-radios for="PrimaryPersonId" data-testid="primary-person-options">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                            Which is the primary record?
                        </govuk-radios-fieldset-legend>
                        @foreach (var match in Model.PotentialDuplicates!)
                        {
                            <govuk-radios-item value="@match.PersonId">
                                TRN @match.Trn
                            </govuk-radios-item>
                        }
                    </govuk-radios-fieldset>
                </govuk-radios>
            }

            <div class="govuk-button-group">
                @if (Model.CannotMergeReason is null)
                {
                    <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>
                }
                <govuk-button formaction="@Model.CancelLink" class="govuk-button--secondary" type="submit" data-testid="cancel-button">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
