@page "/persons/{personId}/merge/merge"
@using TeachingRecordSystem.SupportUi.Pages.Shared
@model TeachingRecordSystem.SupportUi.Pages.Persons.MergePerson.MergeModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Select the details to merge into the primary record";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink" />
}

@functions {
#pragma warning disable CS1998
    private async Task RenderChoosePersonAttribute(
        string label,
        bool different,
        string name,
        string? leftLabel,
        string? rightLabel,
        PersonAttributeSource? selectedValue)
    {
        var chooseAttributeModel = new ChoosePersonAttributeViewModel()
        {
            Label = label,
            Different = different,
            Highlight = different,
            Name = name,
            LeftValue = PersonAttributeSource.PrimaryPerson,
            LeftLabel = leftLabel,
            RightValue = PersonAttributeSource.SecondaryPerson,
            RightLabel = rightLabel,
            SelectedValue = selectedValue
        };
        <partial name="Shared/_ChoosePersonAttribute" model="@chooseAttributeModel" />
    }
#pragma warning restore CS1998
}

<form action="@Model.GetPageLink(MergePersonJourneyPage.Merge)" method="post" data-testid="submit-form">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        </div>
    </div>

    <div class="trs-display-flex">
        <div class="govuk-heading-m govuk-!-width-one-half">
            Primary record (TRN @Model.Trn!.PrimaryPersonValue)
        </div>
        <div class="govuk-heading-m govuk-!-width-one-half">
            Secondary record (TRN @Model.Trn!.SecondaryPersonValue)
        </div>
    </div>

    <table class="govuk-table">
        <tbody class="govuk-table__body">
            @{
                await RenderChoosePersonAttribute(
                    "First name",
                    Model.FirstName!.Different,
                    Html.NameFor(m => m.FirstNameSource),
                    Model.FirstName!.PrimaryPersonValue,
                    Model.FirstName!.SecondaryPersonValue,
                    Model.FirstNameSource);

                await RenderChoosePersonAttribute(
                    "Middle name",
                    Model.MiddleName!.Different,
                    Html.NameFor(m => m.MiddleNameSource),
                    Model.MiddleName!.PrimaryPersonValue,
                    Model.MiddleName!.SecondaryPersonValue,
                    Model.MiddleNameSource);

                await RenderChoosePersonAttribute(
                    "Last name",
                    Model.LastName!.Different,
                    Html.NameFor(m => m.LastNameSource),
                    Model.LastName!.PrimaryPersonValue,
                    Model.LastName!.SecondaryPersonValue,
                    Model.LastNameSource);

                await RenderChoosePersonAttribute(
                    "Date of birth",
                    Model.DateOfBirth!.Different,
                    Html.NameFor(m => m.DateOfBirthSource),
                    Model.DateOfBirth!.PrimaryPersonValue?.ToString(UiDefaults.DateOnlyDisplayFormat),
                    Model.DateOfBirth!.SecondaryPersonValue?.ToString(UiDefaults.DateOnlyDisplayFormat),
                    Model.DateOfBirthSource);

                await RenderChoosePersonAttribute(
                    "Email",
                    Model.EmailAddress!.Different,
                    Html.NameFor(m => m.EmailAddressSource),
                    Model.EmailAddress!.PrimaryPersonValue,
                    Model.EmailAddress!.SecondaryPersonValue,
                    Model.EmailAddressSource);

                await RenderChoosePersonAttribute(
                    "National Insurance number",
                    Model.NationalInsuranceNumber!.Different,
                    Html.NameFor(m => m.NationalInsuranceNumberSource),
                    Model.NationalInsuranceNumber!.PrimaryPersonValue,
                    Model.NationalInsuranceNumber!.SecondaryPersonValue,
                    Model.NationalInsuranceNumberSource);

                await RenderChoosePersonAttribute(
                    "Gender",
                    Model.Gender!.Different,
                    Html.NameFor(m => m.GenderSource),
                    Model.Gender!.PrimaryPersonValue?.GetDisplayName(),
                    Model.Gender!.SecondaryPersonValue?.GetDisplayName(),
                    Model.GenderSource);
            }
        </tbody>
    </table>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            @Html.EditorFor(m => m.Evidence)

            <govuk-textarea for="Comments" label-class="govuk-label--s">
                <govuk-textarea-label>Add comments (optional)</govuk-textarea-label>
            </govuk-textarea>

            <govuk-warning-text>
                The secondary record will be deactivated once it’s merged with the primary record, but you’ll still be able to view it.
            </govuk-warning-text>

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>
                <govuk-button formaction="@Model.CancelLink" class="govuk-button--secondary" type="submit" data-testid="cancel-button">Cancel and return to record</govuk-button>
            </div>
        </div>
    </div>

</form>
