@page "/alerts/{alertId}"
@model AlertDetailModel
@{
    ViewBag.Title = Model.Alert!.AlertType.Name;
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.PersonAlerts(Model.Alert.PersonId)">Back to record</govuk-back-link>
}

<h1 class="govuk-heading-l">@ViewBag.Title</h1>

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Details</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @if (Model.Alert.Details is not null)
            {
                <multi-line-text text="@Model.Alert.Details" />
            }
            else
            {
                <span use-empty-fallback></span>
            }
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Link</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @if (Model.Alert.ExternalLink is not null)
            {
                <a href="@Model.ExternalLinkUri" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="link">@($"{Model.Alert.ExternalLink} (opens in new tab)")</a>
            }
            else
            {
                <span data-testid="link" use-empty-fallback></span>
            }
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
        <govuk-summary-list-row-value use-empty-fallback>@Model.Alert.StartDate?.ToString(UiDefaults.DefaultDateOnlyDisplayFormat)</govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>End date</govuk-summary-list-row-key>
        <govuk-summary-list-row-value use-empty-fallback>@Model.Alert.EndDate?.ToString(UiDefaults.DefaultDateOnlyDisplayFormat)</govuk-summary-list-row-value>
        @if (Model.CanEdit)
        {
            <govuk-summary-list-row-actions>
                <govuk-summary-list-row-action href="@LinkGenerator.AlertReopen(Model.Alert.AlertId, journeyInstanceId: null)" visually-hidden-text="end date">Remove</govuk-summary-list-row-action>
                <govuk-summary-list-row-action href="@LinkGenerator.AlertEditEndDate(Model.Alert.AlertId, journeyInstanceId: null)" visually-hidden-text="end date">Change</govuk-summary-list-row-action>
            </govuk-summary-list-row-actions>
        }
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Reason for closing alert</govuk-summary-list-row-key>
        <govuk-summary-list-row-value use-empty-fallback>@Model.ChangeReason</govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Reason details</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @if (Model.ChangeReasonDetail is not null)
            {
                <multi-line-text text="@Model.ChangeReasonDetail" />
            }
            else
            {
                <span use-empty-fallback></span>
            }
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Evidence</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @if (Model.UploadedEvidenceFileUrl is not null)
            {
                <a href="@Model.UploadedEvidenceFileUrl" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="uploaded-evidence-link">@($"{Model.EvidenceFileName} (opens in new tab)")</a>
            }
            else
            {
                <span data-testid="uploaded-evidence-link" use-empty-fallback></span>
            }
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

</govuk-summary-list>
