@page "/support-tasks/npq-trn-requests/{supportTaskReference}/resolve/matches/{handler?}"
@using TeachingRecordSystem.Core.Services.TrnRequests
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.NpqTrnRequests.Resolve.MatchesModel
@{
    ViewBag.Title = "Compare potential duplicate records";
    var showDuplicatesSideBySide = Model.PotentialDuplicates!.Length == 1;
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers ?
        LinkGenerator.SupportTasks.NpqTrnRequests.Resolve.CheckAnswers(Model.SupportTaskReference, Model.JourneyInstance!.InstanceId) :
        LinkGenerator.SupportTasks.NpqTrnRequests.Details(Model.SupportTaskReference, createRecord: true))" />
}

<form action="@LinkGenerator.SupportTasks.NpqTrnRequests.Resolve.Matches(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">TRN requests</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class=@(showDuplicatesSideBySide ? "govuk-grid-column-full" : "govuk-grid-column-two-thirds")>
            @if (Model.MatchOutcome == MatchPersonsResultOutcome.DefiniteMatch)
            {
                <govuk-inset-text class="govuk-!-margin-top-0">
                    This request matches an existing record. To complete the task, you need to merge the request with the record.
                </govuk-inset-text>
            }
            else if (Model.MatchOutcome == MatchPersonsResultOutcome.NoMatches)
            {
                <govuk-inset-text class="govuk-!-margin-top-0">
                    This record is no longer flagged as a potential duplicate. You can now create a new record.
                </govuk-inset-text>
            }
            else
            {
                <govuk-inset-text class="govuk-!-margin-top-0">
                    Details that do not match are <highlight>highlighted</highlight> in the existing records
                </govuk-inset-text>
            }

            <div class="trs-potential-duplicates @(showDuplicatesSideBySide ? "trs-potential-duplicates--side-by-side" : "")">
                <govuk-summary-card data-testid="request" class="trs-potential-duplicates__item">
                    <title>
                        @Model.SourceApplicationUserName request
                    </title>
                    <govuk-summary-list>
                        @if (showDuplicatesSideBySide)
                        {
                            // Add field so the fields line up when viewed side-by-side
                            <row>
                                <key>Status</key>
                                <value>Not applicable</value>
                            </row>
                        }
                        <row>
                            <key>Name</key>
                            <value use-empty-fallback>@Model.Name</value>
                        </row>
                        @if (showDuplicatesSideBySide)
                        {
                            // Add field so the fields line up when viewed side-by-side
                            <row>
                                <key>TRN</key>
                                <value>Not yet assigned</value>
                            </row>
                        }
                        <row>
                            <key>Date of birth</key>
                            <value use-empty-fallback>@Model.RequestData!.DateOfBirth.ToString(WebConstants.DateOnlyDisplayFormat)</value>
                        </row>
                        <row>
                            <key>Email address</key>
                            <value use-empty-fallback>@Model.RequestData!.EmailAddress</value>
                        </row>
                        <row>
                            <key>NI number</key>
                            <value use-empty-fallback>@Model.RequestData!.NationalInsuranceNumber</value>
                        </row>
                        <row>
                            <key>Gender</key>
                            <value use-empty-fallback>@Model.RequestData!.Gender?.GetDisplayName()</value>
                        </row>
                        <row>
                            <key>Evidence</key>
                            <value data-testid="evidence">
                                <vc:evidence-file-link evidence-file="@Model.NpqEvidenceFile" />
                            </value>
                        </row>
                    </govuk-summary-list>
                </govuk-summary-card>

                @if (!showDuplicatesSideBySide && Model.MatchOutcome == MatchPersonsResultOutcome.PotentialMatches)
                {
                    <h2 class="govuk-heading-m">Potential matches</h2>
                }

                @foreach (var (match, hasNameMismatch) in Model.PotentialDuplicatesWithNameMatchingInfo!)
                {
                    <govuk-summary-card data-testid="match" data-personid="@match.PersonId" class="trs-potential-duplicates__item">
                        <title heading-level="3">
                            Record @match.Identifier
                        </title>
                        <card-actions>
                            <action href="@LinkGenerator.Persons.PersonDetail.Index(match.PersonId)" target="_blank">
                                View record (opens in a new tab)
                            </action>
                        </card-actions>
                        <govuk-summary-list>
                            @{
                                var tags = new List<string>();

                                if (match.HasActiveAlerts)
                                {
                                    tags.Add("Alerts");
                                }

                                if (match.HasQts)
                                {
                                    tags.Add("QTS");
                                }

                                if (match.HasEyts)
                                {
                                    tags.Add("EYTS");
                                }
                            }
                            @if (tags.Count > 0)
                            {
                                <row>
                                    <key>Status</key>
                                    <value>
                                        @foreach (var tag in tags)
                                        {
                                            <tag>@tag</tag>
                                        }
                                    </value>
                                </row>
                            }

                            <row>
                                <key>Name</key>
                                <value use-empty-fallback highlight="@hasNameMismatch">
                                    @StringHelper.JoinNonEmpty(' ', match.FirstName, match.MiddleName, match.LastName)
                                </value>
                            </row>
                            @if (match.PreviousNames!.Count > 0)
                            {
                                <row>
                                    <key>Previous names</key>
                                    <value>
                                        <list-text-items text-items="@match.PreviousNames"></list-text-items>
                                    </value>
                                </row>
                            }
                            <row>
                                <key>TRN</key>
                                <value>@match.Trn</value>
                            </row>
                            <row>
                                <key>Date of birth</key>
                                <value use-empty-fallback highlight="@(!match.MatchedAttributes.Contains(PersonMatchedAttribute.DateOfBirth))">
                                    @match.DateOfBirth?.ToString(WebConstants.DateOnlyDisplayFormat)
                                </value>
                            </row>
                            <row>
                                <key>Email address</key>
                                <value use-empty-fallback highlight="@(!(match.MatchedAttributes.Contains(PersonMatchedAttribute.EmailAddress) || (string.IsNullOrEmpty(Model.RequestData!.EmailAddress) && string.IsNullOrEmpty(match.EmailAddress))))">
                                    @match.EmailAddress
                                </value>
                            </row>
                            <row>
                                <key>NI number</key>
                                <value use-empty-fallback highlight="@(!(match.MatchedAttributes.Contains(PersonMatchedAttribute.NationalInsuranceNumber) || (string.IsNullOrEmpty(Model.RequestData!.NationalInsuranceNumber) && string.IsNullOrEmpty(match.NationalInsuranceNumber))))">
                                    @match.NationalInsuranceNumber
                                </value>
                            </row>
                            <row>
                                <key>Gender</key>
                            <value use-empty-fallback highlight="@(!(match.MatchedAttributes.Contains(PersonMatchedAttribute.Gender)  || (Model.RequestData!.Gender is null && match.Gender is null)))">
                                    @match.Gender?.GetDisplayName()
                                </value>
                            </row>
                            @if (showDuplicatesSideBySide)
                            {
                                // Add field so the fields line up when viewed side-by-side
                                <row>
                                    <key>Evidence</key>
                                    <value>Not applicable</value>
                                </row>
                            }
                        </govuk-summary-list>
                    </govuk-summary-card>
                }
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.MatchOutcome == MatchPersonsResultOutcome.PotentialMatches)
            {
                <govuk-radios for="PersonId">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend>
                            <h2 class="govuk-fieldset__legend--m">What do you want to do with the TRN request?</h2>
                        </govuk-radios-fieldset-legend>

                        @foreach (var match in Model.PotentialDuplicates!)
                        {
                            <govuk-radios-item value="@match.PersonId">
                                Merge it with Record @match.Identifier
                            </govuk-radios-item>
                        }

                        <govuk-radios-divider>or</govuk-radios-divider>

                        <govuk-radios-item value="@ResolveNpqTrnRequestState.CreateNewRecordPersonIdSentinel">
                            Create a new record
                        </govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
            }

            <div class="govuk-button-group">
                @if (Model.MatchOutcome == MatchPersonsResultOutcome.DefiniteMatch)
                {
                    <input type="hidden" asp-for="PersonId" value="@Model.PotentialDuplicates[0].PersonId" />
                    <govuk-button type="submit" data-testid="merge-record-button">Merge this request with Record A</govuk-button>
                }
                else if (Model.MatchOutcome == MatchPersonsResultOutcome.NoMatches)
                {
                    <input type="hidden" asp-for="PersonId" value="@ResolveNpqTrnRequestState.CreateNewRecordPersonIdSentinel" />
                    <govuk-button type="submit" data-testid="create-new-record-button">Create a record from this request</govuk-button>
                }
                else
                {
                    <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>
                }
                <govuk-button type="submit" formaction="@LinkGenerator.SupportTasks.NpqTrnRequests.Resolve.MatchesCancel(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" data-testid="cancel-button">Cancel</govuk-button>
            </div>
        </div>
    </div>
</form>
