@using TeachingRecordSystem.Core.Events
@using TeachingRecordSystem.Core.Services.Files
@inject IFileService FileService
@inject ReferenceDataCache ReferenceDataCache
@model TimelineItem<TimelineEvent<AlertUpdatedEvent>>
@{
    var updatedEvent = Model.ItemModel.Event;
    var alert = updatedEvent.Alert;
    var oldAlert = updatedEvent.OldAlert;
    var alertType = alert.AlertTypeId is not null ? await ReferenceDataCache.GetAlertTypeById(alert.AlertTypeId.Value) : null;
    var evidenceFileUrl = updatedEvent.EvidenceFile is not null ? await FileService.GetFileUrl(updatedEvent.EvidenceFile!.FileId, TimeSpan.FromMinutes(15)) : null;
    var heading = "changed";
    var hasMultipleChanges = (updatedEvent.Changes & (updatedEvent.Changes - 1)) != 0;
    if (!hasMultipleChanges)
    {
        if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.Details))
        {
            heading = "details changed";
        }
        else if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.ExternalLink))
        {
            heading = "link changed";
        }
        else if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.StartDate))
        {
            heading = "start date changed";
        }
        else if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.EndDate))
        {
            if (alert.EndDate is null)
            {
                heading = "re-opened";
            }
            else if (oldAlert.EndDate is null)
            {
                heading = "closed";
            }
            else
            {
                heading = "end date changed";
            }            
        }
        else if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.DqtSpent))
        {
            heading = "DQT spent changed";
        }
        else if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.DqtSanctionCode))
        {
            heading = "DQT sanction code changed";
        }
    }
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-alert-deleted-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Alert @heading</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-summary-list>
            @if (alertType is not null)
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Alert type</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="alert-type" use-empty-fallback>@alertType?.Name</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            else
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>DQT sanction code</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="sanction-code" use-empty-fallback>@alert.DqtSanctionCode?.Value</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>DQT sanction name</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="sanction-name" use-empty-fallback>@alert.DqtSanctionCode?.Name</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="start-date" use-empty-fallback>@alert.StartDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.Details))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Details</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="details" use-empty-fallback>@alert.Details</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }

            @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.ExternalLink))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>External link</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="external-link" use-empty-fallback>@alert.ExternalLink</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }

            @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.EndDate))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>End date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="end-date" use-empty-fallback>@alert.EndDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }

            @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.DqtSpent))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>DQT spent</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="dqt-spent" use-empty-fallback>@alert.DqtSpent</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }

            @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.DqtSanctionCode))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>DQT sanction code</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="dqt-sanction-code" use-empty-fallback>@alert.DqtSanctionCode</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
        </govuk-summary-list>

        <govuk-details class="govuk-!-margin-bottom-2">
            <govuk-details-summary>Reason for change</govuk-details-summary>
            <govuk-details-text>
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Reason</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="reason" use-empty-fallback>@updatedEvent.ChangeReason</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Reason details</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @if (updatedEvent.ChangeReasonDetail is not null)
                            {
                                <multi-line-text text="@updatedEvent.ChangeReasonDetail" />
                            }
                            else
                            {
                                <span use-empty-fallback></span>
                            }
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Evidence</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @if (evidenceFileUrl is not null)
                            {
                                <a href="@evidenceFileUrl" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="uploaded-evidence-link">@($"{updatedEvent.EvidenceFile!.Name} (opens in new tab)")</a>
                            }
                            else
                            {
                                <span data-testid="uploaded-evidence-link" use-empty-fallback></span>
                            }
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>

        @if (heading != "closed")
        {
            <govuk-details class="govuk-!-margin-bottom-2" data-testid="previous-data">
                <govuk-details-summary>Previous data</govuk-details-summary>
                <govuk-details-text>
                    <govuk-summary-list>
                        @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.StartDate))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value data-testid="start-date" use-empty-fallback>@oldAlert.StartDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }

                        @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.Details))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Details</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value data-testid="details" use-empty-fallback>@oldAlert.Details</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }

                        @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.ExternalLink))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>External link</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value data-testid="external-link" use-empty-fallback>@oldAlert.ExternalLink</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }

                        @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.EndDate))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>End date</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value data-testid="end-date" use-empty-fallback>@oldAlert.EndDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }

                        @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.DqtSpent))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>DQT spent</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value data-testid="dqt-spent" use-empty-fallback>@oldAlert.DqtSpent</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }

                        @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.DqtSanctionCode))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>DQT sanction code</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value data-testid="sanction-code" use-empty-fallback>@oldAlert.DqtSanctionCode?.Value</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>DQT sanction name</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value data-testid="sanction-name" use-empty-fallback>@oldAlert.DqtSanctionCode?.Name</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                    </govuk-summary-list>
                </govuk-details-text>
            </govuk-details>
        }        
    </div>
</div>
