@using TeachingRecordSystem.Core.Events
@using TeachingRecordSystem.Core.Events.Legacy
@using TeachingRecordSystem.Core.Services.Files
@inject IFileService FileService
@inject ReferenceDataCache ReferenceDataCache
@model TimelineItem<TimelineEvent<TeachingRecordSystem.Core.Events.Legacy.ApiTrnRequestSupportTaskUpdatedEvent>>
@{
    var applicationUser = Model.ItemModel.ApplicationUser;

    var title = applicationUser is ApplicationUserInfo userInfo
        ? $"Record updated from {userInfo.Name} TRN request"
        : $"Record updated from TRN request of unknown source";

    var updatedEvent = Model.ItemModel.Event;
    var requestData = updatedEvent.RequestData;
    var attributes = updatedEvent.PersonAttributes;
    var oldAttributes = updatedEvent.OldPersonAttributes;
    var name = StringHelper.JoinNonEmpty(' ', attributes.FirstName, attributes.MiddleName, attributes.LastName);
    var oldName = oldAttributes != null
        ? StringHelper.JoinNonEmpty(' ', oldAttributes.FirstName, oldAttributes.MiddleName, oldAttributes.LastName)
        : null;
    var requestDataName = StringHelper.JoinNonEmpty(' ', requestData.FirstName, requestData.MiddleName, requestData.LastName);
    var requestDataPreviousName = StringHelper.JoinNonEmpty(' ', requestData.PreviousFirstName, requestData.PreviousLastName);

}
<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-details-updated-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">@title</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <div data-testid="details">
            <govuk-summary-list>
                @if (updatedEvent.Changes.HasAnyFlag(ApiTrnRequestSupportTaskUpdatedEventChanges.PersonNameChange)) {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@name</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                @if (updatedEvent.Changes.HasFlag(ApiTrnRequestSupportTaskUpdatedEventChanges.PersonDateOfBirth)) {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@attributes.DateOfBirth?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                @if (updatedEvent.Changes.HasFlag(ApiTrnRequestSupportTaskUpdatedEventChanges.PersonEmailAddress)) {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@attributes.EmailAddress</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                @if (updatedEvent.Changes.HasFlag(ApiTrnRequestSupportTaskUpdatedEventChanges.PersonNationalInsuranceNumber)) {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@attributes.NationalInsuranceNumber</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                @if (updatedEvent.Changes.HasFlag(ApiTrnRequestSupportTaskUpdatedEventChanges.PersonGender)) {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Gender</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@attributes.Gender?.GetDisplayName()</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
            </govuk-summary-list>
        </div>

        <govuk-details class="govuk-!-margin-bottom-2" data-testid="change-reason">
            <govuk-details-summary>Reason for change</govuk-details-summary>
            <govuk-details-text>
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Reason</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>Identified as same person during task resolution</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Comments</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@updatedEvent.Comments</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>

        <govuk-details class="govuk-!-margin-bottom-2" data-testid="request-data">
            <govuk-details-summary>TRN request data</govuk-details-summary>
            <govuk-details-text>
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Source</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @if (applicationUser is not null)
                            {
                                <tag color="TagColor.Auto">@applicationUser.Name</tag>
                            }
                            else
                            {
                                <span use-empty-fallback></span>
                            }
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Request ID</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@requestData.RequestId</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Created on</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@requestData.CreatedOn.ToString(UiDefaults.DateTimeDisplayFormat)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>
                            @Html.ConvertNewlinesToLineBreaks(requestDataName)
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Previous name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>
                            @Html.ConvertNewlinesToLineBreaks(requestDataPreviousName)
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@requestData.DateOfBirth.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@requestData.EmailAddress</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@requestData.NationalInsuranceNumber</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Gender</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@requestData.Gender?.GetDisplayName()</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>

        @if (oldAttributes != null)
        {
            <govuk-details class="govuk-!-margin-bottom-2" data-testid="previous-details">
                <govuk-details-summary>Previous details</govuk-details-summary>
                <govuk-details-text>
                    <govuk-summary-list>
                        @if (updatedEvent.Changes.HasAnyFlag(ApiTrnRequestSupportTaskUpdatedEventChanges.PersonNameChange))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback>@oldName</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                        @if (updatedEvent.Changes.HasFlag(ApiTrnRequestSupportTaskUpdatedEventChanges.PersonDateOfBirth))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback>@oldAttributes.DateOfBirth?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                        @if (updatedEvent.Changes.HasFlag(ApiTrnRequestSupportTaskUpdatedEventChanges.PersonEmailAddress))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback>@oldAttributes.EmailAddress</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                        @if (updatedEvent.Changes.HasFlag(ApiTrnRequestSupportTaskUpdatedEventChanges.PersonNationalInsuranceNumber))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback>@oldAttributes.NationalInsuranceNumber</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                        @if (updatedEvent.Changes.HasFlag(ApiTrnRequestSupportTaskUpdatedEventChanges.PersonGender))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Gender</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback>@oldAttributes.Gender?.GetDisplayName()</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                    </govuk-summary-list>
                </govuk-details-text>
            </govuk-details>
        }
    </div>
</div>
