@using TeachingRecordSystem.Core.Events
@using TeachingRecordSystem.Core.Events.Legacy
@using TeachingRecordSystem.Core.Services.Files
@using ChangeNameRequestSupportTaskApprovedEvent = LegacyEvents.ChangeNameRequestSupportTaskApprovedEvent;
@inject IFileService FileService
@model TimelineItem<TimelineEvent<TeachingRecordSystem.Core.Events.Legacy.ChangeNameRequestSupportTaskApprovedEvent>>
@{
    var supportTaskEvent = Model.ItemModel.Event;
    var details = supportTaskEvent.PersonAttributes;
    var oldDetails = supportTaskEvent.OldPersonAttributes;
    var name = StringExtensions.JoinNonEmpty(' ', details.FirstName, details.MiddleName, details.LastName);
    var oldName = StringExtensions.JoinNonEmpty(' ', oldDetails.FirstName, oldDetails.MiddleName, oldDetails.LastName);
}
<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-name-request-approved-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Change request accepted</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <div data-testid="details">
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@name</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Request type</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>Name change</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Date of request</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@supportTaskEvent.CreatedUtc.ToString(WebConstants.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                </govuk-summary-list-row>

            </govuk-summary-list>
        </div>

        <govuk-details class="govuk-!-margin-bottom-2" data-testid="previous-details">
            <govuk-details-summary>Previous data</govuk-details-summary>
            <govuk-details-text>
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@oldName</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>
    </div>
</div>
