@using TeachingRecordSystem.Core.Events
@model TimelineItem<TimelineEvent<MandatoryQualificationDqtDeactivatedEvent>>
@{
    var deactivatedEvent = Model.ItemModel.Event;
    var mandatoryQualification = deactivatedEvent.MandatoryQualification;
    var raisedByUser = Model.ItemModel.RaisedByUser;
    var raisedBy = deactivatedEvent.RaisedBy.IsDqtUser ? (raisedByUser.DqtUser?.Name ?? "Unknown") : (raisedByUser.User?.Name) ?? "Unknown";
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Mandatory qualification deactivated</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @raisedBy on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">
            @Model.Timestamp.ToString("dd MMMMM yyyy 'at' h:mm tt")
        </time>
    </p>
    <div class="moj-timeline__description">
        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Training provider</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="provider">@(mandatoryQualification.Provider is not null ? mandatoryQualification.Provider.Name : "None")</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Specialism</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="specialism">@(mandatoryQualification.Specialism.HasValue ? mandatoryQualification.Specialism.Value.GetTitle() : "None")</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="start-date">@(mandatoryQualification.StartDate.HasValue ? mandatoryQualification.StartDate.Value.ToString("d MMMM yyyy") : "None")</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Status</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="status">@(mandatoryQualification.Status.HasValue ? mandatoryQualification.Status.Value.GetTitle() : "None")</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>End date</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="end-date">@(mandatoryQualification.EndDate.HasValue ? mandatoryQualification.EndDate.Value.ToString("d MMMM yyyy") : "None")</govuk-summary-list-row-value>
            </govuk-summary-list-row>
        </govuk-summary-list>
    </div>
</div>
