@using TeachingRecordSystem.Core.Events
@using TeachingRecordSystem.Core.Services.Files
@inject IFileService FileService
@model TimelineItem<TimelineEvent<TeachingRecordSystem.Core.Events.Legacy.PersonCreatedEvent>>
@{
    var createdEvent = Model.ItemModel.Event;
    var details = createdEvent.PersonAttributes;
    var name = StringHelper.JoinNonEmpty(' ', details.FirstName, details.MiddleName, details.LastName);
    var email = EmailAddress.TryParse(details.EmailAddress, out var parsedEmail)
        ? parsedEmail.ToDisplayString()
        : details.EmailAddress;
    var nino = NationalInsuranceNumber.TryParse(details.NationalInsuranceNumber, out var parsedNino)
        ? parsedNino.ToDisplayString()
        : details.NationalInsuranceNumber;
    var evidenceFileUrl = createdEvent.EvidenceFile is not null
        ? await FileService.GetFileUrlAsync(createdEvent.EvidenceFile!.FileId, TimeSpan.FromMinutes(15))
        : null;
}
<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-created-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Record created</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <div data-testid="details">
            <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@name</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@details.DateOfBirth?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    @if (email is not null)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback>@email</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    }
                    @if (nino is not null)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback>@nino</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    }
                    @if (details.Gender is not null)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Gender</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback>@details.Gender?.GetDisplayName()</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    }
            </govuk-summary-list>
        </div>

        <govuk-details class="govuk-!-margin-bottom-2" data-testid="create-reason">
            <govuk-details-summary>Reason for creating record</govuk-details-summary>
            <govuk-details-text>
                <govuk-summary-list>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Reason</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback>@createdEvent.CreateReason</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Reason details</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @if (createdEvent.CreateReasonDetail is not null)
                                {
                                    <multi-line-text text="@createdEvent.CreateReasonDetail" />
                                }
                                else
                                {
                                    <span use-empty-fallback></span>
                                }
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Evidence</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                            <vc:event-evidence-file-link evidence-file="@createdEvent.EvidenceFile" />
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>
    </div>
</div>
