@page "/users/add/confirm"
@using TeachingRecordSystem.Core;
@using TeachingRecordSystem.Core.Legacy
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders

@model TeachingRecordSystem.SupportUi.Pages.Users.AddUser.ConfirmModel
@{
    ViewBag.Title = "Add a user";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Users.AddUser.Index()" />
}

@* Attach dynamic style to radios component by id *@
@{

    var compId = "trs-" + Guid.NewGuid().ToString("N");
}

@* Attach dynamic style to radios component by id *@
@section Styles {
    <style asp-add-nonce="true">
        [id="@compId"] {
            --trs-user-permission-columns: UserPermissionTypes.All.Count;
        }
    </style>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form action="@LinkGenerator.Users.AddUser.Confirm(Model.UserId!)" method="post">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-input for="Email" input-class="govuk-!-width-two-thirds" type="email" disabled="true">
                <govuk-input-label>Email address</govuk-input-label>
            </govuk-input>

            <govuk-input for="Name" input-class="govuk-!-width-two-thirds">
                <govuk-input-label>Name</govuk-input-label>
            </govuk-input>

            <govuk-radios for="@Model.Role" radios-class="trs-user-roles" id="@compId">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                        Role
                    </govuk-radios-fieldset-legend>

                    @foreach (var role in Model.RoleOptions)
                    {
                        <govuk-radios-item value="@role.Name">@role.DisplayName</govuk-radios-item>
                        <govuk-radios-divider>
                            <table class="govuk-table">
                                <caption class="govuk-table__caption govuk-table__caption--s">Permissions</caption>

                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        @foreach (var permission in role.Permissions)
                                        {
                                            <th scope="col" class="govuk-table__header">@permission.Type</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        @foreach (var permission in role.Permissions)
                                        {
                                            switch (permission.Level)
                                            {
                                                case UserPermissionLevel.Edit:
                                                    <td class="govuk-table__cell">
                                                        <tag color="TagColor.Green">Edit</tag>
                                                    </td>
                                                    break;

                                                case UserPermissionLevel.View:
                                                    <td class="govuk-table__cell">
                                                        <tag color="TagColor.LightBlue">View</tag>
                                                    </td>
                                                    break;

                                                default:
                                                    <td class="govuk-table__cell">
                                                        <tag color="TagColor.Grey">No</tag>
                                                    </td>
                                                    break;
                                            }
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </govuk-radios-divider>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit">Add user</govuk-button>
                <govuk-button-link class="govuk-button--secondary" href=@LinkGenerator.Users.Index()>Cancel and return to users</govuk-button-link>
            </div>
        </form>
    </div>
</div>
