@using TeachingRecordSystem.Core.Events.ChangeReasons
@inject ReferenceDataCache ReferenceDataCache
@model TimelineItem<TimelineProcess>
@{
    var updatedEvent = Model.ItemModel.GetEvent<AlertUpdatedEvent>();
    var alert = updatedEvent.Alert;
    var oldAlert = updatedEvent.OldAlert;
    TrsUriHelper.TryCreateWebsiteUri(alert.ExternalLink, out var externalLinkUri);
    TrsUriHelper.TryCreateWebsiteUri(oldAlert.ExternalLink, out var oldExternalLinkUri);
    var alertType = alert.AlertTypeId is not null ? await ReferenceDataCache.GetAlertTypeByIdAsync(alert.AlertTypeId.Value) : null;
    var changeReason = Model.ItemModel.Process.ChangeReason as ChangeReasonWithDetailsAndEvidence;

    var heading = "changed";
    var hasMultipleChanges = (updatedEvent.Changes & (updatedEvent.Changes - 1)) != 0;
    if (!hasMultipleChanges)
    {
        if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.Details))
        {
            heading = "details changed";
        }
        else if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.ExternalLink))
        {
            heading = "link changed";
        }
        else if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.StartDate))
        {
            heading = "start date changed";
        }
        else if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.EndDate))
        {
            if (alert.EndDate is null)
            {
                heading = "re-opened";
            }
            else if (oldAlert.EndDate is null)
            {
                heading = "closed";
            }
            else
            {
                heading = "end date changed";
            }
        }
    }
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-process-id="@Model.ItemModel.Process.ProcessId">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Alert @heading</h2>
    </div>
    <p class="moj-timeline__date">
        <span>By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")">@Model.FormattedTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-summary-list>
            @if (alertType is not null)
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Alert type</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@alertType.Name</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            else
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>DQT sanction code</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@alert.DqtSanctionCode?.Value</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>DQT sanction name</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@alert.DqtSanctionCode?.Name</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
                <govuk-summary-list-row-value use-empty-fallback>@alert.StartDate?.ToString(WebConstants.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.Details))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Details</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>
                        @Html.ConvertNewlinesToLineBreaks(alert.Details)
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.ExternalLink))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>External link</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @if (alert.ExternalLink is not null)
                        {
                            <a href="@externalLinkUri" class="govuk-link" rel="noreferrer noopener" target="_blank">@($"{alert.ExternalLink} (opens in new tab)")</a>
                        }
                        else
                        {
                            <span use-empty-fallback></span>
                        }
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.EndDate))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>End date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@alert.EndDate?.ToString(WebConstants.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.DqtSpent))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>DQT spent</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@alert.DqtSpent</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.DqtSanctionCode))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>DQT sanction code</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@alert.DqtSanctionCode</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
        </govuk-summary-list>

        @if (changeReason is not null)
        {
            <govuk-details class="govuk-!-margin-bottom-2">
                <govuk-details-summary>Reason for change</govuk-details-summary>
                <govuk-details-text>
                    <govuk-summary-list>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Reason</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback>@changeReason.Reason</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Reason details</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback>
                                @Html.ConvertNewlinesToLineBreaks(changeReason.Details)
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Evidence</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                <vc:event-evidence-file-link evidence-file="@changeReason.EvidenceFile" />
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    </govuk-summary-list>
                </govuk-details-text>
            </govuk-details>
        }

        @if (heading != "closed")
        {
            <govuk-details class="govuk-!-margin-bottom-2" data-testid="previous-data">
                <govuk-details-summary>Previous data</govuk-details-summary>
                <govuk-details-text>
                    <govuk-summary-list>
                        @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.StartDate))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback>@oldAlert.StartDate?.ToString(WebConstants.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                        @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.Details))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Details</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback>
                                    @Html.ConvertNewlinesToLineBreaks(oldAlert.Details)
                                </govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                        @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.ExternalLink))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>External link</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    @if (oldAlert.ExternalLink is not null)
                                    {
                                        <a href="@oldExternalLinkUri" class="govuk-link" rel="noreferrer noopener" target="_blank">@($"{oldAlert.ExternalLink} (opens in new tab)")</a>
                                    }
                                    else
                                    {
                                        <span use-empty-fallback></span>
                                    }
                                </govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                        @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.EndDate))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>End date</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback>@oldAlert.EndDate?.ToString(WebConstants.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                        @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.DqtSpent))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>DQT spent</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback>@oldAlert.DqtSpent</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                        @if (updatedEvent.Changes.HasFlag(AlertUpdatedEventChanges.DqtSanctionCode))
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>DQT sanction code</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback>@oldAlert.DqtSanctionCode</govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                    </govuk-summary-list>
                </govuk-details-text>
            </govuk-details>
        }
    </div>
</div>
