@page "/persons/{PersonId}/disconnect-one-login/{oneLoginSubject}/check-answers"
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.DisconnectOneLogin.CheckAnswers
@{
    Layout = "_Layout";
    ViewBag.Title = "Check details before disconnecting GOV.UK One Login from record";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link"
                     href="@LinkGenerator.Persons.PersonDetail.DisconnectOneLogin.Verified(Model.PersonId, Model.OneLoginSubject, Model!.JourneyInstance!.InstanceId)">
        Back
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form
            method="post" data-testid="submit-form">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>
            <govuk-summary-list>
                <row>
                    <key>GOV.UK One Login email address</key>
                    <value>@Model.EmailAddress</value>
                </row>
                <row>
                    <key>Why are you disconnecting GOV.UK One Login from this record?
                    </key>
                    <value>
                        <div data-testid="disconnect-reason">
                            @Model.Reason?.GetDisplayName()
                        </div>
                        @if (!string.IsNullOrEmpty(Model.Detail))
                        {
                            <div data-testid="disconnect-reason-detail">@Model.Detail</div>
                        }
                    </value>
                    <row-actions>
                        <action
                            href="@LinkGenerator.Persons.PersonDetail.DisconnectOneLogin.Index(Model.PersonId, Model.OneLoginSubject, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)"
                            visually-hidden-text="disconnect reason">Change
                        </action>
                    </row-actions>
                </row>
                <row>
                    <key>Should this One Login User remain verified?</key>
                    <value>
                        @Model.StayVerified?.GetDisplayName()
                    </value>
                    <row-actions>
                        <action
                            href="@LinkGenerator.Persons.PersonDetail.DisconnectOneLogin.Verified(Model.PersonId, Model.OneLoginSubject, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)"
                            visually-hidden-text="remain verified">Change
                        </action>
                    </row-actions>
                </row>
            </govuk-summary-list>


            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Confirm and disconnect account</govuk-button>
                <govuk-button data-testid="cancel-button"
                              formaction="@LinkGenerator.Persons.PersonDetail.DisconnectOneLogin.CheckAnswersCancel(Model.PersonId!, Model.OneLoginSubject, Model.JourneyInstance!.InstanceId)"
                              class="govuk-button--secondary" type="submit">Cancel
                </govuk-button>
            </div>
        </form>
    </div>
</div>
