@page "/persons/{personId}/disconnect-one-login/{oneLoginSubject}"
@using TeachingRecordSystem.Core.Services.Persons
@model Index
@{
    Layout = "_Layout";
    ViewBag.Title = "Why are you disconnecting this GOV.UK One Login from this record?";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post">
            <span class="govuk-caption-l" data-testid="disconnect-caption">Record Management</span>

            <h1 class="govuk-heading-l">Why are you disconnecting this GOV.UK One Login from this record?</h1>

            <govuk-inset-text>
                You’re disconnecting the GOV.UK One Login email address @Model.EmailAddress from this
                record. You’ll be able to review the details before confirming.
            </govuk-inset-text>

            <govuk-radios for="Reason" data-testid="reason-for-disconnecting-options">
                <govuk-radios-item value="@nameof(DisconnectOneLoginReason.ConnectedIncorrectly)">
                    @DisconnectOneLoginReason.ConnectedIncorrectly.GetDisplayName()
                </govuk-radios-item>
                <govuk-radios-item value="@nameof(DisconnectOneLoginReason.NewInformation)">
                    @DisconnectOneLoginReason.NewInformation.GetDisplayName()
                </govuk-radios-item>
                <govuk-radios-item value="@nameof(DisconnectOneLoginReason.AnotherReason)">
                    @DisconnectOneLoginReason.AnotherReason.GetDisplayName()

                    <govuk-radios-item-conditional for="Details" data-testid="disconnect-reason-detail">
                        <govuk-character-count for="ReasonDetail"
                                               max-length="UiDefaults.ReasonDetailsMaxCharacterCount"
                                               rows="UiDefaults.ReasonDetailsRows">
                            <govuk-character-count-label>Enter details</govuk-character-count-label>
                        </govuk-character-count>
                    </govuk-radios-item-conditional>
                </govuk-radios-item>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>
                <govuk-button data-testid="cancel-button"
                              formaction="@LinkGenerator.Persons.PersonDetail.DisconnectOneLogin.Cancel(Model.PersonId, Model.OneLoginSubject!, Model.JourneyInstance!.InstanceId)"
                              class="govuk-button--secondary" type="submit">Cancel and return to record
                </govuk-button>
            </div>

        </form>
    </div>
</div>
