@page "/one-logins/{oneLoginUserSubject}/disconnect-person/{personId}/check-answers"
@model TeachingRecordSystem.SupportUi.Pages.OneLogins.OneLoginDetail.DisconnectPerson.CheckAnswers
@{
    Layout = "_Layout";
    ViewBag.Title = "Check details before disconnecting this record from GOV.UK One Login";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link"
                     href="@LinkGenerator.OneLogins.OneLoginDetail.DisconnectPerson.Verified(Model.OneLoginUserSubject, Model.PersonId, Model!.JourneyInstance!.InstanceId)">
        Back
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form
            method="post" data-testid="submit-form">
            <span class="govuk-caption-l" data-testid="disconnect-caption">Record Management</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>
            <govuk-summary-list>
                <row>
                    <key>Person</key>
                    <value>@Model.PersonName</value>
                </row>
                <row>
                    <key>Why are you disconnecting this record from GOV.UK One Login?</key>
                    <value>
                        <div data-testid="disconnect-reason">
                            @Model.Reason?.GetDisplayName()
                        </div>
                        @if (!string.IsNullOrEmpty(Model.Detail))
                        {
                            <div data-testid="disconnect-reason-detail">@Model.Detail</div>
                        }
                    </value>
                    <row-actions>
                        <action
                            href="@LinkGenerator.OneLogins.OneLoginDetail.DisconnectPerson.Index(Model.OneLoginUserSubject, Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)"
                            visually-hidden-text="disconnect reason">Change
                        </action>
                    </row-actions>
                </row>
                <row>
                    <key>Should this GOV.UK One Login stay verified?</key>
                    <value>
                        @Model.StayVerified?.GetDisplayName()
                    </value>
                    <row-actions>
                        <action
                            href="@LinkGenerator.OneLogins.OneLoginDetail.DisconnectPerson.Verified(Model.OneLoginUserSubject, Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)"
                            visually-hidden-text="stay verified">Change
                        </action>
                    </row-actions>
                </row>
            </govuk-summary-list>


            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Confirm and disconnect</govuk-button>
                <govuk-button data-testid="cancel-button"
                              formaction="@LinkGenerator.OneLogins.OneLoginDetail.DisconnectPerson.CheckAnswersCancel(Model.OneLoginUserSubject!, Model.PersonId, Model.JourneyInstance!.InstanceId)"
                              class="govuk-button--secondary" type="submit">Cancel
                </govuk-button>
            </div>
        </form>
    </div>
</div>
