@page "/one-logins/{oneLoginUserSubject}/disconnect-person/{personId}"
@using TeachingRecordSystem.Core.Services.OneLogin
@model Index
@{
    Layout = "_Layout";
    ViewBag.Title = "Why are you disconnecting this record from GOV.UK One Login?";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post">
            <span class="govuk-caption-l" data-testid="disconnect-caption">Record Management</span>

            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-inset-text>
                You’re disconnecting the record from the GOV.UK One Login.
                You’ll be able to review the details before confirming.
            </govuk-inset-text>

            <govuk-radios for="Reason" data-testid="reason-for-disconnecting-options">
                <govuk-radios-item value="@nameof(DisconnectPersonReason.ConnectedIncorrectly)">
                    @DisconnectPersonReason.ConnectedIncorrectly.GetDisplayName()
                </govuk-radios-item>
                <govuk-radios-item value="@nameof(DisconnectPersonReason.NewInformation)">
                    @DisconnectPersonReason.NewInformation.GetDisplayName()
                </govuk-radios-item>
                <govuk-radios-item value="@nameof(DisconnectPersonReason.AnotherReason)">
                    @DisconnectPersonReason.AnotherReason.GetDisplayName()

                    <govuk-radios-item-conditional for="Details" data-testid="disconnect-reason-detail">
                        <govuk-character-count for="ReasonDetail"
                                               max-length="UiDefaults.ReasonDetailsMaxCharacterCount"
                                               rows="UiDefaults.ReasonDetailsRows">
                            <govuk-character-count-label>Enter details</govuk-character-count-label>
                        </govuk-character-count>
                    </govuk-radios-item-conditional>
                </govuk-radios-item>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" name="Cancel" value="true"
                              class="govuk-button--secondary" type="submit">Cancel</govuk-button>
            </div>
        </form>
    </div>
</div>
