@page "/mqs/{qualificationId}/specialism/check-answers/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.EditMq.Specialism.CheckAnswersModel
@{
    ViewBag.Title = "Check details before editing mandatory qualification";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Mqs.EditMq.Specialism.Reason(Model.QualificationId, Model.JourneyInstance!.InstanceId)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <span class="govuk-caption-l">Edit mandatory qualification - @Model.PersonName</span>
            <h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

            <govuk-summary-list data-testid="change-summary">
                <row>
                    <key>New specialism</key>
                    <value data-testid="new-specialism">@Model.NewSpecialism!.Value.GetTitle()</value>
                </row>
                <row>
                    <key>Previous specialism</key>
                    <value data-testid="current-specialism">@Model.CurrentSpecialism</value>
                </row>
            </govuk-summary-list>
            <h2 class="govuk-heading-m">Why are you editing this mandatory qualification?</h2>
            <govuk-summary-list data-testid="change-reason-summary">
                <row>
                    <key>Reason</key>
                    <value data-testid="change-reason">@Model.ChangeReason!.GetDisplayName()</value>
                </row>
                <row>
                    <key>More details</key>
                    <value data-testid="change-reason-detail">@Html.ConvertNewlinesToLineBreaks(!string.IsNullOrEmpty(Model.ChangeReasonDetail) ? Model.ChangeReasonDetail : "None")</value>
                </row>
                <row>
                    <key>Additional information</key>
                    <value data-testid="additional-information">@Html.ConvertNewlinesToLineBreaks(!string.IsNullOrEmpty(Model.AdditionalInformation) ? Model.AdditionalInformation : "None")</value>
                </row>
                <row>
                    <key>Evidence</key>
                    <value data-testid="evidence">
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile" />
                    </value>
                </row>
            </govuk-summary-list>

            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm and update qualification</govuk-button>
                <govuk-button formaction="@LinkGenerator.Mqs.EditMq.Specialism.CheckAnswersCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
