@page "/mqs/{qualificationId}/status/check-answers/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.EditMq.Status.CheckAnswersModel
@{
    ViewBag.Title = Model.IsEndDateChange && !Model.IsStatusChange
        ? "Check details before changing end date"
        : "Check details before changing status";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.MqEditStatusChangeReason(Model.QualificationId, Model.JourneyInstance!.InstanceId)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.MqEditStatusCheckAnswersConfirm(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Change a mandatory qualification - @Model.PersonName</span>
            <h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

            <govuk-summary-list data-testid="change-summary">
                @if (Model.IsStatusChange)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Current status</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="current-status">@(Model.CurrentStatus.HasValue ? Model.CurrentStatus.Value.GetTitle() : "None")</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>New status</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="new-status">@(Model.NewStatus.HasValue ? Model.NewStatus.Value.GetTitle() : "None")</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                @if (Model.IsEndDateChange)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Current end date</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="current-end-date">@(Model.CurrentEndDate.HasValue ? Model.CurrentEndDate!.Value.ToString(UiDefaults.DateOnlyDisplayFormat) : "None")</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>New end date</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="new-end-date">@(Model.NewEndDate.HasValue ? Model.NewEndDate!.Value.ToString(UiDefaults.DateOnlyDisplayFormat) : "None")</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Reason</govuk-summary-list-row-key>
                    @if (Model.IsEndDateChange && !Model.IsStatusChange)
                    {
                        <govuk-summary-list-row-value data-testid="change-reason">@Model.EndDateChangeReason!.GetDisplayName()</govuk-summary-list-row-value>
                    }
                    else
                    {
                        <govuk-summary-list-row-value data-testid="change-reason">@Model.StatusChangeReason!.GetDisplayName()</govuk-summary-list-row-value>
                    }
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>More details</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="change-reason-detail"><multi-line-text text="@(!string.IsNullOrEmpty(Model.ChangeReasonDetail) ? Model.ChangeReasonDetail : "None")" /></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Evidence</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="evidence">
                        @if (Model.UploadedEvidenceFileUrl is not null)
                        {
                            <a href="@Model.UploadedEvidenceFileUrl" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="uploaded-evidence-link">@($"{Model.EvidenceFileName} (opens in new tab)")</a>
                        }
                        else
                        {
                            <span>None</span>
                        }
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm change</govuk-button>
                <govuk-button formaction="@LinkGenerator.MqEditStatusCheckAnswersCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
