@page "/mqs/{qualificationId}/status/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.EditMq.Status.IndexModel
@{
    ViewBag.Title = "Status";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Persons.PersonDetail.Qualifications(Model.PersonId)">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.Mqs.EditMq.Status.Index(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Edit mandatory qualification - @Model.PersonName</span>

            <govuk-radios for="Status" data-testid="result-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--l">
                        @ViewBag.Title
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@MandatoryQualificationStatus.InProgress" data-testid="result-in-progress">
                        @MandatoryQualificationStatus.InProgress.GetTitle()
                    </govuk-radios-item>
                    <govuk-radios-item value="@MandatoryQualificationStatus.Deferred" data-testid="result-deferred">
                        @MandatoryQualificationStatus.Deferred.GetTitle()
                    </govuk-radios-item>
                    <govuk-radios-item value="@MandatoryQualificationStatus.Extended" data-testid="result-extended">
                        @MandatoryQualificationStatus.Extended.GetTitle()
                    </govuk-radios-item>
                    <govuk-radios-item value="@MandatoryQualificationStatus.Failed" data-testid="result-failed">
                        @MandatoryQualificationStatus.Failed.GetTitle()
                    </govuk-radios-item>
                    <govuk-radios-item value="@MandatoryQualificationStatus.Passed" data-testid="result-passed">
                        @MandatoryQualificationStatus.Passed.GetTitle()
                        <govuk-radios-item-conditional>
                            <govuk-date-input for="EndDate">
                                <govuk-date-input-fieldset>
                                    <govuk-date-input-fieldset-legend class="govuk-fieldset__legend--m">End date</govuk-date-input-fieldset-legend>
                                    <govuk-date-input-hint>For example, 27 3 2023</govuk-date-input-hint>
                                </govuk-date-input-fieldset>
                            </govuk-date-input>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@MandatoryQualificationStatus.Withdrawn" date-testid="result-withdrawn">
                        @MandatoryQualificationStatus.Withdrawn.GetTitle()
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button formaction="@LinkGenerator.Mqs.EditMq.Status.Cancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
