@model RouteDetailViewModel
<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Route</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.RouteToProfessionalStatusType.Name</govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Status</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.Status.GetTitle()</govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action data-testid="edit-status-link" href="@LinkGenerator.RouteEditStatus(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="status">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
        <govuk-summary-list-row-value use-empty-fallback>@Model.TrainingStartDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action data-testid="edit-start-date-link" href="@LinkGenerator.RouteEditStartAndEndDate(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="start date">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>End date</govuk-summary-list-row-key>
        <govuk-summary-list-row-value use-empty-fallback>@Model.TrainingEndDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action data-testid="edit-end-date-link" href="@LinkGenerator.RouteEditStartAndEndDate(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="end date">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

    @if (Model.AwardDateRequired != FieldRequirement.NotApplicable)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>Professional status date</govuk-summary-list-row-key>
            <govuk-summary-list-row-value use-empty-fallback>@Model.HoldsFrom?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
            <govuk-summary-list-row-actions>
                <govuk-summary-list-row-action data-testid="edit-holds-from-link" href="@LinkGenerator.RouteEditHoldsFrom(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="professional status date">Change</govuk-summary-list-row-action>
            </govuk-summary-list-row-actions>
        </govuk-summary-list-row>
    }
    @if (Model.HasInductionExemptionRequired != FieldRequirement.NotApplicable)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>Has exemption</govuk-summary-list-row-key>
            <govuk-summary-list-row-value use-empty-fallback>@(Model.IsExemptFromInduction.HasValue ? Model.IsExemptFromInduction.Value ? "Yes" : "No" : null)</govuk-summary-list-row-value>
            @if (!Model.HasImplicitExemption.HasValue || Model.HasImplicitExemption.HasValue && !Model.HasImplicitExemption.Value)
            {
                <govuk-summary-list-row-actions>
                    <govuk-summary-list-row-action data-testid="edit-induction-exemption-link" href="@LinkGenerator.RouteEditInductionExemption(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="induction exemption">Change</govuk-summary-list-row-action>
                </govuk-summary-list-row-actions>
            }
        </govuk-summary-list-row>
    }

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Training provider</govuk-summary-list-row-key>
        <govuk-summary-list-row-value use-empty-fallback>@Model.TrainingProvider</govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action data-testid="edit-training-provider-link" href="@LinkGenerator.RouteEditTrainingProvider(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="training provider">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Degree type</govuk-summary-list-row-key>
        <govuk-summary-list-row-value use-empty-fallback>@Model.DegreeType</govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action data-testid="edit-degree-type-link" href="@LinkGenerator.RouteEditDegreeType(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="degree type">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Country of training</govuk-summary-list-row-key>
        <govuk-summary-list-row-value use-empty-fallback>@Model.TrainingCountry</govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action data-testid="edit-country-link" href="@LinkGenerator.RouteEditTrainingCountry(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="training country">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
    <govuk-summary-list-row-key>Age range</govuk-summary-list-row-key>
    @if (Model.TrainingAgeSpecialismRangeFrom is not null && Model.TrainingAgeSpecialismRangeTo is not null)
    {
        <govuk-summary-list-row-value use-empty-fallback>@Model.TrainingAgeSpecialismRange</govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action data-testid="edit-age-range-link" href="@LinkGenerator.RouteEditAgeRangeSpecialism(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="age range">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    }
    else
    {
        <govuk-summary-list-row-value use-empty-fallback>@Model.TrainingAgeSpecialismType?.GetDisplayName()</govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action data-testid="edit-age-range-link" href="@LinkGenerator.RouteEditAgeRangeSpecialism(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="age range">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
        }
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Subjects</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @if (Model.TrainingSubjects is not null && Model.TrainingSubjects.Any())
            {
                <ul class="govuk-list">
                    @foreach (var subject in Model.TrainingSubjects)
                    {
                        <li>@subject</li>
                    }
                </ul>
            }
            else
            {
                <span use-empty-fallback></span>
            }
        </govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action data-testid="edit-subjects-link" href="@LinkGenerator.RouteEditTrainingSubjects(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="training subjects">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>
</govuk-summary-list>
