@page "/routes/{qualificationId}/edit/age-range/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.RoutesToProfessionalStatus.EditRoute.AgeRangeSpecialismModel
@{
    ViewBag.Title = Model.PageHeading;
}
@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == false ? LinkGenerator.RoutesToProfessionalStatus.EditRoute.Detail(Model.QualificationId, Model.JourneyInstance!.InstanceId) : LinkGenerator.RoutesToProfessionalStatus.EditRoute.CheckAnswers(Model.QualificationId, Model.JourneyInstance!.InstanceId))">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.AgeRangeSpecialism(Model.QualificationId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <span class="govuk-caption-l">@Model.PageCaption</span>
            <govuk-radios for="@Model.TrainingAgeSpecialism.AgeRangeType">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Model.PageHeading
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@TrainingAgeSpecialismType.FoundationStage">@TrainingAgeSpecialismType.FoundationStage.GetDisplayName()</govuk-radios-item>
                    <govuk-radios-item value="@TrainingAgeSpecialismType.KeyStage1">@TrainingAgeSpecialismType.KeyStage1.GetDisplayName()</govuk-radios-item>
                    <govuk-radios-item value="@TrainingAgeSpecialismType.KeyStage2">@TrainingAgeSpecialismType.KeyStage2.GetDisplayName()</govuk-radios-item>
                    <govuk-radios-item value="@TrainingAgeSpecialismType.KeyStage3">@TrainingAgeSpecialismType.KeyStage3.GetDisplayName()</govuk-radios-item>
                    <govuk-radios-item value="@TrainingAgeSpecialismType.KeyStage4">@TrainingAgeSpecialismType.KeyStage4.GetDisplayName()</govuk-radios-item>
                    <govuk-radios-item value="@TrainingAgeSpecialismType.FurtherEducation">@TrainingAgeSpecialismType.FurtherEducation.GetDisplayName()</govuk-radios-item>
                    <govuk-radios-divider>or</govuk-radios-divider>
                    <govuk-radios-item value="@TrainingAgeSpecialismType.Range">
                        Enter an age range
                        <govuk-radios-item-conditional>
                            <govuk-input class="govuk-input--width-2" for="TrainingAgeSpecialism.AgeRangeFrom" />
                            <govuk-input class="govuk-input--width-2" for="TrainingAgeSpecialism.AgeRangeTo" />
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.AgeRangeSpecialismCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
