@page "/routes/{qualificationId}/edit/change-reason/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.RoutesToProfessionalStatus.EditRoute.ChangeReasonModel
@{
    ViewBag.Title = "Change reason";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RouteChangeReason(Model.QualificationId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post" enctype="multipart/form-data">
            <span class="govuk-caption-l">Routes and professional status - @Model.PersonName</span>
            <govuk-radios asp-for="ChangeReason" data-testid="reason-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend data-testid="reason-options-legend" class="govuk-fieldset__legend--l" is-page-heading="true" />
                    <govuk-radios-item value="@ChangeReasonOption.IncompleteDetails">
                        @ChangeReasonOption.IncompleteDetails.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@ChangeReasonOption.NewInformation">
                        @ChangeReasonOption.NewInformation.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@ChangeReasonOption.NoLongerExemptFromInduction">
                        @ChangeReasonOption.NoLongerExemptFromInduction.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@ChangeReasonOption.AnotherReason">
                        @ChangeReasonOption.AnotherReason.GetDisplayName()
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-radios asp-for="HasAdditionalReasonDetail" data-testid="has-additional-reason_detail-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m" />
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional data-testid="additional-detail">
                            <govuk-character-count asp-for="ChangeReasonDetail" label-class="govuk-label--m" max-length="FileUploadDefaults.DetailMaxCharacterCount" rows="FileUploadDefaults.DetailTextAreaMinimumRows" />
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-radios asp-for="UploadEvidence" data-testid="upload-evidence-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m" />
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional>
                            @if (Model.EvidenceFileId is not null)
                            {
                                <span class="govuk-caption-m">Currently uploaded file</span>
                                <p class="govuk-body">
                                    <a href="@Model.UploadedEvidenceFileUrl" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="uploaded-evidence-link">@($"{Model.EvidenceFileName} ({Model.EvidenceFileSizeDescription})")</a>
                                </p>
                            }
                            <govuk-file-upload asp-for="EvidenceFile" input-accept=".bmp, .csv, .doc, .docx, .eml, .jpeg, .jpg, .mbox, .msg, .ods, .odt, .pdf, .png, .tif, .txt, .xls, .xlsx">
                                <govuk-file-upload-label>Upload a file</govuk-file-upload-label>
                            </govuk-file-upload>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.RouteChangeReasonCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
