@page "/routes/{qualificationId}/edit/check-answers/{handler?}"
@model CheckYourAnswersModel
@{
    ViewBag.Title = "Check details before editing route";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.CheckAnswers(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Edit route - @Model.PersonName</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>
            <partial name="_RouteDetail" model="@Model.RouteDetail" />

            <h2 class="govuk-heading-l">Why are you editing this route?</h2>
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Reason</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.ChangeReason?.GetDisplayName()</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.Reason(Model.QualificationId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)"
                                                        visually-hidden-text="reason">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>More details</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback="true">@Model.ChangeReasonDetail.ChangeReasonDetail</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.Reason(Model.QualificationId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)"
                                                       visually-hidden-text="more details">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Evidence</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="evidence">
                        <vc:evidence-file-link evidence-file="@Model.ChangeReasonDetail.Evidence.UploadedEvidenceFile" />
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.Reason(Model.QualificationId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)"
                                                       visually-hidden-text="evidence">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>

                </govuk-summary-list-row>
            </govuk-summary-list>
            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="confirm-button">Confirm and update route</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.CheckAnswersCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
