@page "/route/{qualificationId}/edit/check-answers/{handler?}"
@model             CheckYourAnswersModel
@{
    ViewBag.Title = "Check details and edit route";
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RouteCheckYourAnswers(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Routes and professional status - @Model.PersonName</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Route</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.RouteToProfessionalStatusName</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Status</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Status.GetDisplayName()</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.TrainingStartDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>End date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.TrainingEndDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Award date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.AwardedDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Has exemption</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@Model.ExemptionReason</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Training provider</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.TrainingProvider</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Degree type</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@Model.QualificationType</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Country of training</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@Model.TrainingCountry</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Age range</govuk-summary-list-row-key>
                    @if (Model.TrainingAgeSpecialismRangeFrom is not null && Model.TrainingAgeSpecialismRangeTo is not null)
                    {
                        <govuk-summary-list-row-value use-empty-fallback>@Model.TrainingAgeSpecialismRange</govuk-summary-list-row-value>
                    }
                    else
                    {
                        <govuk-summary-list-row-value use-empty-fallback>@Model.TrainingAgeSpecialismType?.GetDisplayName()</govuk-summary-list-row-value>
                    }
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Subjects</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @if (Model.TrainingSubjects is not null)
                        {
                            <ul class="govuk-list">
                            @foreach (var subject in Model.TrainingSubjects)
                            {
                                <li>@subject</li>
                            }
                            </ul>
                        }
                        else
                        {
                            <span use-empty-fallback></span>
                        }
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>
            <h2 class="govuk-heading-l">Why are you editing this route?</h2>
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Reason for change</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.ChangeReason!.GetDisplayName()</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Additional information</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.ChangeReasonDetail.ChangeReasonDetail</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Evidence</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="evidence">
                        @if (Model.ChangeReasonDetail.EvidenceFileId is not null)
                        {
                            <a href="@Model.GetEvidenceFileUrlAsync()" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="uploaded-evidence-link">@($"{Model.ChangeReasonDetail.EvidenceFileName} (opens in new tab)")</a>
                        }
                        else
                        {
                            <span use-empty-fallback></span>
                        }
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>
            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="confirm-button">Confirm and commit changes</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.RouteCheckYourAnswersCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
