@page "/route/{qualificationId}/edit/degree-type/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.RoutesToProfessionalStatus.EditRoute.DegreeTypeModel
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders
@{
    ViewBag.Title = Model.PageHeading;
}

@section Styles {
    <link rel="stylesheet" href="~/Styles/Components/accessible-autocomplete.min.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/Scripts/Components/accessible-autocomplete.min.js" asp-append-version="true"></script>
    <script asp-add-nonce="true">
        window.onload = function () {
            const selectElement = document.querySelector('#@nameof(Model.DegreeTypeId)');
            if (!selectElement) return;

            accessibleAutocomplete.enhanceSelectElement({
                defaultValue: '',
                selectElement: selectElement
            });

            setTimeout(() => {
                const inputElement = selectElement.parentElement.querySelector('.autocomplete__input');
                if (!inputElement) return;

                inputElement.addEventListener('input', () => {
                    if (inputElement.value === '') {
                        selectElement.value = '';
                    }
                });
            }, 0); // 0ms = defer to next event loop tick
        }
    </script>
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.RouteEditCheckYourAnswers(Model.QualificationId, Model.JourneyInstance!.InstanceId) :LinkGenerator.RouteEditDetail(Model.QualificationId, Model.JourneyInstance!.InstanceId))">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RouteEditDegreeType(Model.QualificationId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <span class="govuk-caption-l">@Model.PageCaption</span>
            <govuk-select asp-for="DegreeTypeId" label-class="govuk-label--l">
                <govuk-select-label is-page-heading="true">
                    @Model.PageHeading
                </govuk-select-label>
                <govuk-select-item value=""></govuk-select-item>
                @foreach (var degreeType in Model.DegreeTypes)
                {
                    <govuk-select-item value="@degreeType.DegreeTypeId" selected="@Model.DegreeTypeId==degreeType.DegreeTypeId">@degreeType.Name</govuk-select-item>
                }
            </govuk-select>
            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.RouteEditDegreeTypeCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
