@page "/routes/{qualificationId}/edit/holds-from/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.RoutesToProfessionalStatus.EditRoute.HoldsFromModel
@{
    ViewBag.Title = Model.PageHeading;
}

@section BeforeContent {
    <govuk-back-link href="@(Model.BackLink)">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator2.RoutesToProfessionalStatus.EditRoute.HoldsFrom(Model.QualificationId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <span class="govuk-caption-l">@Model.PageCaption</span>

            <govuk-date-input for="HoldsFrom">
                <govuk-date-input-fieldset>
                     <govuk-date-input-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l" >
                        @Model.PageHeading
                    </govuk-date-input-fieldset-legend>
                    <govuk-date-input-hint>For example, 27 3 2023</govuk-date-input-hint>
                </govuk-date-input-fieldset>
            </govuk-date-input>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator2.RoutesToProfessionalStatus.EditRoute.HoldsFromCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
