@page "/route/{qualificationId}/edit/subjects/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.RoutesToProfessionalStatus.EditRoute.SubjectSpecialismsModel
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders

@section Styles {
    <link rel="stylesheet" href="~/Styles/Components/accessible-autocomplete.min.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/Scripts/Components/accessible-autocomplete.min.js" asp-append-version="true"></script>
    <script asp-add-nonce="true">
        window.onload = function () {
            const selectIds = [
                '@nameof(Model.SubjectId1)',
                '@nameof(Model.SubjectId2)',
                '@nameof(Model.SubjectId3)'
            ];
            selectIds.forEach(id => {
                const selectElement = document.querySelector(`#${id}`);
                accessibleAutocomplete.enhanceSelectElement({
                    selectElement: selectElement,
                    defaultValue: '',
                    selectElement: document.querySelector(`#${id}`)
                });

                // Get the newly created input element
                const inputElement = selectElement.parentElement.querySelector("input");

                // Clear the select element when the input is cleared
                inputElement.addEventListener("input", function () {
                    if (inputElement.value === "") {
                        selectElement.value = "";
                    }
                });
            });
        }
    </script>
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.RouteCheckYourAnswers(Model.QualificationId, Model.JourneyInstance!.InstanceId) :LinkGenerator.RouteDetail(Model.QualificationId, Model.JourneyInstance!.InstanceId))">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RouteEditTrainingSubjects(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Routes and professional status - @Model.PersonName</span>
            <govuk-select asp-for="SubjectId1" label-class="govuk-label--l">
                <govuk-select-label is-page-heading="true" />
                <govuk-select-item value=""></govuk-select-item>
                @foreach (var subject in Model.Subjects)
                {
                    <govuk-select-item value="@subject.TrainingSubjectId" selected="@Model.SubjectId1==subject.TrainingSubjectId">@subject.Name</govuk-select-item>
                }
            </govuk-select>
            <govuk-details>
                <govuk-details-summary>Add additional subjects</govuk-details-summary>
                <govuk-details-text>
                    <govuk-select asp-for="SubjectId2" label-class="govuk-label--m">
                        <govuk-select-item value=""></govuk-select-item>
                        @foreach (var subject in Model.Subjects)
                        {
                            <govuk-select-item value="@subject.TrainingSubjectId" selected="@Model.SubjectId2==subject.TrainingSubjectId">@subject.Name</govuk-select-item>
                        }
                    </govuk-select>
                    <govuk-select asp-for="SubjectId3" label-class="govuk-label--m">
                        <govuk-select-item value=""></govuk-select-item>
                        @foreach (var subject in Model.Subjects)
                        {
                            <govuk-select-item value="@subject.TrainingSubjectId" selected="@Model.SubjectId3==subject.TrainingSubjectId">@subject.Name</govuk-select-item>
                        }
                    </govuk-select>
                </govuk-details-text>
            </govuk-details>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <a href="@LinkGenerator.RouteDetail(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-link">Cancel and return to record</a>
            </div>
        </form>
    </div>
</div>
