@page "/route/{qualificationId}/edit/subjects/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.RoutesToProfessionalStatus.EditRoute.SubjectSpecialismsModel
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders

@section Styles {
    <link rel="stylesheet" href="~/Styles/Components/accessible-autocomplete.min.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/Scripts/Components/accessible-autocomplete.min.js" asp-append-version="true"></script>
    <script asp-add-nonce="true">
        window.onload = function () {
            accessibleAutocomplete.enhanceSelectElement({
                defaultValue: '',
                selectElement: document.querySelector('#@nameof(Model.SubjectId1)')
            })
        }
    </script>
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.RouteDetail(Model.QualificationId, Model.JourneyInstance!.InstanceId) :LinkGenerator.RouteDetail(Model.QualificationId, Model.JourneyInstance!.InstanceId))">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RouteEditTrainingSubjects(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Routes and professional status - @Model.PersonName</span>
            <govuk-select asp-for="SubjectId1" label-class="govuk-label--l">
                <govuk-select-label is-page-heading="true" />
                <govuk-select-item value=""></govuk-select-item>
                @foreach (var subject in Model.Subjects)
                {
                    <govuk-select-item value="@subject.TrainingSubjectId" selected="@Model.SubjectId1==subject.TrainingSubjectId">@subject.Name</govuk-select-item>
                }
            </govuk-select>
            <govuk-accordion id="accordion-with-subject-section" heading-level="3">
                <govuk-accordion-item expanded="true">
                     <govuk-accordion-item-heading>Add additional subjects</govuk-accordion-item-heading>
                     <govuk-accordion-item-content>
                        <govuk-select asp-for="SubjectId2" label-class="govuk-label--m">
                            <govuk-select-item value=""></govuk-select-item>
                            @foreach (var subject in Model.Subjects)
                            {
                                <govuk-select-item value="@subject.TrainingSubjectId" selected="@Model.SubjectId2==subject.TrainingSubjectId">@subject.Name</govuk-select-item>
                            }
                        </govuk-select>
                        <govuk-select asp-for="SubjectId3" label-class="govuk-label--m">
                            <govuk-select-item value=""></govuk-select-item>
                            @foreach (var subject in Model.Subjects)
                            {
                                <govuk-select-item value="@subject.TrainingSubjectId" selected="@Model.SubjectId3==subject.TrainingSubjectId">@subject.Name</govuk-select-item>
                            }
                        </govuk-select>
                    </govuk-accordion-item-content>
                </govuk-accordion-item>
                </govuk-accordion>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.RouteEditTrainingSubjectsCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
