@page "/route/{qualificationId}/edit/subjects/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.RoutesToProfessionalStatus.EditRoute.SubjectSpecialismsModel
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders

@{
    ViewBag.Title = Model.PageHeading;
}

@section Styles {
    <link rel="stylesheet" href="~/Styles/Components/accessible-autocomplete.min.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/Scripts/Components/accessible-autocomplete.min.js" asp-append-version="true"></script>
    <script asp-add-nonce="true">
        window.onload = function () {
            const selectIds = [
                '@nameof(Model.SubjectId1)',
                '@nameof(Model.SubjectId2)',
                '@nameof(Model.SubjectId3)'
            ];
            selectIds.forEach(id => {
                const selectElement = document.querySelector(`#${id}`);
                accessibleAutocomplete.enhanceSelectElement({
                    defaultValue: '',
                    selectElement: selectElement
                });

            setTimeout(() => {
                const inputElement = selectElement.parentElement.querySelector('input');

                // Clear the select element when the input is cleared
                inputElement.addEventListener('input', function () {
                    if (inputElement.value === '') {
                        selectElement.value = '';
                    }
                });
            });
        }, 0); // 0ms = defer to next event loop tick
    }
    </script>
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.RouteEditCheckYourAnswers(Model.QualificationId, Model.JourneyInstance!.InstanceId) :LinkGenerator.RouteEditDetail(Model.QualificationId, Model.JourneyInstance!.InstanceId))">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RouteEditTrainingSubjects(Model.QualificationId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <span class="govuk-caption-l">@Model.PageCaption</span>
            <govuk-select asp-for="SubjectId1" label-class="govuk-label--l">
                <govuk-select-label is-page-heading="true">
                    @Model.PageHeading
                </govuk-select-label>
                <govuk-select-hint>Start typing the name of the subject</govuk-select-hint>
                <govuk-select-item value=""></govuk-select-item>
                @foreach (var subject in Model.Subjects)
                {
                    <govuk-select-item value="@subject.Id" selected="@Model.SubjectId1==subject.Id">@subject.DisplayName</govuk-select-item>
                }
            </govuk-select>
            <govuk-details>
                <govuk-details-summary>Add additional subjects</govuk-details-summary>
                <govuk-details-text>
                    <govuk-select asp-for="SubjectId2" label-class="govuk-label">
                        <govuk-select-item value=""></govuk-select-item>
                        @foreach (var subject in Model.Subjects)
                        {
                            <govuk-select-item value="@subject.Id" selected="@Model.SubjectId2==subject.Id">@subject.DisplayName</govuk-select-item>
                        }
                    </govuk-select>
                    <govuk-select asp-for="SubjectId3" label-class="govuk-label">
                        <govuk-select-item value=""></govuk-select-item>
                        @foreach (var subject in Model.Subjects)
                        {
                            <govuk-select-item value="@subject.Id" selected="@Model.SubjectId3==subject.Id">@subject.DisplayName</govuk-select-item>
                        }
                    </govuk-select>
                </govuk-details-text>
            </govuk-details>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.RouteEditTrainingSubjectsCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
