@page "/persons/{PersonId}/edit-induction/check-answers"
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.EditInduction.CheckAnswersModel
@{
    ViewBag.Title = "Check your answers";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form action="@LinkGenerator.Persons.PersonDetail.EditInduction.CheckAnswers(Model.PersonId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Induction - @Model.PersonName</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-summary-list data-testid="change-summary">
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Induction status</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.InductionStatus.GetTitle()</govuk-summary-list-row-value>
                    @if (Model.ShowStatusChangeLink)
                    {
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action
                                href="@LinkGenerator.Persons.PersonDetail.EditInduction.Status(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: JourneyFromCheckAnswersPage.CheckAnswers)"
                                visually-hidden-text="induction status">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    }
                    </govuk-summary-list-row>
                @if (Model.InductionStatus.RequiresStartDate())
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Induction started on</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.StartDate?.ToString(WebConstants.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                        @if (Model.ShowStartDateChangeLink)
                        {
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action
                                href="@LinkGenerator.Persons.PersonDetail.EditInduction.StartDate(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: JourneyFromCheckAnswersPage.CheckAnswers)"                              visually-hidden-text="start date">Change</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        }
                    </govuk-summary-list-row>
                }
                @if (Model.InductionStatus.RequiresCompletedDate())
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Induction completed on</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.CompletedDate?.ToString(WebConstants.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                        @if (Model.ShowCompletedDateChangeLink)
                        {
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action
                                href="@LinkGenerator.Persons.PersonDetail.EditInduction.CompletedDate(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: JourneyFromCheckAnswersPage.CheckAnswers)"                              visually-hidden-text="completed date">Change</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        }
                    </govuk-summary-list-row>
                }
                @if(Model.InductionStatus.RequiresExemptionReasons())
                {
                    <govuk-summary-list-row class="govuk-list--spaced">
                        <govuk-summary-list-row-key>Exemption reason</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @if (Model.SelectedExemptionReasonsValues is not null)
                            {
                                <ul class="govuk-list">
                                    @foreach (var exemptionReason in Model.SelectedExemptionReasonsValues)
                                    {
                                        <li>@exemptionReason</li>
                                    }
                                </ul>
                            }
                        </govuk-summary-list-row-value>
                        @if (Model.ShowExemptionReasonsChangeLink)
                        {
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action
                                href="@LinkGenerator.Persons.PersonDetail.EditInduction.ExemptionReasons(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: JourneyFromCheckAnswersPage.CheckAnswers)"                              visually-hidden-text="exemption reason">Change</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        }
                    </govuk-summary-list-row>
                }
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Reason for changing induction details</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.ChangeReason.GetDisplayName()</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action
                        href="@LinkGenerator.Persons.PersonDetail.EditInduction.Reason(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: JourneyFromCheckAnswersPage.CheckAnswers)"
                        visually-hidden-text="reason for change">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Reason details</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @if (Model.ChangeReasonDetail is not null)
                        {
                            @Html.ConvertNewlinesToLineBreaks(Model.ChangeReasonDetail)
                        }
                        else
                        {
                            <span use-empty-fallback></span>
                        }
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action
                            href="@LinkGenerator.Persons.PersonDetail.EditInduction.Reason(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: JourneyFromCheckAnswersPage.CheckAnswers)"
                            visually-hidden-text="reason details">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Do you have evidence to upload</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile" />
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action
                            href="@LinkGenerator.Persons.PersonDetail.EditInduction.Reason(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: JourneyFromCheckAnswersPage.CheckAnswers)"
                            visually-hidden-text="evidence">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="confirm-button">Confirm induction details</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.Persons.PersonDetail.EditInduction.CheckAnswersCancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
