@page "/persons/{PersonId}/edit-induction/exemption-reasons"
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.EditInduction.ExemptionReasonsModel
@{
    ViewBag.Title = "Exemption reasons";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator2.Persons.PersonDetail.EditInduction.ExemptionReasons(Model.PersonId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <span class="govuk-caption-l">Induction - @Model.PersonName</span>
            <h1 class="govuk-heading-l">Why are they exempt from induction?</h1>
            @if (Model.InductionExemptionFromRoutesMessages is not null)
            {
                foreach (var message in Model.InductionExemptionFromRoutesMessages)
                {
                    <govuk-inset-text>@message</govuk-inset-text>
                }
            }
            @if (Model.InductionExemptionReasonNotAvailableMessages is not null)
            {
                foreach (var message in Model.InductionExemptionReasonNotAvailableMessages)
                {
                    <govuk-inset-text>@message</govuk-inset-text>
                }
            }
            <govuk-checkboxes for="ExemptionReasonIds">
                <govuk-checkboxes-hint class="trs-checkboxes_hint">Select all that apply</govuk-checkboxes-hint>
                @foreach (var category in Model.ExemptionReasons)
                {
                    <govuk-checkboxes-divider class="trs-checkboxes__divider--heading-s">@category.Key.GetDisplayName()</govuk-checkboxes-divider>
                    @foreach (var exemptionReason in category.Value)
                    {
                        <govuk-checkboxes-item value="@exemptionReason.InductionExemptionReasonId" checked="@Model.ExemptionReasonIds.Contains(exemptionReason.InductionExemptionReasonId)">@exemptionReason.Name</govuk-checkboxes-item>
                    }
                }
            </govuk-checkboxes>
            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator2.Persons.PersonDetail.EditInduction.ExemptionReasonsCancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
