@page "/persons/{PersonId}/edit-induction/reason"
@using TeachingRecordSystem.Core.Services.Persons
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.EditInduction.ReasonModel
@{
    ViewBag.Title = "Change reason";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@LinkGenerator.Persons.PersonDetail.EditInduction.Reason(Model.PersonId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Induction - @Model.PersonName</span>
            <govuk-radios for="ChangeReason" data-testid="reason-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend data-testid="reason-options-legend" class="govuk-fieldset__legend--l" is-page-heading="true">Why are you changing the induction details?</govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@PersonInductionChangeReason.IncompleteDetails">
                        @PersonInductionChangeReason.IncompleteDetails.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@PersonInductionChangeReason.NewInformation">
                        @PersonInductionChangeReason.NewInformation.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@PersonInductionChangeReason.NoLongerExempt">
                        @PersonInductionChangeReason.NoLongerExempt.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@PersonInductionChangeReason.AnotherReason">
                        @PersonInductionChangeReason.AnotherReason.GetDisplayName()
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-radios for="HasAdditionalReasonDetail" data-testid="has-additional-reason_detail-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend data-testid="has-additional-reason_detail-options-legend">
                        <h2 class ="govuk-fieldset__legend--m">Do you want to add more information about why you’re changing the induction details?</h2>
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional data-testid="additional-detail">
                            <govuk-character-count for="ChangeReasonDetail" max-length="UiDefaults.ReasonDetailsMaxCharacterCount" rows="UiDefaults.ReasonDetailsRows">
                                <govuk-character-count-label>Add additional detail</govuk-character-count-label>
                            </govuk-character-count>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            @Html.EditorFor(m => m.Evidence)

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.Persons.PersonDetail.EditInduction.ReasonCancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
