@page "/persons"
@model TeachingRecordSystem.SupportUi.Pages.Persons.IndexModel
@{
    ViewBag.Title = "Find a record";
}

<h1 class="govuk-heading-l">@ViewBag.Title</h1>

<govuk-button-link href="@LinkGenerator2.Persons.AddPerson.Index()">Create a record</govuk-button-link>

<filter-layout>
    <filter-layout-filter>
        <filter>
            <filter-options>
                <govuk-input for="Search" label-class="govuk-label--s" spellcheck="false" />

                <govuk-checkboxes for="Statuses" class="govuk-checkboxes--small">
                    <govuk-checkboxes-fieldset>
                        <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--s" />
                        <govuk-checkboxes-item value="@PersonStatus.Active">
                            @PersonStatus.Active.GetDisplayName() (@Model.Facets![nameof(Model.Statuses)].GetValueOrDefault(PersonStatus.Active, 0))
                        </govuk-checkboxes-item>
                        <govuk-checkboxes-item value="@PersonStatus.Deactivated">
                            @PersonStatus.Deactivated.GetDisplayName() (@Model.Facets![nameof(Model.Statuses)].GetValueOrDefault(PersonStatus.Deactivated, 0))
                        </govuk-checkboxes-item>
                    </govuk-checkboxes-fieldset>
                </govuk-checkboxes>

                <govuk-select for="SortBy" label-class="govuk-label--s">
                    <govuk-select-item value="@PersonSearchSortByOption.LastNameAscending">@PersonSearchSortByOption.LastNameAscending.GetDisplayName()</govuk-select-item>
                    <govuk-select-item value="@PersonSearchSortByOption.LastNameDescending">@PersonSearchSortByOption.LastNameDescending.GetDisplayName()</govuk-select-item>
                    <govuk-select-item value="@PersonSearchSortByOption.FirstNameAscending">@PersonSearchSortByOption.FirstNameAscending.GetDisplayName()</govuk-select-item>
                    <govuk-select-item value="@PersonSearchSortByOption.FirstNameDescending">@PersonSearchSortByOption.FirstNameDescending.GetDisplayName()</govuk-select-item>
                    <govuk-select-item value="@PersonSearchSortByOption.DateOfBirthAscending">@PersonSearchSortByOption.DateOfBirthAscending.GetDisplayName()</govuk-select-item>
                    <govuk-select-item value="@PersonSearchSortByOption.DateOfBirthDescending">@PersonSearchSortByOption.DateOfBirthDescending.GetDisplayName()</govuk-select-item>
                </govuk-select>

                <div class="govuk-button-group">
                    <govuk-button type="submit">Apply filters</govuk-button>
                </div>
            </filter-options>
        </filter>
    </filter-layout-filter>

    <filter-layout-content>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
                    <th scope="col" class="govuk-table__header">Date of birth</th>
                    <th scope="col" class="govuk-table__header">TRN</th>
                    <th scope="col" class="govuk-table__header">National Insurance number</th>
                    <th scope="col" class="govuk-table__header">Record status</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @if (Model.SearchResults?.Count == 0)
                {
                    <tr class="govuk-table__row" data-testid="no-matches">
                        <td class="govuk-table__cell" colspan="5">No matching records</td>
                    </tr>
                }
                else
                {
                    @foreach (var personInfo in Model.SearchResults!)
                    {
                        <tr class="govuk-table__row" data-testid="person-@personInfo.PersonId">
                            <td class="govuk-table__cell" data-testid="name"><a href="@LinkGenerator2.Persons.PersonDetail.Index(personInfo.PersonId)" class="govuk-link">@personInfo.Name</a></td>
                            <td class="govuk-table__cell" data-testid="date-of-birth" use-empty-fallback>@(personInfo.DateOfBirth.HasValue ? personInfo.DateOfBirth.Value.ToString(UiDefaults.DateOnlyDisplayFormat) : string.Empty)</td>
                            <td class="govuk-table__cell" data-testid="trn" use-empty-fallback>@personInfo.Trn</td>
                            <td class="govuk-table__cell" data-testid="nino" use-empty-fallback>@personInfo.NationalInsuranceNumber</td>
                            <td class="govuk-table__cell" data-testid="status">@personInfo.PersonStatus</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <partial name="_Pagination" model="@Model.Pagination" />
    </filter-layout-content>
</filter-layout>
