@model RouteDetailViewModel
<govuk-summary-list>
    <row>
        <key>Route</key>
        <value>@Model.RouteToProfessionalStatusType.Name</value>
    </row>

    <row>
        <key>Status</key>
        <value>@Model.Status.GetTitle()</value>
        <row-actions>
            <action data-testid="edit-status-link" href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.Status(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="status">Change</action>
        </row-actions>
    </row>

    @if (Model.StartDateRequired != FieldRequirement.NotApplicable)
    {
        <row>
            <key>Start date</key>
            <value use-empty-fallback>@Model.TrainingStartDate?.ToString(WebConstants.DateDisplayFormat)</value>
            <row-actions>
                <action data-testid="edit-start-date-link" href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.StartAndEndDate(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="start date">Change</action>
            </row-actions>
        </row>
    }

    @if (Model.EndDateRequired != FieldRequirement.NotApplicable)
    {
        <row>
            <key>End date</key>
            <value use-empty-fallback>@Model.TrainingEndDate?.ToString(WebConstants.DateDisplayFormat)</value>
            <row-actions>
                <action data-testid="edit-end-date-link" href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.StartAndEndDate(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="end date">Change</action>
            </row-actions>
        </row>
    }

    @if (Model.HoldsFromRequired != FieldRequirement.NotApplicable)
    {
        <row>
            <key>Held since</key>
            <value use-empty-fallback>@Model.HoldsFrom?.ToString(WebConstants.DateDisplayFormat)</value>
            <row-actions>
                <action data-testid="edit-holds-from-link" href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.HoldsFrom(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="held since">Change</action>
            </row-actions>
        </row>
    }

    @if (Model.HasInductionExemptionRequired != FieldRequirement.NotApplicable)
    {
        <row>
            <key>Induction exemption</key>
            <value use-empty-fallback>@(Model.IsExemptFromInduction.HasValue ? Model.IsExemptFromInduction.Value ? "Yes" : "No" : null)</value>
            @if (!Model.HasImplicitExemption.HasValue || Model.HasImplicitExemption.HasValue && !Model.HasImplicitExemption.Value)
            {
                <row-actions>
                    <action data-testid="edit-induction-exemption-link" href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.InductionExemption(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="induction exemption">Change</action>
                </row-actions>
            }
        </row>
    }

    @if (Model.TrainingProviderRequired != FieldRequirement.NotApplicable)
    {
        <row>
            <key>Training provider</key>
            <value use-empty-fallback>@Model.TrainingProvider</value>
            <row-actions>
                <action data-testid="edit-training-provider-link" href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.TrainingProvider(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="training provider">Change</action>
            </row-actions>
        </row>
    }

    @if (Model.DegreeTypeRequired != FieldRequirement.NotApplicable)
    {
        <row>
            <key>Degree type</key>
            <value use-empty-fallback>@Model.DegreeType</value>
            <row-actions>
                <action data-testid="edit-degree-type-link" href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.DegreeType(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="degree type">Change</action>
            </row-actions>
        </row>
    }

    @if (Model.TrainingCountryRequired != FieldRequirement.NotApplicable)
    {
        <row>
            <key>Country of training</key>
            <value use-empty-fallback>@Model.TrainingCountry</value>
            <row-actions>
                <action data-testid="edit-country-link" href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.TrainingCountry(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="training country">Change</action>
            </row-actions>
        </row>
    }

    @if (Model.AgeSpecialismRequired != FieldRequirement.NotApplicable)
    {
        <row>
            <key>Age range</key>
            @if (Model.TrainingAgeSpecialismRangeFrom is not null && Model.TrainingAgeSpecialismRangeTo is not null)
            {
                <value use-empty-fallback>@Model.TrainingAgeSpecialismRange</value>
                <row-actions>
                    <action data-testid="edit-age-range-link" href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.AgeRangeSpecialism(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="age range">Change</action>
                </row-actions>
            }
            else
            {
                <value use-empty-fallback>@Model.TrainingAgeSpecialismType?.GetDisplayName()</value>
                <row-actions>
                    <action data-testid="edit-age-range-link" href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.AgeRangeSpecialism(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="age range">Change</action>
                </row-actions>
            }
        </row>
    }

    @if (Model.TrainingSubjectsRequired != FieldRequirement.NotApplicable)
    {
        <row>
            <key>Subjects</key>
            <value>
                @if (Model.TrainingSubjects is not null && Model.TrainingSubjects.Any())
                {
                    <ul class="govuk-list">
                        @foreach (var subject in Model.TrainingSubjects)
                        {
                            <li>@subject</li>
                        }
                    </ul>
                }
                else
                {
                    <span use-empty-fallback></span>
                }
            </value>
            <row-actions>
                <action data-testid="edit-subjects-link" href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.TrainingSubjects(Model.QualificationId, Model.JourneyInstanceId, Model.FromCheckAnswers)" visually-hidden-text="training subjects">Change</action>
            </row-actions>
        </row>
    }
</govuk-summary-list>
