@page "/support-tasks/connect-one-login-user/{supportTaskReference}/connect"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.ConnectOneLoginUser.ConnectModel
@{
    ViewBag.Title = "Confirm connect";
}

<form action="@LinkGenerator.ConnectOneLoginUserSupportTaskConnect(Model.SupportTaskReference!, Model.Trn!)" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Connect to a record - @Model.SupportTaskReference</span>
                @ViewBag.Title
            </h1>
        </div>
        <div class="govuk-grid-column-full">
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Email</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <partial name="_PersonDetail" model="@Model.PersonDetail" />

            <govuk-button type="submit">Connect record</govuk-button>
        </div>
    </div>
</form>
