@page "/alerts/{alertId}"
@model AlertDetailModel
@{
    ViewBag.Title = Model.Alert!.AlertType!.Name;
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Persons.PersonDetail.Alerts(Model.Alert.PersonId)">Back to record</govuk-back-link>
}

<h1 class="govuk-heading-l">@ViewBag.Title</h1>

<govuk-summary-list>
    <row>
        <key>Details</key>
        <value>
            @if (Model.Alert.Details is not null)
            {
                @Html.ConvertNewlinesToLineBreaks(Model.Alert.Details)
            }
            else
            {
                <span use-empty-fallback></span>
            }
        </value>
    </row>
    <row>
        <key>Link</key>
        <value>
            @if (Model.Alert.ExternalLink is not null)
            {
                <a href="@Model.ExternalLinkUri" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="link">@($"{Model.Alert.ExternalLink} (opens in new tab)")</a>
            }
            else
            {
                <span data-testid="link" use-empty-fallback></span>
            }
        </value>
    </row>
    <row>
        <key>Start date</key>
        <value use-empty-fallback>@Model.Alert.StartDate?.ToString(WebConstants.DateDisplayFormat)</value>
    </row>
    <row>
        <key>End date</key>
        <value use-empty-fallback>@Model.Alert.EndDate?.ToString(WebConstants.DateDisplayFormat)</value>
        @if (Model.CanEdit)
        {
            <row-actions>
                <action href="@LinkGenerator.Alerts.ReopenAlert.Index(Model.Alert.AlertId, journeyInstanceId: null)" visually-hidden-text="end date">Remove</action>
                <action href="@LinkGenerator.Alerts.EditAlert.EndDate.Index(Model.Alert.AlertId, journeyInstanceId: null)" visually-hidden-text="end date">Change</action>
            </row-actions>
        }
    </row>
    <row>
        <key>Reason for closing alert</key>
        <value use-empty-fallback>@Model.ChangeReason</value>
    </row>
    <row>
        <key>Reason details</key>
        <value>
            @if (Model.ChangeReasonDetail is not null)
            {
                @Html.ConvertNewlinesToLineBreaks(Model.ChangeReasonDetail)
            }
            else
            {
                <span use-empty-fallback></span>
            }
        </value>
    </row>
    <row>
        <key>Evidence</key>
        <value>
            @if (Model.UploadedEvidenceFileUrl is not null)
            {
                <a href="@Model.UploadedEvidenceFileUrl" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="uploaded-evidence-link">@($"{Model.EvidenceFileName} (opens in new tab)")</a>
            }
            else
            {
                <span data-testid="uploaded-evidence-link" use-empty-fallback></span>
            }
        </value>
    </row>

</govuk-summary-list>
