@page ""
@using Microsoft.AspNetCore.Authorization
@using TeachingRecordSystem.SupportUi.Infrastructure.Security
@inject IAuthorizationService AuthorizationService
@model IndexModel
@{
    ViewBag.Title = "Search";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">@ViewBag.Title</h1>

        <govuk-tabs>
            <govuk-tabs-item label="Records" id="records">
                <div class="govuk-!-margin-bottom-6">
                    <form action="@LinkGenerator.Persons.Index()" method="get" asp-antiforgery="false" data-testid="search-form">
                        <div class="govuk-!-margin-bottom-4">
                            <govuk-input name="Search" data-testid="search-input" type="search" autocomplete="off">
                                <govuk-input-label>
                                    Enter a name, email address, date of birth or TRN
                                </govuk-input-label>
                                <govuk-input-after-input>
                                    <govuk-button class="govuk-!-margin-bottom-0 govuk-!-margin-left-2 trs-!-height-full" type="submit">Search</govuk-button>
                                </govuk-input-after-input>
                            </govuk-input>
                        </div>
                    </form>
                </div>

                @if ((await AuthorizationService.AuthorizeAsync(User, AuthorizationPolicies.PersonDataEdit)).Succeeded)
                {
                    <p class="govuk-body">
                        <a href="@LinkGenerator.Persons.AddPerson.Index()" class="govuk-link">Or create a record</a>
                    </p>
                }
            </govuk-tabs-item>
            <govuk-tabs-item label="GOV.UK One Login" id="one-logins">
                <div class="govuk-!-margin-bottom-6">
                    <form action="@LinkGenerator.OneLogins.Index()" method="get" asp-antiforgery="false" data-testid="search-form-onelogin">
                        <div class="govuk-!-margin-bottom-4">
                            <govuk-input name="Search" id="OneLoginSearch" data-testid="search-input-onelogin" type="search" autocomplete="off">
                                <govuk-input-label>
                                    Enter a GOV.UK One Login email address, name, date of birth or TRN
                                </govuk-input-label>
                                <govuk-input-after-input>
                                    <govuk-button class="govuk-!-margin-bottom-0 govuk-!-margin-left-2 trs-!-height-full" type="submit">Search</govuk-button>
                                </govuk-input-after-input>
                            </govuk-input>
                        </div>
                    </form>
                </div>
            </govuk-tabs-item>
        </govuk-tabs>
    </div>
    @if ((await AuthorizationService.AuthorizeAsync(User, AuthorizationPolicies.SupportTasksEdit)).Succeeded)
    {
        <div class="govuk-grid-column-full">
            <div class="trs-task-tile-section">
                <div class="trs-task-tile-layout">
                    <div class="trs-task-panel">
                        <h3 class="govuk-heading-m">My tasks</h3>
                        <div class="trs-task-tile">
                            <div class="trs-task-tile__header">
                                <span class="trs-task-tile__count" data-testid="my-tasks-count">@Model.MyTasksCount</span>
                            </div>
                            <a class="govuk-link" href="@LinkGenerator.SupportTasks.Active(type: null, assignedToUserId: User.GetUserId(), statuses: new[] { SupportTaskStatus.Open, SupportTaskStatus.InProgress }, sortBy: null, sortDirection: null)">Tasks assigned to me</a>
                        </div>
                    </div>
                    <div class="trs-task-panel">
                        <h3 class="govuk-heading-m">Tasks overview</h3>
                        <div class="trs-task-tile-row">
                            <div class="trs-task-tile">
                                <div class="trs-task-tile__header">
                                    <span class="trs-task-tile__count" data-testid="unassigned-task-count">@Model.UnassignedCount</span>

                                    <tag color="TagColor.Yellow">Unassigned</tag>
                                </div>
                                <a class="govuk-link" href="@LinkGenerator.SupportTasks.Active(type: null, assignedToUserId: null, statuses: new[] { SupportTaskStatus.Open, SupportTaskStatus.InProgress }, sortBy: null, sortDirection: null)">Manage unassigned tasks</a>
                            </div>
                            <div class="trs-task-tile">
                                <div class="trs-task-tile__header">
                                    <span class="trs-task-tile__count" data-testid="in-progress-tasks-count">@Model.InProgressCount</span>

                                    <tag color="TagColor.LightBlue">In progress</tag>
                                </div>
                                <a class="govuk-link" href="@LinkGenerator.SupportTasks.Active(type: null, assignedToUserId: null, statuses: new[] { SupportTaskStatus.InProgress }, sortBy: null, sortDirection: null)">Manage tasks in progress</a>
                            </div>
                            <div class="trs-task-tile">
                                <div class="trs-task-tile__header">
                                    <span class="govuk-heading-s">Completed tasks</span>
                                </div>
                                <a class="govuk-link" href="@LinkGenerator.SupportTasks.Completed()">View completed tasks</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="govuk-grid-column-full">
        <div class="trs-tiles govuk-!-margin-top-5">
            @if ((await AuthorizationService.AuthorizeAsync(User, AuthorizationPolicies.SupportTasksEdit)).Succeeded)
            {
                <div class="trs-tile-section">
                    <h2 class="govuk-heading-m">TRN requests</h2>
                    <div class="trs-tile-row">
                        <a href="@LinkGenerator.SupportTasks.TrnRequests.Index()" class="trs-tile trs-tile--branded">
                            <span class="trs-tile__count">@Model.SupportTaskCounts!.GetValueOrDefault(SupportTaskType.TrnRequest)</span>
                            <span class="trs-tile__title">Potential duplicates via API</span>
                        </a>
                        <a href="@LinkGenerator.SupportTasks.TrnRequestManualChecksNeeded.Index()" class="trs-tile trs-tile--branded">
                            <span class="trs-tile__count">@Model.SupportTaskCounts!.GetValueOrDefault(SupportTaskType.TrnRequestManualChecksNeeded)</span>
                            <span class="trs-tile__title">Matched records –<br />manual checks needed</span>
                        </a>
                    </div>
                </div>
            }

            @if ((await AuthorizationService.AuthorizeAsync(User, AuthorizationPolicies.SupportTasksEdit)).Succeeded)
            {
                <div class="trs-tile-section">
                    <h2 class="govuk-heading-m">Record management</h2>
                    <div class="trs-tile-row">
                        <a href="@LinkGenerator.SupportTasks.ChangeRequests.Index()" class="trs-tile trs-tile--branded">
                            <span class="trs-tile__count">@(Model.SupportTaskCounts!.GetValueOrDefault(SupportTaskType.ChangeNameRequest) + Model.SupportTaskCounts!.GetValueOrDefault(SupportTaskType.ChangeDateOfBirthRequest))</span>
                            <span class="trs-tile__title">Name and date of birth change requests</span>
                        </a>
                        <a href="@LinkGenerator.SupportTasks.OneLoginUserMatching.IdVerification()" class="trs-tile trs-tile--branded">
                            <span class="trs-tile__count">@(Model.SupportTaskCounts!.GetValueOrDefault(SupportTaskType.OneLoginUserIdVerification))</span>
                            <span class="trs-tile__title">GOV.UK One Login – identity verification</span>
                        </a>
                        <a href="@LinkGenerator.SupportTasks.OneLoginUserMatching.RecordMatching()" class="trs-tile trs-tile--branded">
                            <span class="trs-tile__count">@(Model.SupportTaskCounts!.GetValueOrDefault(SupportTaskType.OneLoginUserRecordMatching))</span>
                            <span class="trs-tile__title">GOV.UK One Login – record matching</span>
                        </a>
                    </div>
                </div>
            }

            @if ((await AuthorizationService.AuthorizeAsync(User, AuthorizationPolicies.SupportTasksEdit)).Succeeded)
            {
                <div class="trs-tile-section">
                    <h2 class="govuk-heading-m">Third-party tasks</h2>
                    <div class="trs-tile-row">
                        <a href="@LinkGenerator.SupportTasks.IntegrationTransactions.Index()" class="trs-tile">
                            <span class="trs-tile__title">Integration transactions</span>
                        </a>
                        <a href="@LinkGenerator.SupportTasks.TeacherPensions.Index()" class="trs-tile">
                            <span class="trs-tile__count">@Model.SupportTaskCounts!.GetValueOrDefault(SupportTaskType.TeacherPensionsPotentialDuplicate)</span>
                            <span class="trs-tile__title">Potential duplicates via Teachers&rsquo; Pensions</span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
