@page "/support-tasks/change-requests/{supportTaskReference}/reject"
@using static TeachingRecordSystem.SupportUi.Pages.SupportTasks.ChangeRequests.EditChangeRequest.RejectModel;
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.ChangeRequests.EditChangeRequest.RejectModel
@{
    ViewBag.Title = "Reject the change";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.SupportTasks.ChangeRequests.EditChangeRequest.Index(Model.SupportTaskReference)" />
}

<span class="govuk-caption-l">@(Model.ChangeType == SupportTaskType.ChangeNameRequest ? "Change of Name" : "Change of Date of Birth") - @Model.PersonName</span>
<h1 class="govuk-heading-l">@ViewBag.Title</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.SupportTasks.ChangeRequests.EditChangeRequest.Reject(Model.SupportTaskReference)" method="post">
            <govuk-radios for="RejectionReasonChoice">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend>
                        <h3 class="govuk-heading-m">Reason for rejecting</h3>
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@CaseRejectionReasonOption.RequestAndProofDontMatch">
                        @CaseRejectionReasonOption.RequestAndProofDontMatch.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@CaseRejectionReasonOption.WrongTypeOfDocument">
                        @CaseRejectionReasonOption.WrongTypeOfDocument.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@CaseRejectionReasonOption.ImageQuality">
                        @CaseRejectionReasonOption.ImageQuality.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@CaseRejectionReasonOption.ChangeNoLongerRequired">
                        @CaseRejectionReasonOption.ChangeNoLongerRequired.GetDisplayName()
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">Reject</govuk-button>
        </form>
    </div>
</div>
