@page "/alerts/{alertId}/delete/check-answers/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Alerts.DeleteAlert.CheckAnswersModel
@{
    ViewBag.Title = "Check details before deleting alert";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Alerts.DeleteAlert.Index(Model.AlertId, Model.JourneyInstance!.InstanceId)">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <span class="govuk-caption-l">Delete alert - @Model.PersonName</span>
            <h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

            <govuk-summary-list>
                <row>
                    <key>Alert type</key>
                    <value data-testid="alert-type">@Model.AlertTypeName</value>
                </row>
                <row>
                    <key>Details</key>
                    <value data-testid="details">@Html.ConvertNewlinesToLineBreaks(Model.Details)</value>
                </row>
                <row>
                    <key>Link</key>
                    <value>
                        @if (Model.Link is not null)
                        {
                            <a href="@Model.LinkUri" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="link">@($"{Model.Link} (opens in new tab)")</a>
                        }
                        else
                        {
                            <span data-testid="link" use-empty-fallback></span>
                        }
                    </value>
                </row>
                <row>
                    <key>Start date</key>
                    <value data-testid="start-date">@Model.StartDate?.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
                <row>
                    <key>End date</key>
                    <value data-testid="end-date" use-empty-fallback>@Model.EndDate?.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
            </govuk-summary-list>

            <h2 class="govuk-heading-m">Why are you deleting this alert?</h2>

            <govuk-summary-list>
                <row>
                    <key>Reason</key>
                    <value>@Model.DeleteReason.GetDisplayName()</value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.DeleteAlert.Index(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="reason for change">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Additional information</key>
                    <value use-empty-fallback>
                        @Html.ConvertNewlinesToLineBreaks(Model.DeleteReasonDetail)
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.DeleteAlert.Index(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="reason details">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Evidence</key>
                    <value>
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile" />
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.DeleteAlert.Index(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="evidence">Change</action>
                    </row-actions>
                </row>
            </govuk-summary-list>

            <h2 class="govuk-heading-m">Are you sure you want to delete this alert?</h2>
            <div class="govuk-body">
                <span class="govuk-caption-m">Deleting this alert will permanently remove it from the system</span>
            </div>
            <div class="govuk-button-group">
                <govuk-button class="govuk-button--warning" type="submit">Confirm and delete alert</govuk-button>
                <govuk-button formaction="@LinkGenerator.Alerts.DeleteAlert.CheckAnswersCancel(Model.AlertId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
