@page "/legacy-users/{userId}/{handler?}"
@using TeachingRecordSystem.Core
@using TeachingRecordSystem.Core.Legacy
@model TeachingRecordSystem.SupportUi.Pages.LegacyUsers.EditUser
@{
    ViewBag.Title = $"Edit {Model.Name}";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.LegacyUsers()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@LinkGenerator.LegacyEditUser(Model.UserId)" method="post">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            @if (!Model.HasCrmAccount)
            {
                <govuk-warning-text icon-fallback-text="Warning" data-testid="no-crm-account-warning">User does not have an account in CRM.<br />Some functionality will not be available.</govuk-warning-text>
            }
            else if (Model.CrmAccountIsDisabled)
            {
                <govuk-warning-text icon-fallback-text="Warning" data-testid="disabled-crm-account-warning">User CRM account is disabled.<br />Some functionality will not be available.</govuk-warning-text>
            }
            else if (Model.DqtRoles is null || Model.DqtRoles.Length == 0)
            {
                <govuk-warning-text icon-fallback-text="Warning" data-testid="no-dqt-roles-warning">User does not have any roles in CRM.<br />Some functionality will not be available.</govuk-warning-text>
            }

            <govuk-input asp-for="Email" label-class="govuk-label--m" type="email" disabled />

            <govuk-input asp-for="Name" label-class="govuk-label--m" disabled="@(!Model.IsActiveUser)" />

            <govuk-checkboxes asp-for="Roles">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--m" />
                    @foreach (var role in LegacyUserRoles.All)
                    {
                        <govuk-checkboxes-item value="@role" disabled="@(!Model.IsActiveUser)">@LegacyUserRoles.GetDisplayNameForRole(role)</govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>

            @if (Model.DqtRoles?.Length > 0)
            {
                <h2 class="govuk-heading-m">DQT roles</h2>
                <ul class="govuk-list" data-testid="dqt-roles-list">
                    @foreach (var dqtRole in Model.DqtRoles!)
                    {
                        <li>@dqtRole</li>
                    }
                </ul>
            }

            @if (Model.IsActiveUser)
            {
                <div class="govuk-button-group">
                    <govuk-button type="submit">Save changes</govuk-button>
                    <govuk-button class="govuk-button--secondary" type="submit" asp-page-handler="deactivate">Deactivate</govuk-button>
                </div>
            }
            else
            {
                <govuk-button type="submit" asp-page-handler="activate">Reactivate</govuk-button>
            }
        </form>
    </div>
</div>
