@page "/persons/{personId}/induction"
@using TeachingRecordSystem.SupportUi.Pages.Common;
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.InductionModel;
@{
    Layout = "Layout";
    ViewBag.SelectedTab = PersonDetailSubNavigationTab.Induction;
    var person = HttpContext.Features.GetRequiredFeature<CurrentPersonFeature>();
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Persons.PersonDetail.Index(person.PersonId)" data-testid="induction-backlink">Back to record</govuk-back-link>
}

@if (!string.IsNullOrEmpty(Model.StatusWarningMessage))
{
    <govuk-warning-text icon-fallback-text="Warning" data-testid="induction-status-warning">@Model.StatusWarningMessage</govuk-warning-text>
}

@if (Model.HasQts)
{
    <govuk-summary-card data-testid="induction-card">
        <title data-testid="induction-title">Induction details</title>
        <govuk-summary-list>
            <row data-testid="induction-status">
                <key>Status</key>
                <value>@Model.Status.GetTitle()</value>
                @if (Model.CanWrite)
                {
                    <row-actions>
                        <action data-testid="change-induction-status" href="@LinkGenerator.Persons.PersonDetail.EditInduction.Status(person.PersonId, journeyInstanceId: null)" visually-hidden-text="status">Change</action>
                    </row-actions>
                }
            </row>

            @if (Model.ExemptionReasonIdsHeldOnPerson!.Length > 0)
            {
                <row class="govuk-list--spaced" data-testid="induction-exemption-reasons">
                    <key>Exemption reason</key>
                    <value>
                        @if (Model.ExemptionReasonNames is not null)
                        {
                            <ul class="govuk-list">
                                @foreach (var exemptionReason in Model.ExemptionReasonNames)
                                {
                                    <li>@exemptionReason</li>
                                }
                            </ul>
                        }
                    </value>
                    @if (Model.CanWrite)
                    {
                        <row-actions>
                            <action data-testid="change-induction-exemption-reason" href="@LinkGenerator.Persons.PersonDetail.EditInduction.ExemptionReasons(person.PersonId, journeyInstanceId: null)" visually-hidden-text="exemption reason">Change</action>
                        </row-actions>
                    }
                </row>
            }

            @if (Model.ShowStartDate)
            {
                <row data-testid="induction-start-date">
                    <key>Start date</key>
                    <value>@Model.StartDate?.ToString(WebConstants.DateDisplayFormat)</value>
                    @if (Model.CanWrite)
                    {
                        <row-actions>
                            <action data-testid="change-induction-start-date" href="@LinkGenerator.Persons.PersonDetail.EditInduction.StartDate(person.PersonId, journeyInstanceId: null)" visually-hidden-text="start date">Change</action>
                        </row-actions>
                    }
                </row>
            }

            @if (Model.ShowCompletedDate)
            {
                <row data-testid="induction-completed-date">
                    <key>Completion date</key>
                    <value>@Model.CompletedDate?.ToString(WebConstants.DateDisplayFormat)</value>
                    @if (Model.CanWrite)
                    {
                        <row-actions>
                            <action data-testid="change-induction-completed-date" href="@LinkGenerator.Persons.PersonDetail.EditInduction.CompletedDate(person.PersonId, journeyInstanceId: null)" visually-hidden-text="completed date">Change</action>
                        </row-actions>
                    }
                </row>
            }

            @if (Model.InductionExemptedRoutes is not null)
            {
                foreach (var exemptedRoute in Model.InductionExemptedRoutes)
                {
                    <row>
                        <key>Route induction exemption reason</key>
                        <value>@($"{exemptedRoute.RouteToProfessionalStatusType?.InductionExemptionReason?.Name} - {exemptedRoute.RouteToProfessionalStatusType?.Name}")</value>
                        @if (Model.CanWrite)
                        {
                            <row-actions>
                                <action data-testid="change-induction-exempted-route" href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.Index(exemptedRoute.QualificationId, fromInductions: true)" visually-hidden-text="induction exemption reason">Change</action>
                            </row-actions>
                        }
                    </row>
                }
            }
        </govuk-summary-list>
    </govuk-summary-card>
}
