@page "/persons/{personId}/qualifications"
@using TeachingRecordSystem.SupportUi.Pages.Common;
@using TeachingRecordSystem.SupportUi.Infrastructure.Security;
@using Microsoft.AspNetCore.Authorization;
@using TeachingRecordSystem.SupportUi.Pages.RoutesToProfessionalStatus
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.QualificationsModel
@{
    Layout = "Layout";
    ViewBag.SelectedTab = PersonDetailSubNavigationTab.Qualifications;
    var person = HttpContext.Features.GetRequiredFeature<CurrentPersonFeature>();
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Persons.PersonDetail.Index(person.PersonId)">Back to record</govuk-back-link>
}

<h2 class="govuk-heading-m">Routes to professional statuses</h2>
@if (Model.ProfessionalStatuses!.Length == 0)
{
    <p class="govuk-body" data-testid="no-professional-statuses">No routes added yet</p>
}
else
{
    @foreach (var professionalStatus in Model.ProfessionalStatuses)
    {
        var cardTitle = $"{professionalStatus.RouteToProfessionalStatusType?.ProfessionalStatusType.GetDisplayName()}";

            <govuk-summary-card data-testid="professionalstatus-@professionalStatus.QualificationId">
            <title heading-level="3">@cardTitle</title>
                <card-actions>
                    @if (Model.CanEdit)
                    {
                        <action href="@LinkGenerator.RoutesToProfessionalStatus.EditRoute.Index(professionalStatus.QualificationId)" visually-hidden-text="edit route" data-testid="edit-route-link-@professionalStatus.QualificationId">Edit route</action>
                        <action href="@LinkGenerator.RoutesToProfessionalStatus.DeleteRoute.Index(professionalStatus.QualificationId)" visually-hidden-text="delete route" data-testid="delete-route-link-@professionalStatus.QualificationId">Delete route</action>
                    }
                </card-actions>
                <govuk-summary-list>
                    <row>
                        <key>Route</key>
                        <value>@(professionalStatus.RouteToProfessionalStatusType!.Name)</value>
                    </row>
                    <row>
                        <key>Status</key>
                        <value>
                            @{
                                var statusColor = professionalStatus.Status switch {
                                    RouteToProfessionalStatusStatus.Holds => TagColor.Green,
                                    RouteToProfessionalStatusStatus.InTraining => TagColor.LightBlue,
                                    RouteToProfessionalStatusStatus.Withdrawn => TagColor.Grey,
                                    RouteToProfessionalStatusStatus.Failed => TagColor.Red,
                                    _ => TagColor.Turquoise
                                };
                            }
                            <tag color="@statusColor">
                                @ProfessionalStatusStatusRegistry.GetTitle(professionalStatus.Status)
                            </tag>
                        </value>
                    </row>
                    @if (QuestionDriverHelper.FieldRequired(professionalStatus.RouteToProfessionalStatusType!.TrainingStartDateRequired, professionalStatus.Status.GetStartDateRequirement()) != FieldRequirement.NotApplicable)
                    {
                        <row>
                            <key>Start date</key>
                            <value use-empty-fallback>@professionalStatus.TrainingStartDate?.ToString(WebConstants.DateDisplayFormat)</value>
                        </row>
                    }
                    @if (QuestionDriverHelper.FieldRequired(professionalStatus.RouteToProfessionalStatusType.TrainingEndDateRequired, professionalStatus.Status.GetEndDateRequirement()) != FieldRequirement.NotApplicable)
                    {
                        <row>
                            <key>End date</key>
                            <value use-empty-fallback>@professionalStatus.TrainingEndDate?.ToString(WebConstants.DateDisplayFormat)</value>
                        </row>
                    }
                    @if (QuestionDriverHelper.FieldRequired(professionalStatus.RouteToProfessionalStatusType.HoldsFromRequired, professionalStatus.Status.GetHoldsFromDateRequirement()) != FieldRequirement.NotApplicable)
                    {
                        <row>
                            <key>Held since</key>
                            <value use-empty-fallback>@professionalStatus.HoldsFrom?.ToString(WebConstants.DateDisplayFormat)</value>
                        </row>
                    }
                    @if (QuestionDriverHelper.FieldRequired(professionalStatus.RouteToProfessionalStatusType.InductionExemptionRequired, professionalStatus.Status.GetInductionExemptionRequirement()) != FieldRequirement.NotApplicable)
                    {
                        <row>
                            <key>Induction exemption</key>
                            <value use-empty-fallback>@(professionalStatus.ExemptFromInduction is bool value ? value ? "Yes" : "No" : null)</value>
                        </row>
                    }
                    @if (QuestionDriverHelper.FieldRequired(professionalStatus.RouteToProfessionalStatusType.TrainingProviderRequired, professionalStatus.Status.GetTrainingProviderRequirement()) != FieldRequirement.NotApplicable)
                    {
                        <row>
                            <key>Training provider</key>
                            <value use-empty-fallback>@professionalStatus.TrainingProvider?.Name</value>
                        </row>
                    }
                    @if (QuestionDriverHelper.FieldRequired(professionalStatus.RouteToProfessionalStatusType.DegreeTypeRequired, professionalStatus.Status.GetDegreeTypeRequirement()) != FieldRequirement.NotApplicable)
                    {
                        <row>
                            <key>Degree type</key>
                            <value use-empty-fallback>@professionalStatus.DegreeType?.Name</value>
                        </row>
                    }
                    @if (QuestionDriverHelper.FieldRequired(professionalStatus.RouteToProfessionalStatusType.TrainingCountryRequired, professionalStatus.Status.GetCountryRequirement()) != FieldRequirement.NotApplicable)
                    {
                        <row>
                            <key>Country of training</key>
                            <value use-empty-fallback>@professionalStatus.TrainingCountry?.Name</value>
                        </row>
                    }
                    @if (QuestionDriverHelper.FieldRequired(professionalStatus.RouteToProfessionalStatusType.TrainingAgeSpecialismTypeRequired, professionalStatus.Status.GetAgeSpecialismRequirement()) != FieldRequirement.NotApplicable)
                    {
                        <row>
                        <key>Age range</key>
                            @if (professionalStatus.TrainingAgeSpecialismRangeFrom is not null && professionalStatus.TrainingAgeSpecialismRangeTo is not null)
                            {
                                <value use-empty-fallback>From @professionalStatus.TrainingAgeSpecialismRangeFrom to @professionalStatus.TrainingAgeSpecialismRangeTo</value>
                            }
                            else
                            {
                                <value use-empty-fallback>@professionalStatus.TrainingAgeSpecialismType?.GetDisplayName()</value>
                            }
                        </row>
                    }
                    @if (QuestionDriverHelper.FieldRequired(professionalStatus.RouteToProfessionalStatusType.TrainingSubjectsRequired, professionalStatus.Status.GetSubjectsRequirement()) != FieldRequirement.NotApplicable)
                    {
                        <row>
                            <key>Subjects</key>
                            <value>
                                @if (professionalStatus.TrainingSubjectIds is not null && professionalStatus.TrainingSubjectIds.Length > 0)
                                {
                                    <ul class="govuk-list">
                                        @foreach (var subjectid in professionalStatus.TrainingSubjectIds)
                                        {
                                            if (Model.TrainingSubjects != null && Model.TrainingSubjects.TryGetValue(subjectid, out var subjectName))
                                            {
                                                <li>@subjectName</li>
                                            }
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span use-empty-fallback></span>
                                }
                            </value>
                        </row>
                    }
                    <row>
                        <key>Source application reference</key>
                        <value use-empty-fallback>
                            @professionalStatus.SourceApplicationReference
                        </value>
                    </row>
                </govuk-summary-list>
            </govuk-summary-card>
        }
    }

@if (Model.CanEdit)
{
    <govuk-button-link href="@LinkGenerator.RoutesToProfessionalStatus.AddRoute.Index(Model.PersonId)" class="govuk-button" data-testid="add-route">Add a route</govuk-button-link>
}

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-m">Mandatory qualifications</h2>
@if (Model.MandatoryQualifications!.Length == 0)
{
    <p class="govuk-body" data-testid="no-mandatory-qualifications">No mandatory qualifications added yet</p>
}
else
{
    @foreach (var mq in Model.MandatoryQualifications)
    {
        <govuk-summary-card data-testid="mq-@mq.QualificationId">
            <title heading-level="3">Mandatory qualification@(mq.Specialism is not null ? $" for {mq.Specialism?.GetName()}" : "")</title>
            <card-actions>
                @if (Model.CanEdit)
                {
                    <action href="@LinkGenerator.Mqs.DeleteMq.Index(mq.QualificationId, null)" data-testid="delete-link-@mq.QualificationId">Delete qualification</action>
                }
            </card-actions>
            <govuk-summary-list>
                <row>
                    <key>Training provider</key>
                    <value data-testid="mq-provider-@mq.QualificationId">@(mq.Provider?.Name ?? "None")</value>
                    <row-actions>
                        @if (Model.CanEdit)
                        {
                            <action href="@LinkGenerator.Mqs.EditMq.Provider.Index(mq.QualificationId)" class="govuk-link" visually-hidden-text="training provider" data-testid="provider-change-link-@mq.QualificationId">Change</action>
                        }
                    </row-actions>
                </row>
                <row>
                    <key>Specialism</key>
                    <value data-testid="mq-specialism-@mq.QualificationId">@(mq.Specialism is not null ? mq.Specialism?.GetTitle() : "None")</value>
                    <row-actions>
                        @if (Model.CanEdit)
                        {
                            <action href="@LinkGenerator.Mqs.EditMq.Specialism.Index(mq.QualificationId, null)" class="govuk-link" visually-hidden-text="specialism" data-testid="specialism-change-link-@mq.QualificationId">Change</action>
                        }
                    </row-actions>
                </row>
                <row>
                    <key>Start date</key>
                    <value data-testid="mq-start-date-@mq.QualificationId">@(mq.StartDate.HasValue ? mq.StartDate!.Value.ToString(WebConstants.DateDisplayFormat) : "None")</value>
                    <row-actions>
                        @if (Model.CanEdit)
                        {
                            <action href="@LinkGenerator.Mqs.EditMq.StartDate.Index(mq.QualificationId, null)" class="govuk-link" visually-hidden-text="start date" data-testid="start-date-change-link-@mq.QualificationId">Change</action>
                        }
                    </row-actions>
                </row>
                <row>
                    <key>Status</key>
                    <value data-testid="mq-status-@mq.QualificationId">@(mq.Status.HasValue ? mq.Status?.GetTitle() : "None")</value>
                    <row-actions>
                        @if (Model.CanEdit)
                        {
                            <action href="@LinkGenerator.Mqs.EditMq.Status.Index(mq.QualificationId, null)" visually-hidden-text="status" data-testid="status-change-link-@mq.QualificationId">Change</action>
                        }
                    </row-actions>
                </row>
                <row>
                    <key>End date</key>
                    <value data-testid="mq-end-date-@mq.QualificationId">@(mq.EndDate.HasValue ? mq.EndDate!.Value.ToString(WebConstants.DateDisplayFormat) : "None")</value>
                    <row-actions>
                        @if (Model.CanEdit)
                        {
                            <action href="@LinkGenerator.Mqs.EditMq.Status.Index(mq.QualificationId, null)" visually-hidden-text="end date" data-testid="end-date-change-link-@mq.QualificationId">Change</action>
                        }
                    </row-actions>
                </row>
            </govuk-summary-list>
        </govuk-summary-card>
    }
}
@if (Model.CanEdit)
{
    <govuk-button-link href="@LinkGenerator.Mqs.AddMq.Index(Model.PersonId)" class="govuk-button" data-testid="add-mandatory-qualification">Add a mandatory qualification</govuk-button-link>
}
