@page "/support-tasks/npq-trn-requests/{supportTaskReference}/no-matches/check-answers/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.NpqTrnRequests.NoMatches.CheckAnswersModel
@{
    ViewBag.Title = "Check details before creating record";

    var backLink = LinkGenerator.NpqTrnRequestStartPage(Model.SupportTaskReference!);
    var confirmButtonLabel = "Confirm and create record";
}

@section BeforeContent {
    <govuk-back-link href="@backLink" />  
}

<form action="@LinkGenerator.NpqTrnRequestNoMatchesCheckAnswers(Model.SupportTaskReference!)" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <span class="govuk-caption-l">Support tasks</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">
            <govuk-summary-card data-testid="request">
                <govuk-summary-card-title>
                    Details of the record
                </govuk-summary-card-title>
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>First name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.FirstName</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Middle name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.MiddleName</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Last name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.LastName</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.DateOfBirth?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Email</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.EmailAddress</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.NationalInsuranceNumber</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </govuk-summary-card>
            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="submit">@confirmButtonLabel</govuk-button>
                <govuk-button type="submit" formaction="@LinkGenerator.NpqTrnRequestNoMatchesCheckAnswersCancel(Model.SupportTaskReference!)" class="govuk-button--secondary">Cancel</govuk-button>
            </div>
        </div>
    </div>
</form>
