@page "/national-insurance-number/{handler?}"
@model TeachingRecordSystem.AuthorizeAccess.Pages.NationalInsuranceNumberModel
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.NationalInsuranceNumber);
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.CheckAnswers(Model.JourneyInstance!.InstanceId) : LinkGenerator.Connect(Model.JourneyInstance!.InstanceId))" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.NationalInsuranceNumber(Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-radios asp-for="HaveNationalInsuranceNumber">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend />
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional>
                            <govuk-input asp-for="NationalInsuranceNumber" input-class="govuk-input--width-20 govuk-input--extra-letter-spacing" spellcheck="false" />
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">No</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
