@page "/cases/{ticketNumber}/accept"
@model TeachingRecordSystem.SupportUi.Pages.Cases.EditCase.AcceptModel
@{
    ViewBag.Title = "Are you sure you want to accept this change?";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.EditCase(Model.TicketNumber)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        <form action="@LinkGenerator.AcceptCase(Model.TicketNumber)" method="post">
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Current</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.CurrentValue</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Change to</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.NewValue</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <govuk-button type="submit">Confirm</govuk-button>
        </form>
    </div>
</div>
