@page "/support-tasks/npq-trn-requests"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.NpqTrnRequests.Index
@{
    ViewBag.Title = "TRN requests";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Index()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">Support tasks</span>
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <form action="@LinkGenerator.NpqTrnRequests()" method="get" asp-antiforgery="false">
            <govuk-input asp-for="Search" label-class="govuk-label--s" autocomplete="off" />
            @* TODO move this inside input when GFA library is updated *@
            <govuk-button type="submit">Search</govuk-button>
        </form>
    </div>
    <div class="govuk-grid-column-full-from-desktop" data-testid="results">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"
                    sort-direction="@(Model.SortBy == SortByOption.Name ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.NpqTrnRequests(search: Model.Search, SortByOption.Name, direction))">
                        Name
                    </th>
                    <th scope="col" class="govuk-table__header"
                    sort-direction="@(Model.SortBy == SortByOption.Email ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.NpqTrnRequests(search: Model.Search, SortByOption.Email, direction))">
                        Email
                    </th>
                    <th scope="col" class="govuk-table__header trs-!-width-150"
                    sort-direction="@(Model.SortBy == SortByOption.RequestedOn ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.NpqTrnRequests(search: Model.Search, SortByOption.RequestedOn, direction))">
                        Requested on
                    </th>
                    <th scope="col" class="govuk-table__header trs-!-width-150"
                    sort-direction="@(Model.SortBy == SortByOption.PotentialDuplicate ? Model.SortDirection : null)"
                    link-template="@(direction => LinkGenerator.NpqTrnRequests(search: Model.Search, SortByOption.PotentialDuplicate, direction))">
                        Potential duplicate
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @if (Model.Results!.Count == 0)
                {
                    <tr class="govuk-table__row" data-testid="no-tasks-message">
                        <td class="govuk-table__cell" colspan="4">No TRN requests matching search criteria</td>
                    </tr>

                }
                else
                {
                    foreach (var result in Model.Results)
                    {
                        var tagValue = result.PotentialDuplicate.HasValue ? (result.PotentialDuplicate.Value ? "Yes" : "No") : null;
                        var tagClass = result.PotentialDuplicate.HasValue ? (result.PotentialDuplicate.Value ? "govuk-tag--red" : "govuk-tag--green") : null;
                        <tr class="govuk-table__row" data-testid="task:@result.SupportTaskReference">
                            <th scope="row" class="govuk-table__header" data-testid="name">
                                <a href="@LinkGenerator.NpqTrnRequestDetailsPage(result.SupportTaskReference)" class="govuk-link">
                                    @result.FirstName @result.MiddleName @result.LastName
                                </a>
                            </th>
                            <td class="govuk-table__cell" data-testid="email">@result.EmailAddress</td>
                            <td class="govuk-table__cell" data-testid="requested-on">@result.CreatedOn.ToString(UiDefaults.DateOnlyDisplayFormat)</td>
                            <td class="govuk-table__cell" data-testid="potential-duplicate"><colored-tag class="@tagClass">@tagValue</colored-tag></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        
        <partial name="_Pagination" model=@Model.Pagination />
    </div>
</div>
