@page "/support-tasks/one-login-user-id-verification/{supportTaskReference}/resolve/confirm-connect"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.OneLoginUserIdVerification.Resolve.ConfirmConnect
@{
    ViewBag.Title = "Check details before connecting this GOV.UK One Login";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.SupportTasks.OneLoginUserIdVerification.Resolve.Matches(Model.SupportTaskReference, Model.JourneyInstance.InstanceId)" />
}

<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Record management</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <h2 class="govuk-heading-s">GOV.UK One Login details</h2>

            <govuk-summary-list data-testid="one-login-user-details">
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.OneLoginUserEmailAddress</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <govuk-summary-card data-testid="matched-person-details">
                <govuk-summary-card-title>Record details</govuk-summary-card-title>
                <govuk-summary-card-actions>
                    <govuk-summary-card-action href="@LinkGenerator.Persons.PersonDetail.Index(Model.MatchedPersonId)" target="_blank">
                        View record (opens in a new tab)
                    </govuk-summary-card-action>
                </govuk-summary-card-actions>
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.MatchedPersonName</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    @if (Model.MatchedPersonPreviousNames!.Count > 0)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Previous names</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                <list-text-items text-items="@Model.MatchedPersonPreviousNames"></list-text-items>
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    }
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.MatchedPersonEmailAddress</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.MatchedPersonDateOfBirth.ToString(WebConstants.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>TRN</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.MatchedPersonTrn</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>NI number</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.MatchedPersonNationalInsuranceNumber</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </govuk-summary-card>

            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm and connect account</govuk-button>
                <govuk-button type="submit" name="Cancel" value="true" class="govuk-button--secondary">Cancel</govuk-button>
            </div>
        </div>
    </div>
</form>
