@page "/support-tasks/one-login-user-id-verification/{supportTaskReference}/resolve/reject"
@using TeachingRecordSystem.Core.Models.SupportTasks
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.OneLoginUserIdVerification.Resolve.RejectModel
@{
    ViewBag.Title = "Why are you rejecting this request?";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.SupportTasks.OneLoginUserIdVerification.Resolve.Index(Model.SupportTaskReference, Model.JourneyInstance.InstanceId)" />
}

<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-radios for="Reason">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend>
                        <span class="govuk-caption-l">Record management</span>
                        <h1 class="govuk-fieldset__legend--l govuk-!-margin-top-0">@ViewBag.Title</h1>
                        <div class="govuk-hint">We’ll email the person with the reason you select</div>
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@OneLoginIdVerificationRejectReason.ProofDoesNotMatchRequest">
                        @OneLoginIdVerificationRejectReason.ProofDoesNotMatchRequest.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@OneLoginIdVerificationRejectReason.ProofIsUnclear">
                        @OneLoginIdVerificationRejectReason.ProofIsUnclear.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@OneLoginIdVerificationRejectReason.ProofIsWrongType">
                        @OneLoginIdVerificationRejectReason.ProofIsWrongType.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@OneLoginIdVerificationRejectReason.AnotherReason">
                        @OneLoginIdVerificationRejectReason.AnotherReason.GetDisplayName()
                        <govuk-radios-item-conditional>
                            <govuk-character-count for="AdditionalDetails" max-length="@UiDefaults.DetailMaxCharacterCount">
                                <govuk-character-count-label>Enter details</govuk-character-count-label>
                            </govuk-character-count>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button type="submit" name="Cancel" value="true" class="govuk-button--secondary">Cancel</govuk-button>
            </div>
        </div>
    </div>
</form>

