@page "/alerts/add/check-answers/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Alerts.AddAlert.CheckAnswersModel
@{
    ViewBag.Title = "Check details before adding alert";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Alerts.AddAlert.Reason(Model.PersonId, Model.JourneyInstance!.InstanceId)">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <span class="govuk-caption-l">Add an alert - @Model.PersonName</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-summary-list>
                <row>
                    <key>Alert type</key>
                    <value>@Model.AlertTypeName</value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.AddAlert.Type(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="alert type">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Details</key>
                    <value use-empty-fallback>@Html.ConvertNewlinesToLineBreaks(Model.Details)</value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.AddAlert.Details(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="details">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Link</key>
                    <value>
                        @if (Model.Link is not null)
                        {
                            <a href="@Model.LinkUri" class="govuk-link" rel="noreferrer noopener" target="_blank">@($"{Model.Link} (opens in new tab)")</a>
                        }
                        else
                        {
                            <span use-empty-fallback></span>
                        }
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.AddAlert.Link(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="link">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Start date</key>
                    <value>@Model.StartDate.ToString(WebConstants.DateOnlyDisplayFormat)</value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.AddAlert.StartDate(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="start date">Change</action>
                    </row-actions>
                </row>
            </govuk-summary-list>

            <h2 class="govuk-heading-l">Why are you adding this alert?</h2>

            <govuk-summary-list>
                <row>
                    <key>Reason</key>
                    <value>@Model.AddReason.GetDisplayName()</value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.AddAlert.Reason(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="reason for adding">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Additional information</key>
                    <value>
                        @if (Model.AddReasonDetail is not null)
                        {
                            @Html.ConvertNewlinesToLineBreaks(Model.AddReasonDetail)
                        }
                        else
                        {
                            <span use-empty-fallback></span>
                        }
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.AddAlert.Reason(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="reason details">Change</action>
                    </row-actions>
                </row>

                <row>
                    <key>Evidence</key>
                    <value>
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile" />
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.AddAlert.Reason(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="evidence">Change</action>
                    </row-actions>
                </row>
            </govuk-summary-list>

            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm and add alert</govuk-button>
                <govuk-button formaction="@LinkGenerator.Alerts.AddAlert.CheckAnswersCancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
