@page "/alerts/add/reason/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Alerts.AddAlert.ReasonModel
@{
    ViewBag.Title = "Why are you adding this alert?";
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers ? LinkGenerator.Alerts.AddAlert.CheckAnswers(Model.PersonId, Model.JourneyInstance!.InstanceId) : LinkGenerator.Alerts.AddAlert.StartDate(Model.PersonId, Model.JourneyInstance!.InstanceId))">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <span class="govuk-caption-l">Add an alert - @Model.PersonName</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-radios for="AddReason">
                <govuk-radios-item value="@AddAlertReasonOption.RoutineNotificationFromStakeholder">
                    @AddAlertReasonOption.RoutineNotificationFromStakeholder.GetDisplayName()
                </govuk-radios-item>
                <govuk-radios-item value="@AddAlertReasonOption.IdentifiedDuringDataReconciliationWithStakeholder">
                    @AddAlertReasonOption.IdentifiedDuringDataReconciliationWithStakeholder.GetDisplayName()
                </govuk-radios-item>
                <govuk-radios-item value="@AddAlertReasonOption.AnotherReason">
                    @AddAlertReasonOption.AnotherReason.GetDisplayName()
                    <govuk-radios-item-conditional data-testid="add-reason-detail">
                        <govuk-input data-testid="reason-detail" for="AddReasonDetail" input-class="govuk-input--width-20" spellcheck="false">
                            <govuk-input-label>Enter a reason</govuk-input-label>
                        </govuk-input>
                    </govuk-radios-item-conditional>
                </govuk-radios-item>
            </govuk-radios>

            <govuk-radios for="ProvideAdditionalInformation">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend>
                        <h2 class="govuk-fieldset__legend--m">Do you want to provide more information?</h2>
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional>
                            <govuk-character-count for="AdditionalInformation" max-length="UiDefaults.ReasonDetailsMaxCharacterCount" rows="UiDefaults.ReasonDetailsRows">
                                <govuk-character-count-label>Enter details</govuk-character-count-label>
                            </govuk-character-count>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            @Html.EditorFor(m => m.Evidence)

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button formaction="@LinkGenerator.Alerts.AddAlert.ReasonCancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
