@page "/support-tasks/one-login-user-matching/{supportTaskReference}/resolve/matches"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.OneLoginUserMatching.Resolve.Matches
@{
    ViewBag.Title = "Check if this GOV.UK One Login matches an existing record";
}

<govuk-back-link href="@(Model.IsRecordMatchingOnly is true ?
        LinkGenerator.SupportTasks.OneLoginUserMatching.RecordMatching() :
        LinkGenerator.SupportTasks.OneLoginUserMatching.Resolve.Verify(Model.SupportTaskReference, Model.JourneyInstance.InstanceId))" />

<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Record management</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-summary-card data-testid="request">
                <govuk-summary-card-title>Request details</govuk-summary-card-title>
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.Name</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.EmailAddress</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.DateOfBirth.ToString(WebConstants.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>TRN</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.Trn</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.NationalInsuranceNumber</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </govuk-summary-card>

            <govuk-inset-text>
                Details that do not match are <highlight>highlighted</highlight> in the existing record
            </govuk-inset-text>

            @foreach (var match in Model.SuggestedMatches!)
            {
                <govuk-summary-card data-testid="match">
                    <govuk-summary-card-title>Record @match.Identifier</govuk-summary-card-title>
                    <govuk-summary-list>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback highlight="@(!(match.MatchedAttributeTypes.Contains(PersonMatchedAttribute.FirstName) && match.MatchedAttributeTypes.Contains(PersonMatchedAttribute.LastName)))">@($"{match.FirstName} {match.LastName}")</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        @if (match.PreviousNames!.Count > 0)
                        {
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Previous names</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value>
                                    <list-text-items text-items="@match.PreviousNames"></list-text-items>
                                </govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        }
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback highlight="@(!match.MatchedAttributeTypes.Contains(PersonMatchedAttribute.EmailAddress))">@match.EmailAddress</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback highlight="@(!match.MatchedAttributeTypes.Contains(PersonMatchedAttribute.DateOfBirth))">@match.DateOfBirth?.ToString(WebConstants.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>TRN</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback highlight="@(!match.MatchedAttributeTypes.Contains(PersonMatchedAttribute.Trn))">@match.Trn</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback highlight="@(!match.MatchedAttributeTypes.Contains(PersonMatchedAttribute.NationalInsuranceNumber))">@match.NationalInsuranceNumber</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    </govuk-summary-list>
                </govuk-summary-card>
            }

            <govuk-radios for="MatchedPersonId">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend>
                        <h2 class="govuk-fieldset__legend govuk-fieldset__legend--m">What do you want to do with this GOV.UK One Login?</h2>
                    </govuk-radios-fieldset-legend>
                    @foreach (var match in Model.SuggestedMatches)
                    {
                        <govuk-radios-item value="@match.PersonId">Connect it to Record @match.Identifier</govuk-radios-item>
                    }
                    <govuk-radios-item value="@ResolveOneLoginUserMatchingState.NotMatchedPersonIdSentinel">
                        Do not connect it to a record
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>

                <govuk-button type="submit" name="action" value="@Matches.Actions.SaveAndComeBackLater" class="govuk-button--secondary">
                    Save and come back later
                </govuk-button>

                <govuk-button type="submit" name="action" value="@Matches.Actions.Cancel" data-testid="cancel-button" class="govuk-button--secondary">
                    Cancel
                </govuk-button>
            </div>
        </div>
    </div>
</form>
