@page "/support-tasks/api-trn-requests"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.ApiTrnRequests.Index
@{
    ViewBag.Title = "Potential duplicate records from APIs";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Index()" />
}

<div class="govuk-grid-row">
    <span class="govuk-caption-l">Support tasks</span>
    <h1 class="govuk-heading-l">@ViewBag.Title</h1>

    <form action="@LinkGenerator.SupportTasks.ApiTrnRequests.Index()" method="get" asp-antiforgery="false">
        <div class="moj-search govuk-!-margin-bottom-4">
            <govuk-input for="Search" input-class="moj-search__input" type="search" autocomplete="off">
                <govuk-input-label class="moj-search__label">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Search</h3>
                </govuk-input-label>
                <govuk-input-hint class="moj-search__hint">
                    Enter a name, email address or request date, for example 31/3/2025
                </govuk-input-hint>
            </govuk-input>
            @* TODO move this inside input when GFA library is updated *@
            <govuk-button class="moj-search__button govuk-!-margin-bottom-0" type="submit">Search</govuk-button>
        </div>
    </form>

    <div class="govuk-grid-column-full-from-desktop" data-testid="results">
        @if(Model.Results!.Count == 0)
        {
            <p class="govuk-body-l govuk-!-font-weight-bold" data-testid="no-tasks-message">
                No matching requests found
            </p>
            <p class="govuk-body-m">Try searching again with different details.</p>
        }
        else
        {
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"
                            sort-direction="@(Model.SortBy == ApiTrnRequestsSortByOption.Name ? Model.SortDirection : null)"
                            link-template="@(direction => LinkGenerator.SupportTasks.ApiTrnRequests.Index(search: Model.Search, ApiTrnRequestsSortByOption.Name, direction))">
                            Name
                        </th>
                        <th scope="col" class="govuk-table__header"
                            sort-direction="@(Model.SortBy == ApiTrnRequestsSortByOption.Email ? Model.SortDirection : null)"
                            link-template="@(direction => LinkGenerator.SupportTasks.ApiTrnRequests.Index(search: Model.Search, ApiTrnRequestsSortByOption.Email, direction))">
                            Email
                        </th>
                        <th scope="col" class="govuk-table__header trs-!-width-150"
                            sort-direction="@(Model.SortBy == ApiTrnRequestsSortByOption.RequestedOn ? Model.SortDirection : null)"
                            link-template="@(direction => LinkGenerator.SupportTasks.ApiTrnRequests.Index(search: Model.Search, ApiTrnRequestsSortByOption.RequestedOn, direction))">
                            Requested on
                        </th>
                        <th scope="col" class="govuk-table__header trs-!-width-150"
                            sort-direction="@(Model.SortBy == ApiTrnRequestsSortByOption.Source ? Model.SortDirection : null)"
                            link-template="@(direction => LinkGenerator.SupportTasks.ApiTrnRequests.Index(search: Model.Search, ApiTrnRequestsSortByOption.Source, direction))">
                            Source
                        </th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var result in Model.Results)
                    {
                        <tr class="govuk-table__row" data-testid="task:@result.SupportTaskReference">
                            <th scope="row" class="govuk-table__header" data-testid="name">
                                <a href="@LinkGenerator.SupportTasks.ApiTrnRequests.Resolve.Index(result.SupportTaskReference)" class="govuk-link">
                                    @result.FirstName @result.MiddleName @result.LastName
                                </a>
                            </th>
                            <td class="govuk-table__cell" data-testid="email">@result.EmailAddress</td>
                            <td class="govuk-table__cell" data-testid="requested-on">@result.CreatedOn.ToString(UiDefaults.DateOnlyDisplayFormat)</td>
                            <td class="govuk-table__cell" data-testid="source"><colored-tag>@result.Source</colored-tag></td>
                        </tr>
                    }
                </tbody>
            </table>

            <partial name="_Pagination" model=@Model.Pagination />
        }
    </div>
</div>
