@page "/support-tasks/api-trn-requests"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.ApiTrnRequests.Index
@{
    ViewBag.Title = "Potential duplicate records from APIs";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Index()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">Support tasks</span>
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <form action="@LinkGenerator.ApiTrnRequests()" method="get" asp-antiforgery="false">
            <govuk-input asp-for="Search" label-class="govuk-label--s" />
            @* TODO move this inside input when GFA library is updated *@
            <govuk-button type="submit">Search</govuk-button>
        </form>
    </div>
    <div class="govuk-grid-column-full-from-desktop" data-testid="results">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"
                        sort-direction="@(Model.SortBy == ApiTrnRequestsSortByOption.Name ? Model.SortDirection : null)"
                        link-template="@(direction => LinkGenerator.ApiTrnRequests(search: Model.Search, ApiTrnRequestsSortByOption.Name, direction))">
                        Name
                    </th>
                    <th scope="col" class="govuk-table__header"
                        sort-direction="@(Model.SortBy == ApiTrnRequestsSortByOption.Email ? Model.SortDirection : null)"
                        link-template="@(direction => LinkGenerator.ApiTrnRequests(search: Model.Search, ApiTrnRequestsSortByOption.Email, direction))">
                        Email
                    </th>
                    <th scope="col" class="govuk-table__header trs-!-width-150"
                        sort-direction="@(Model.SortBy == ApiTrnRequestsSortByOption.RequestedOn ? Model.SortDirection : null)"
                        link-template="@(direction => LinkGenerator.ApiTrnRequests(search: Model.Search, ApiTrnRequestsSortByOption.RequestedOn, direction))">
                        Requested on
                    </th>
                    <th scope="col" class="govuk-table__header trs-!-width-150"
                        sort-direction="@(Model.SortBy == ApiTrnRequestsSortByOption.Source ? Model.SortDirection : null)"
                        link-template="@(direction => LinkGenerator.ApiTrnRequests(search: Model.Search, ApiTrnRequestsSortByOption.Source, direction))">
                        Source
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @if (Model.Results!.Count == 0)
                {
                    <tr class="govuk-table__row" data-testid="no-tasks-message">
                        <td class="govuk-table__cell" colspan="4">No potential duplicate records from APIs</td>
                    </tr>
                }
                else
                {
                    foreach (var result in Model.Results)
                    {
                        <tr class="govuk-table__row" data-testid="task:@result.SupportTaskReference">
                            <th scope="row" class="govuk-table__header" data-testid="name">
                                <a href="@LinkGenerator.ApiTrnRequestMatches(result.SupportTaskReference)" class="govuk-link">
                                    @result.FirstName @result.MiddleName @result.LastName
                                </a>
                            </th>
                            <td class="govuk-table__cell" data-testid="email">@result.EmailAddress</td>
                            <td class="govuk-table__cell" data-testid="requested-on">@result.CreatedOn.ToString(UiDefaults.DateOnlyDisplayFormat)</td>
                            <td class="govuk-table__cell" data-testid="source"><colored-tag>@result.Source</colored-tag></td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <partial name="_Pagination" model=@Model.Pagination />
    </div>
</div>
