@page "/support-tasks/api-trn-requests"
@using TeachingRecordSystem.SupportUi.Services.SupportTasks
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.ApiTrnRequests.Index
@{
    ViewBag.Title = "Potential duplicates via API";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Index()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">TRN requests</span>
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>
    </div>

    @if (Model.TotalTaskCount == 0)
    {
        <div class="govuk-grid-column-two-thirds" data-testid="no-tasks-message">
            <p class="govuk-body-l govuk-!-font-weight-bold">There are no outstanding tasks</p>
        </div>
    }
    else
    {
        <div class="govuk-grid-column-two-thirds">
            <form action="@LinkGenerator.SupportTasks.ApiTrnRequests.Index()" method="get" asp-antiforgery="false">
                <div class="govuk-!-margin-bottom-4">
                    <govuk-input for="Search" type="search" autocomplete="off">
                        <govuk-input-label>
                            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Search</h2>
                        </govuk-input-label>
                        <govuk-input-hint>
                            Enter a name, email address or request date, for example 31/3/2025
                        </govuk-input-hint>
                        <govuk-input-after-input>
                            <govuk-button class="govuk-!-margin-bottom-0 govuk-!-margin-left-2 trs-!-height-full" type="submit">Search</govuk-button>
                        </govuk-input-after-input>
                    </govuk-input>
                </div>
            </form>
        </div>

        <div class="govuk-grid-column-full">
            @if (Model.Results!.TotalItemCount == 0)
            {
                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-3" data-testid="no-results-message">
                    No matching requests found
                </p>
                <p class="govuk-body-m">Try searching again with different details.</p>
            }
            else
            {
                <table class="govuk-table" data-testid="results">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"
                                sort-direction="@(Model.SortBy == ApiTrnRequestsSortByOption.Name ? Model.SortDirection : null)"
                                link-template="@(direction => LinkGenerator.SupportTasks.ApiTrnRequests.Index(search: Model.Search, ApiTrnRequestsSortByOption.Name, direction))">
                                Name
                            </th>
                            <th scope="col" class="govuk-table__header"
                                sort-direction="@(Model.SortBy == ApiTrnRequestsSortByOption.Email ? Model.SortDirection : null)"
                                link-template="@(direction => LinkGenerator.SupportTasks.ApiTrnRequests.Index(search: Model.Search, ApiTrnRequestsSortByOption.Email, direction))">
                                Email
                            </th>
                            <th scope="col" class="govuk-table__header trs-!-width-150"
                                sort-direction="@(Model.SortBy == ApiTrnRequestsSortByOption.RequestedOn ? Model.SortDirection : null)"
                                link-template="@(direction => LinkGenerator.SupportTasks.ApiTrnRequests.Index(search: Model.Search, ApiTrnRequestsSortByOption.RequestedOn, direction))">
                                Requested on
                            </th>
                            <th scope="col" class="govuk-table__header trs-!-width-150"
                                sort-direction="@(Model.SortBy == ApiTrnRequestsSortByOption.Source ? Model.SortDirection : null)"
                                link-template="@(direction => LinkGenerator.SupportTasks.ApiTrnRequests.Index(search: Model.Search, ApiTrnRequestsSortByOption.Source, direction))">
                                Source
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    @foreach (var result in Model.Results)
                    {
                        <tr class="govuk-table__row" data-testid="task:@result.SupportTaskReference">
                            <th scope="row" class="govuk-table__header" data-testid="name">
                                <a href="@LinkGenerator.SupportTasks.ApiTrnRequests.Resolve.Index(result.SupportTaskReference)" class="govuk-link">
                                    @result.FirstName @result.MiddleName @result.LastName
                                </a>
                            </th>
                            <td class="govuk-table__cell" data-testid="email">@result.EmailAddress</td>
                            <td class="govuk-table__cell" data-testid="requested-on">@result.CreatedOn.ToString(UiDefaults.DateOnlyDisplayFormat)</td>
                            <td class="govuk-table__cell" data-testid="source"><tag color="TagColor.Auto">@result.SourceApplicationName</tag></td>
                        </tr>
                    }
                    </tbody>
                </table>

                <partial name="_Pagination" model=@Model.Pagination/>
            }
        </div>
    }
</div>
