@page "/alerts/{alertId}/link/check-answers"
@using Microsoft.AspNetCore.Http.Extensions
@model TeachingRecordSystem.SupportUi.Pages.Alerts.EditAlert.Link.CheckAnswersModel
@{
    ViewBag.Title = "Check details before editing alert";
    var returnUrl = Request.GetEncodedPathAndQuery();
}

@section BeforeContent {
    @if (Model.BackLink is not null)
    {
        <govuk-back-link href="@Model.BackLink">Back</govuk-back-link>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <span class="govuk-caption-l">Edit alert - @Model.PersonName</span>
            <h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

            <govuk-summary-list data-testid="change-summary">
                <row>
                    <key>New link</key>
                    <value>
                        @if (Model.NewLink is not null)
                        {
                            <a href="@Model.NewLinkUri" class="govuk-link" rel="noreferrer noopener" target="_blank">@($"{Model.NewLink} (opens in new tab)")</a>
                        }
                        else
                        {
                            <span use-empty-fallback></span>
                        }
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.EditAlert.Link.Index(Model.InstanceId, returnUrl: returnUrl)" visually-hidden-text="new link">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Previous link</key>
                    <value>
                        @if (Model.PreviousLink is not null)
                        {
                            <a href="@Model.PreviousLinkUri" class="govuk-link" rel="noreferrer noopener" target="_blank">@($"{Model.PreviousLink} (opens in new tab)")</a>
                        }
                        else
                        {
                            <span use-empty-fallback></span>
                        }
                    </value>
                </row>
            </govuk-summary-list>

            <h2 class="govuk-heading-m">Why are you editing this alert?</h2>

            <govuk-summary-list>
                <row>
                    <key>Reason</key>
                    <value>@Model.ChangeReason.GetDisplayName()</value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.EditAlert.Link.Reason(Model.InstanceId, returnUrl: returnUrl)" visually-hidden-text="reason for change">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Additional information</key>
                    <value>
                        @if (Model.ChangeReasonDetail is not null)
                        {
                            @Html.ConvertNewlinesToLineBreaks(Model.ChangeReasonDetail)
                        }
                        else
                        {
                            <span use-empty-fallback></span>
                        }
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.EditAlert.Link.Reason(Model.InstanceId, returnUrl: returnUrl)" visually-hidden-text="reason details">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Evidence</key>
                    <value data-testid="evidence">
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile" />
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.EditAlert.Link.Reason(Model.InstanceId, returnUrl: returnUrl)" visually-hidden-text="evidence">Change</action>
                    </row-actions>
                </row>
            </govuk-summary-list>

            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm and update alert</govuk-button>
                <govuk-button name="Cancel" value="true" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
