@page "/alerts/{alertId}/delete/confirm/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Alerts.DeleteAlert.ConfirmModel
@{
    ViewBag.Title = "Delete this alert";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.AlertDelete(Model.AlertId, Model.JourneyInstance!.InstanceId)">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
        <form action="@LinkGenerator.AlertDeleteConfirm(Model.AlertId, Model.JourneyInstance!.InstanceId)" method="post" enctype="multipart/form-data">
            <span class="govuk-caption-l">Delete an alert - @Model.PersonName</span>
            <h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Alert type</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="alert-type">@Model.AlertTypeName</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Details</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value><multi-line-text text="@Model.Details" data-testid="details" /></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Link</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @if (Model.Link is not null)
                        {
                            <a href="@Model.Link" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="link">@($"{Model.Link} (opens in new tab)")</a>
                        }
                        else
                        {
                            <span data-testid="link" use-empty-fallback></span>
                        }
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="start-date">@Model.StartDate?.ToString("d MMMM yyyy")</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>End date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="end-date" use-empty-fallback>@Model.EndDate?.ToString("d MMMM yyyy")</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <div class="govuk-grid-column-two-thirds">
                <govuk-radios asp-for="HasAdditionalDetail" data-testid="additional-detail-options">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m" />
                        <govuk-radios-item  value="@true">
                            Yes
                            <govuk-radios-item-conditional>
                                <govuk-character-count asp-for="AdditionalDetail" label-class="govuk-label--m" max-length="4000" />
                            </govuk-radios-item-conditional>
                        </govuk-radios-item>
                        <govuk-radios-item value="@false">
                            No
                        </govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>                

                <govuk-radios asp-for="UploadEvidence" data-testid="upload-evidence-options">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m" />
                        <govuk-radios-item value="@true">
                            Yes
                            <govuk-radios-item-conditional>
                                <govuk-file-upload asp-for="EvidenceFile" input-accept=".bmp, .csv, .doc, .docx, .eml, .jpeg, .jpg, .mbox, .msg, .ods, .odt, .pdf, .png, .tif, .txt, .xls, .xlsx">
                                    <govuk-file-upload-label>Upload a file</govuk-file-upload-label>
                                </govuk-file-upload>
                            </govuk-radios-item-conditional>
                        </govuk-radios-item>
                        <govuk-radios-item value="@false">
                            No
                        </govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>

                <div class="govuk-button-group">
                    <govuk-button type="submit">Delete this alert</govuk-button>
                    <govuk-button formaction="@LinkGenerator.AlertDeleteConfirmCancel(Model.AlertId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
                </div>
            </div>                        
        </form>
    </div>
</div>
