@using TeachingRecordSystem.SupportUi.Pages.Common
@using TeachingRecordSystem.SupportUi.Infrastructure.Security;
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService
@model PersonDetailViewModel

<govuk-summary-card>
    <govuk-summary-card-title>Personal details</govuk-summary-card-title>
    <govuk-summary-card-actions>
        @if (FeatureProvider.IsEnabled(FeatureNames.ContactsMigrated) &&
           (await AuthorizationService.AuthorizeAsync(User, AuthorizationPolicies.PersonDataEdit)).Succeeded)
        {
            <govuk-summary-card-action data-testid="change-details-link" href=@LinkGenerator.PersonEditDetailsPersonalDetails(Model.PersonId) visually-hidden-text="personal details">Change</govuk-summary-card-action>
        }
    </govuk-summary-card-actions>
    <govuk-summary-list>
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
            <govuk-summary-list-row-value>@Model.Name</govuk-summary-list-row-value>
        </govuk-summary-list-row>
        @if (Model.PreviousNames.Length > 0)
        {
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Previous name(s)</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    <ul class="govuk-list">
                        @foreach (var previousName in Model.PreviousNames)
                        {
                            <li class="govuk-!-margin-bottom-0">@previousName</li>
                        }
                    </ul>
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        }
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
            <govuk-summary-list-row-value use-empty-fallback>@Model.DateOfBirth?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
        </govuk-summary-list-row>
        @if (Model.Options.HasFlag(PersonDetailViewModelOptions.ShowGender))
        {
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Gender</govuk-summary-list-row-key>
                <govuk-summary-list-row-value use-empty-fallback>@Model.Gender?.GetDisplayName()</govuk-summary-list-row-value>
            </govuk-summary-list-row>
        }
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>TRN</govuk-summary-list-row-key>
            <govuk-summary-list-row-value use-empty-fallback>@Model.Trn</govuk-summary-list-row-value>
        </govuk-summary-list-row>
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
            <govuk-summary-list-row-value use-empty-fallback>@Model.NationalInsuranceNumber</govuk-summary-list-row-value>
        </govuk-summary-list-row>
        @if (Model.Options.HasFlag(PersonDetailViewModelOptions.ShowEmail))
        {
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Email</govuk-summary-list-row-key>
                <govuk-summary-list-row-value use-empty-fallback>@Model.Email</govuk-summary-list-row-value>
            </govuk-summary-list-row>
        }
    </govuk-summary-list>
</govuk-summary-card>
