@model RouteDetailViewModel

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Route</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.RouteToProfessionalStatusName</govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Status</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.Status.GetTitle()</govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.TrainingStartDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
    </govuk-summary-list-row>
    @if (Model.EndDateRequired != FieldRequirement.NotRequired)
    {
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>End date</govuk-summary-list-row-key>
            <govuk-summary-list-row-value>@Model.TrainingEndDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
            <govuk-summary-list-row-actions>
                <govuk-summary-list-row-action data-testid="edit-end-date-link" href="@LinkGenerator.RouteEditEndDate(Model.QualificationId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" visually-hidden-text="end date">Change</govuk-summary-list-row-action>
            </govuk-summary-list-row-actions>
        </govuk-summary-list-row>
    }
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Award date</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.AwardedDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Has exemption</govuk-summary-list-row-key>
        <govuk-summary-list-row-value use-empty-fallback>@Model.ExemptionReason</govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Training provider</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>@Model.TrainingProvider</govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Degree type</govuk-summary-list-row-key>
        <govuk-summary-list-row-value use-empty-fallback>@Model.DegreeType</govuk-summary-list-row-value>
        <govuk-summary-list-row-actions>
            <govuk-summary-list-row-action data-testid="edit-degree-type-link" href="@LinkGenerator.RouteEditDegreeType(Model.QualificationId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" visually-hidden-text="degree type">Change</govuk-summary-list-row-action>
        </govuk-summary-list-row-actions>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Country of training</govuk-summary-list-row-key>
        <govuk-summary-list-row-value use-empty-fallback>@Model.TrainingCountry</govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Age range</govuk-summary-list-row-key>
        @if (Model.TrainingAgeSpecialismRangeFrom is not null && Model.TrainingAgeSpecialismRangeTo is not null)
        {
            <govuk-summary-list-row-value use-empty-fallback>@Model.TrainingAgeSpecialismRange</govuk-summary-list-row-value>
        }
        else
        {
            <govuk-summary-list-row-value use-empty-fallback>@Model.TrainingAgeSpecialismType?.GetDisplayName()</govuk-summary-list-row-value>
        }
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>Subjects</govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @if (Model.TrainingSubjects is not null && Model.TrainingSubjects.Any())
            {
                <ul class="govuk-list">
                    @foreach (var subject in Model.TrainingSubjects)
                    {
                        <li>@subject</li>
                    }
                </ul>
            }
            else
            {
                <span use-empty-fallback></span>
            }
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
</govuk-summary-list>

