@page "/support-tasks/one-login-user-matching/{supportTaskReference}/resolve/matches"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.OneLoginUserMatching.Resolve.Matches
@{
    ViewBag.Title = "Check if this GOV.UK One Login matches an existing record";
}

@section BeforeContent {
    <govuk-back-link href="@(Model.IsRecordMatchingOnly is true ?
        LinkGenerator.SupportTasks.OneLoginUserMatching.RecordMatching() :
        LinkGenerator.SupportTasks.OneLoginUserMatching.Resolve.Verify(Model.SupportTaskReference, Model.JourneyInstance.InstanceId))" />
}

<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Record management</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-summary-card data-testid="request">
                <title>Request details</title>
                <govuk-summary-list>
                    <row>
                        <key>Name</key>
                        <value use-empty-fallback>@Model.Name</value>
                    </row>
                    <row>
                        <key>Email address</key>
                        <value use-empty-fallback>@Model.EmailAddress</value>
                    </row>
                    <row>
                        <key>Date of birth</key>
                        <value use-empty-fallback>@Model.DateOfBirth.ToString(WebConstants.DateOnlyDisplayFormat)</value>
                    </row>
                    <row>
                        <key>TRN</key>
                        <value use-empty-fallback>@Model.Trn</value>
                    </row>
                    <row>
                        <key>National Insurance number</key>
                        <value use-empty-fallback>@Model.NationalInsuranceNumber</value>
                    </row>
                </govuk-summary-list>
            </govuk-summary-card>

            <govuk-inset-text>
                Details that do not match are <highlight>highlighted</highlight> in the existing record
            </govuk-inset-text>

            @foreach (var match in Model.SuggestedMatches!)
            {
                <govuk-summary-card data-testid="match">
	                <title>Record @match.Identifier</title>
	                <govuk-summary-card-actions>
		                <govuk-summary-card-action href="@LinkGenerator.Persons.PersonDetail.Index(match.PersonId)" target="_blank">
			                View record (opens in a new tab)
		                </govuk-summary-card-action>
	                </govuk-summary-card-actions>
                    <govuk-summary-list>
                        <row>
                            <key>Name</key>
                            <value use-empty-fallback highlight="@match.HasNameMismatch">
                                @match.FirstName @match.MiddleName @match.LastName
                            </value>
                        </row>
                        @if (match.PreviousNames!.Count > 0)
                        {
                            <row>
                                <key>Previous names</key>
                                <value>
                                    <list-text-items text-items="@match.PreviousNames"></list-text-items>
                                </value>
                            </row>
                        }
                        <row>
                            <key>Email address</key>
                            <value use-empty-fallback highlight="@(!match.MatchedAttributeTypes.Contains(PersonMatchedAttribute.EmailAddress))">@match.EmailAddress</value>
                        </row>
                        <row>
                            <key>Date of birth</key>
                            <value use-empty-fallback highlight="@(!match.MatchedAttributeTypes.Contains(PersonMatchedAttribute.DateOfBirth))">@match.DateOfBirth?.ToString(WebConstants.DateOnlyDisplayFormat)</value>
                        </row>
                        <row>
                            <key>TRN</key>
                            <value use-empty-fallback highlight="@(!match.MatchedAttributeTypes.Contains(PersonMatchedAttribute.Trn))">@match.Trn</value>
                        </row>
                        <row>
                            <key>National Insurance number</key>
                            <value use-empty-fallback highlight="@(!(match.MatchedAttributeTypes.Contains(PersonMatchedAttribute.NationalInsuranceNumber) || (string.IsNullOrEmpty(Model.NationalInsuranceNumber) && string.IsNullOrEmpty(match.NationalInsuranceNumber))))">@match.NationalInsuranceNumber</value>
                        </row>
                    </govuk-summary-list>
                </govuk-summary-card>
            }

            <govuk-radios for="MatchedPersonId">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend>
                        <h2 class="govuk-fieldset__legend govuk-fieldset__legend--m">What do you want to do with this GOV.UK One Login?</h2>
                    </govuk-radios-fieldset-legend>
                    @foreach (var match in Model.SuggestedMatches)
                    {
                        <govuk-radios-item value="@match.PersonId">Connect it to Record @match.Identifier (TRN @match.Trn)</govuk-radios-item>
                    }
                    <govuk-radios-item value="@ResolveOneLoginUserMatchingState.NotMatchedPersonIdSentinel">
                        Do not connect it to a record
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>

                <govuk-button type="submit" name="action" value="@Matches.Actions.SaveAndComeBackLater" class="govuk-button--secondary">
                    Save and come back later
                </govuk-button>

                <govuk-button type="submit" name="action" value="@Matches.Actions.Cancel" data-testid="cancel-button" class="govuk-button--secondary">
                    Cancel
                </govuk-button>
            </div>
        </div>
    </div>
</form>
