@page "/support-tasks/one-login-user-matching/{supportTaskReference}/resolve/verify/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.OneLoginUserMatching.Resolve.VerifyModel
@{
    ViewBag.Title = "GOV.UK One Login - identity verification";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.SupportTasks.OneLoginUserMatching.IdVerification()" />
}

<form action="@LinkGenerator.SupportTasks.OneLoginUserMatching.Resolve.Verify(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Record management</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <h2 class="govuk-heading-m">Request details</h2>
            <govuk-summary-list>
                <row>
                    <key>Name</key>
                    <value data-testid="name">@Model.Name</value>
                </row>
                <row>
                    <key>Date of birth</key>
                    <value data-testid="date-of-birth">@Model.DateOfBirth.ToString(WebConstants.DateOnlyDisplayFormat)</value>
                </row>
                <row>
                    <key>Email address</key>
                    <value data-testid="email">@Model.EmailAddress</value>
                </row>
                <row>
                    <key>TRN</key>
                    <value use-empty-fallback>@Model.Trn</value>
                </row>
                <row>
                    <key>National Insurance number</key>
                    <value use-empty-fallback>@Model.NationalInsuranceNumber</value>
                </row>
                <row>
                    <key>Proof of identity</key>
                    <value>
                        <a href="@Model.Evidence!.FileUrl" class="govuk-link" rel="noreferrer noopener" target="_blank" date-testid="view-larger-@Model.Evidence!.FileId">View larger (opens in new tab)</a>
                        <div class="govuk-!-margin-top-2">
                            @if (Model.Evidence!.MimeType == "application/pdf")
                            {
                                <object data="@LinkGenerator.SupportTasks.OneLoginUserMatching.Resolve.Evidence(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" type="application/pdf" class="govuk-!-width-three-quarters govuk-!-margin-top-1" data-testid="pdf-@Model.Evidence!.FileId">
                                </object>
                            }
                            else
                            {
                                <img src="@LinkGenerator.SupportTasks.OneLoginUserMatching.Resolve.Evidence(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" alt="@Model.Evidence.FileName" class="govuk-!-width-three-quarters govuk-!-margin-top-1" data-testid="image-@Model.Evidence!.FileId" />
                            }
                        </div>
                    </value>
                </row>
            </govuk-summary-list>

            <govuk-radios for="Verified" data-testid="reason-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend data-testid="reason-options-legend" class="govuk-fieldset__legend--m">Can you verify this person’s identity?</govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@true">
                        Yes, find a matching record
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No, reject this request
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
        </div>
    </div>

    <div class="govuk-button-group">
        <govuk-button type="submit">Continue</govuk-button>
        <govuk-button type="submit" name="Cancel" value="true" class="govuk-button--secondary">Cancel</govuk-button>
    </div>
</form>
