@page "/mqs/{qualificationId}/start-date/check-answers/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.EditMq.StartDate.CheckAnswersModel
@{
    ViewBag.Title = "Check details before editing mandatory qualification";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Mqs.EditMq.StartDate.Reason(Model.QualificationId, Model.JourneyInstance!.InstanceId)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">Edit mandatory qualification - @Model.PersonName</span>
        <h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

        <form action="@LinkGenerator.Mqs.EditMq.StartDate.CheckAnswers(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post">
            <govuk-summary-list data-testid="change-summary">
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>New start date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="new-start-date">@Model.NewStartDate!.Value.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Previous start date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="current-start-date">@(Model.CurrentStartDate.HasValue ? Model.CurrentStartDate!.Value.ToString(UiDefaults.DateOnlyDisplayFormat) : "None")</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>
            <h2 class="govuk-heading-m">Why are you editing this mandatory qualification?</h2>
            <govuk-summary-list data-testid="change-reason-summary">
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Reason</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="change-reason">@Model.ChangeReason!.GetDisplayName()</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>More details</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="change-reason-detail">@Html.ConvertNewlinesToLineBreaks(!string.IsNullOrEmpty(Model.ChangeReasonDetail) ? Model.ChangeReasonDetail : "None")</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Evidence</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="evidence">
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile" />
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm and update qualification</govuk-button>
                <govuk-button formaction="@LinkGenerator.Mqs.EditMq.StartDate.CheckAnswersCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
