@page "/mqs/{qualificationId}/start-date/check-answers/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.EditMq.StartDate.CheckAnswersModel
@{
    ViewBag.Title = "Check details before changing start date";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.MqEditStartDateChangeReason(Model.QualificationId, Model.JourneyInstance!.InstanceId)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">Change a mandatory qualification - @Model.PersonName</span>
        <h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

        <form action="@LinkGenerator.MqEditStartDateCheckAnswers(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post">
            <govuk-summary-list data-testid="change-summary">
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Current start date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="current-start-date">@(Model.CurrentStartDate.HasValue ? Model.CurrentStartDate!.Value.ToString(UiDefaults.DateOnlyDisplayFormat) : "None")</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>New start date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="new-start-date">@Model.NewStartDate!.Value.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Reason</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="change-reason">@Model.ChangeReason!.GetDisplayName()</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>More details</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="change-reason-detail"><multi-line-text text="@(!string.IsNullOrEmpty(Model.ChangeReasonDetail) ? Model.ChangeReasonDetail : "None")" /></govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Evidence</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="evidence">
                        @if (Model.UploadedEvidenceFileUrl is not null)
                        {
                            <a href="@Model.UploadedEvidenceFileUrl" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="uploaded-evidence-link">@($"{Model.EvidenceFileName} (opens in new tab)")</a>
                        }
                        else
                        {
                            <span>None</span>
                        }
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm change</govuk-button>
                <govuk-button formaction="@LinkGenerator.MqEditStartDateCheckAnswersCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
