@page "/alerts/{alertId}/reopen/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Alerts.ReopenAlert.IndexModel
@{
    ViewBag.Title = "Why are you removing the end date?";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Alert(Model.AlertId)">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.AlertReopen(Model.AlertId, Model.JourneyInstance!.InstanceId)" method="post" enctype="multipart/form-data">
            <span class="govuk-caption-l">Change previous alert - @Model.PersonName</span>
            <h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

            <govuk-radios asp-for="ChangeReason" data-testid="change-reason-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m" />
                    <govuk-radios-item value="@ReopenAlertReasonOption.ClosedInError">
                        @ReopenAlertReasonOption.ClosedInError.GetDisplayName()
                    </govuk-radios-item>                    
                    <govuk-radios-item value="@ReopenAlertReasonOption.AnotherReason">
                        @ReopenAlertReasonOption.AnotherReason.GetDisplayName()
                        <govuk-radios-item-conditional>
                            <govuk-character-count asp-for="ChangeReasonDetail" label-class="govuk-label--m" max-length="4000" />
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-radios asp-for="UploadEvidence" data-testid="upload-evidence-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m" />
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional>
                            @if (Model.EvidenceFileId is not null)
                            {
                                <span class="govuk-caption-m">Currently uploaded file</span>
                                <p class="govuk-body">
                                    <a href="@Model.UploadedEvidenceFileUrl" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="uploaded-evidence-link">@($"{Model.EvidenceFileName} ({Model.EvidenceFileSizeDescription})")</a>
                                </p>
                            }
                            <govuk-file-upload asp-for="EvidenceFile" input-accept=".bmp, .csv, .doc, .docx, .eml, .jpeg, .jpg, .mbox, .msg, .ods, .odt, .pdf, .png, .tif, .txt, .xls, .xlsx">
                                <govuk-file-upload-label>Upload a file</govuk-file-upload-label>
                            </govuk-file-upload>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button formaction="@LinkGenerator.AlertReopenCancel(Model.AlertId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
