@page "/support-tasks/teacher-pensions/{supportTaskReference}/resolve/matches/{handler?}"
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders
@model MatchesModel
@{
    ViewBag.Title = "Compare Teachers’ Pensions record with potential matches";
    var showDuplicatesSideBySide = Model.PotentialDuplicates!.Length == 1;
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers ? LinkGenerator.SupportTasks.TeacherPensions.Resolve.CheckAnswers(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId) : LinkGenerator.SupportTasks.TeacherPensions.Index())"/>
}

<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Third-party tasks</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class=@(showDuplicatesSideBySide ? "govuk-grid-column-full" : "govuk-grid-column-two-thirds")>
            <govuk-inset-text class="govuk-!-margin-top-0">
                Details that do not match are <highlight>highlighted</highlight> in the existing records
            </govuk-inset-text>

            <div class="trs-potential-duplicates @(showDuplicatesSideBySide ? "trs-potential-duplicates--side-by-side" : "")">
                <govuk-summary-card data-testid="request" class="trs-potential-duplicates__item">
                    <title>
                        Teachers&rsquo; Pensions record
                    </title>
                    <card-actions>
                        <action href="@LinkGenerator.Persons.PersonDetail.Index(Model.SupportTask!.PersonId!.Value)" target="_blank">
                            View record
                        </action>
                    </card-actions>
                    <govuk-summary-list>
                        <row>
                            <key>Name</key>
                            <value use-empty-fallback>@Model.Name</value>
                        </row>
                        <row>
                            <key>TRN</key>
                            <value use-empty-fallback>@Model.Trn</value>
                        </row>
                        <row>
                            <key>Date of birth</key>
                            <value use-empty-fallback>@Model.RequestData!.DateOfBirth.ToString(WebConstants.DateDisplayFormat)</value>
                        </row>
                        <row>
                            <key>NI number</key>
                            <value use-empty-fallback>@Model.RequestData!.NationalInsuranceNumber</value>
                        </row>
                        <row>
                            <key>Gender</key>
                            <value use-empty-fallback>@Model.RequestData!.Gender?.GetDisplayName()</value>
                        </row>
                        @if (Model.OneLoginEmails?.Length > 0)
                        {
                            <row>
                                <key>Connected One Login details</key>
                                <value use-empty-fallback>
                                    <ul class="govuk-list">
                                        @foreach (var oneLoginEmail in Model.OneLoginEmails)
                                        {
                                            <li>@oneLoginEmail</li>
                                        }
                                    </ul >
                                </value>
                            </row>
                        }
                    </govuk-summary-list>
                </govuk-summary-card>

                @if (!showDuplicatesSideBySide)
                {
                    <h2 class="govuk-heading-m">Potential matches</h2>
                }

                @foreach (var (match, hasNameMismatch) in Model.PotentialDuplicatesWithNameMatchingInfo)
                {
                    <govuk-summary-card data-testid="match" class="trs-potential-duplicates__item">
                        <title>
                            Record @match.Identifier
                        </title>
                        <card-actions>
                            <action href="@LinkGenerator.Persons.PersonDetail.Index(match.PersonId)" target="_blank">
                                View record
                            </action>
                        </card-actions>
                        <govuk-summary-list>
                            <row>
                                <key>Name</key>
                                <value use-empty-fallback highlight="@hasNameMismatch">
                                    @string.JoinNonEmpty(' ', match.FirstName, match.MiddleName, match.LastName)
                                </value>
                            </row>
                            @if (match.PreviousNames!.Count > 0)
                            {
                                <row>
                                    <key>Previous names</key>
                                    <value>
                                        <list-text-items text-items="@match.PreviousNames"></list-text-items>
                                    </value>
                                </row>
                            }
                            <row>
                                <key>TRN</key>
                                <value use-empty-fallback highlight="@(!match.MatchedAttributes.Contains(PersonMatchedAttribute.Trn))">
                                    @match.Trn
                                </value>
                            </row>
                            <row>
                                <key>Date of birth</key>
                                <value use-empty-fallback highlight="@(!match.MatchedAttributes.Contains(PersonMatchedAttribute.DateOfBirth))">
                                    @match.DateOfBirth?.ToString(WebConstants.DateDisplayFormat)
                                </value>
                            </row>
                            <row>
                                <key>NI number</key>
                                <value use-empty-fallback highlight="@(!(match.MatchedAttributes.Contains(PersonMatchedAttribute.NationalInsuranceNumber) || (string.IsNullOrEmpty(Model.RequestData!.NationalInsuranceNumber) && string.IsNullOrEmpty(match.NationalInsuranceNumber))))">
                                    @match.NationalInsuranceNumber
                                </value>
                            </row>
                            <row>
                                <key>Gender</key>
                                <value use-empty-fallback highlight="@(!(match.MatchedAttributes.Contains(PersonMatchedAttribute.Gender) || (Model.RequestData!.Gender is null && match.Gender is null)))">
                                    @match.Gender?.GetDisplayName()
                                </value>
                            </row>
                        </govuk-summary-list>
                    </govuk-summary-card>
                }
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-radios for="PersonId">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                        What do you want to do with the Teachers&rsquo; Pensions record?
                    </govuk-radios-fieldset-legend>

                    @foreach (var match in Model.PotentialDuplicates)
                    {
                        <govuk-radios-item value="@match.PersonId">
                            Merge it with Record @match.Identifier
                        </govuk-radios-item>
                    }

                    <govuk-radios-divider>or</govuk-radios-divider>

                    <govuk-radios-item value="@Guid.Empty">
                        Keep it as a separate record
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button type="submit" formaction="@LinkGenerator.SupportTasks.TeacherPensions.Resolve.MatchesCancel(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary">Cancel</govuk-button>
            </div>
        </div>
    </div>
</form>
