@page "/persons/add/check-answers"
@model TeachingRecordSystem.SupportUi.Pages.Persons.AddPerson.CheckAnswersModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Check details before creating record";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" data-testid="submit-form">
            <span class="govuk-caption-l" data-testid="edit-details-caption">Create a record</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>



            <govuk-summary-list>
                <row>
                    <key>Full name</key>
                    <value>@Model.Name</value>
                    <row-actions>
                        <action data-testid="change-details-link" href=@Model.ChangePersonalDetailsLink visually-hidden-text="name">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Date of birth</key>
                    <value use-empty-fallback>@Model.DateOfBirth?.ToString(WebConstants.DateOnlyDisplayFormat)</value>
                    <row-actions>
                        <action href=@Model.ChangePersonalDetailsLink visually-hidden-text="date of birth">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Email address</key>
                    <value use-empty-fallback>@Model.EmailAddress?.ToDisplayString()</value>
                    <row-actions>
                        <action href=@Model.ChangePersonalDetailsLink visually-hidden-text="email address">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>National Insurance number</key>
                    <value use-empty-fallback>@Model.NationalInsuranceNumber?.ToDisplayString()</value>
                    <row-actions>
                        <action href=@Model.ChangePersonalDetailsLink visually-hidden-text="National Insurance number">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Gender</key>
                    <value use-empty-fallback>@Model.Gender?.GetDisplayName()</value>
                    <row-actions>
                        <action href=@Model.ChangePersonalDetailsLink visually-hidden-text="gender">Change</action>
                    </row-actions>
                </row>

            </govuk-summary-list>

            <h2 class="govuk-heading-m">Why are you creating this record?</h2>
            <govuk-summary-list>
                <row>
                    <key>Reason</key>
                    <value>@Model.Reason?.GetDisplayName()</value>
                    <row-actions>
                        <action data-testid="change-create-reason-link" href=@Model.ChangeReasonLink visually-hidden-text="reason">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Additional information</key>
                    <value>
                        @if (Model.ReasonDetail is not null)
                        {
                            @Html.ConvertNewlinesToLineBreaks(Model.ReasonDetail)
                        }
                        else
                        {
                            <span use-empty-fallback></span>
                        }
                    </value>
                    <row-actions>
                        <action href=@Model.ChangeReasonLink visually-hidden-text="reason details">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Evidence</key>
                    <value>
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile" />
                    </value>
                    <row-actions>
                        <action href=@Model.ChangeReasonLink visually-hidden-text="evidence">Change</action>
                    </row-actions>
                </row>
            </govuk-summary-list>


            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="confirm-button">Confirm and create record</govuk-button>
                <govuk-button type="submit" formaction="@LinkGenerator.Persons.AddPerson.CheckAnswersCancel(Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" data-testid="cancel-button">Cancel</govuk-button>
            </div>
        </form>
    </div>
</div>
