@page "/persons/{personId}/merge/check-answers"
@model TeachingRecordSystem.SupportUi.Pages.Persons.MergePerson.CheckAnswersModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Check details before updating the primary record";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink" />
}

<form method="post" data-testid="submit-form">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-summary-list>
                <row>
                    <key>First name</key>
                    <value use-empty-fallback>@Model.FirstName</value>
                    @if (Model.IsFirstNameChangeable)
                    {
                        <row-actions>
                            <action data-testid="change-firstname-link" href=@Model.ChangeDetailsLink visually-hidden-text="first name">Change</action>
                        </row-actions>
                    }
                </row>
                <row>
                    <key>Middle name</key>
                    <value use-empty-fallback>@Model.MiddleName</value>
                    @if (Model.IsMiddleNameChangeable)
                    {
                        <row-actions>
                            <action data-testid="change-middlename-link" href=@Model.ChangeDetailsLink visually-hidden-text="middle name">Change</action>
                        </row-actions>
                    }
                </row>
                <row>
                    <key>Last name</key>
                    <value use-empty-fallback>@Model.LastName</value>
                    @if (Model.IsLastNameChangeable)
                    {
                        <row-actions>
                            <action data-testid="change-lastname-link" href=@Model.ChangeDetailsLink visually-hidden-text="last name">Change</action>
                        </row-actions>
                    }
                </row>
                <row>
                    <key>Date of birth</key>
                    <value use-empty-fallback>@Model.DateOfBirth?.ToString(WebConstants.DateOnlyDisplayFormat)</value>
                    @if (Model.IsDateOfBirthChangeable)
                    {
                        <row-actions>
                            <action data-testid="change-dob-link" href=@Model.ChangeDetailsLink visually-hidden-text="date of birth">Change</action>
                        </row-actions>
                    }
                </row>
                <row>
                    <key>Email</key>
                    <value use-empty-fallback>@Model.EmailAddress</value>
                    @if (Model.IsEmailAddressChangeable)
                    {
                        <row-actions>
                            <action data-testid="change-email-link" href=@Model.ChangeDetailsLink visually-hidden-text="email address">Change</action>
                        </row-actions>
                    }
                </row>
                <row>
                    <key>National Insurance number</key>
                    <value use-empty-fallback>@Model.NationalInsuranceNumber</value>
                    @if (Model.IsNationalInsuranceNumberChangeable)
                    {
                        <row-actions>
                            <action data-testid="change-ni-link" href=@Model.ChangeDetailsLink visually-hidden-text="national insurance number">Change</action>
                        </row-actions>
                    }
                </row>
                <row>
                    <key>Gender</key>
                    <value use-empty-fallback>@Model.Gender?.GetDisplayName()</value>
                    @if (Model.IsGenderChangeable)
                    {
                        <row-actions>
                            <action data-testid="change-gender-link" href=@Model.ChangeDetailsLink visually-hidden-text="gender">Change</action>
                        </row-actions>
                    }
                </row>
                <row>
                    <key>Evidence</key>
                    <value>
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile" />
                    </value>
                    <row-actions>
                        <action data-testid="change-evidence-link" href=@Model.ChangeDetailsLink visually-hidden-text="evidence">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Comments</key>
                    <value use-empty-fallback>@Model.Comments</value>
                    <row-actions>
                        <action data-testid="change-comments-link" href=@Model.ChangeDetailsLink visually-hidden-text="comments">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>TRN</key>
                    <value>@Model.Trn</value>
                </row>
            </govuk-summary-list>


            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Confirm and update primary record</govuk-button>
                <govuk-button type="submit" formaction="@Model.CancelLink" class="govuk-button--secondary" data-testid="cancel-button">Cancel and return to record</govuk-button>
            </div>
        </div>
    </div>
</form>
