@using TeachingRecordSystem.Core.Events
@using TeachingRecordSystem.Core.Services.Files
@inject IFileService FileService
@inject ReferenceDataCache ReferenceDataCache
@model TimelineItem<LegacyEventChangeHistoryEntry<TeachingRecordSystem.Core.Events.Legacy.AlertDqtReactivatedEvent>>
@{
    var dqtReactivatedEvent = Model.ItemModel.Event;
    var alert = dqtReactivatedEvent.Alert;
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-alert-dqt-reactivated-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Alert reactivated</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedGmtTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-summary-list>
            <row>
                <key>DQT sanction code</key>
                <value data-testid="sanction-code" use-empty-fallback>@alert.DqtSanctionCode?.Value</value>
            </row>
            <row>
                <key>DQT sanction name</key>
                <value data-testid="sanction-name" use-empty-fallback>@alert.DqtSanctionCode?.Name</value>
            </row>
            <row>
                <key>Start date</key>
                <value data-testid="start-date" use-empty-fallback>@alert.StartDate?.ToString(WebConstants.DateDisplayFormat)</value>
            </row>
        </govuk-summary-list>
    </div>
</div>
