@using TeachingRecordSystem.Core.Events
@model TimelineItem<TimelineEvent<TeachingRecordSystem.Core.Events.Legacy.MandatoryQualificationDqtDeactivatedEvent>>
@{
    var deactivatedEvent = Model.ItemModel.Event;
    var mandatoryQualification = deactivatedEvent.MandatoryQualification;
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-mq-dqt-deactivated-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Mandatory qualification deactivated</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-details class="govuk-!-margin-bottom-2">
            <govuk-details-summary>Deactivated data</govuk-details-summary>
            <govuk-details-text>
                <govuk-summary-list>
                    <row>
                        <key>Training provider</key>
                        <value data-testid="provider">@(mandatoryQualification.Provider?.Name ?? mandatoryQualification.Provider?.DqtMqEstablishmentName ?? "None")</value>
                    </row>
                    <row>
                        <key>Specialism</key>
                        <value data-testid="specialism">@(mandatoryQualification.Specialism?.GetTitle() ?? "None")</value>
                    </row>
                    <row>
                        <key>Start date</key>
                        <value data-testid="start-date">@(mandatoryQualification.StartDate?.ToString(WebConstants.DateOnlyDisplayFormat) ?? "None")</value>
                    </row>
                    <row>
                        <key>Status</key>
                        <value data-testid="status">@(mandatoryQualification.Status?.GetTitle() ?? "None")</value>
                    </row>
                    <row>
                        <key>End date</key>
                        <value data-testid="end-date">@(mandatoryQualification.EndDate?.ToString(WebConstants.DateOnlyDisplayFormat) ?? "None")</value>
                    </row>
                </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>
    </div>
</div>
