@using TeachingRecordSystem.Core.Events
@using TeachingRecordSystem.Core.Services.Files
@inject IFileService FileService
@model TimelineItem<TimelineEvent<TeachingRecordSystem.Core.Events.Legacy.MandatoryQualificationDeletedEvent>>
@{
    var deletedEvent = Model.ItemModel.Event;
    var mandatoryQualification = deletedEvent.MandatoryQualification;
    var evidenceFileUrl = deletedEvent.EvidenceFile is not null ? await FileService.GetFileUrlAsync(deletedEvent.EvidenceFile!.FileId, TimeSpan.FromMinutes(15)) : null;
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-mq-deleted-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Mandatory qualification deleted</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-details class="govuk-!-margin-bottom-2">
            <govuk-details-summary>Reason for deletion</govuk-details-summary>
            <govuk-details-text>
                <govuk-summary-list>
                    <row>
                        <key>Reason for deleting</key>
                        <value data-testid="deletion-reason">@(!string.IsNullOrEmpty(deletedEvent.DeletionReason) ? deletedEvent.DeletionReason : "None")</value>
                    </row>
                    <row>
                        <key>More detail</key>
                        <value data-testid="deletion-reason-detail">
                            @Html.ConvertNewlinesToLineBreaks(!string.IsNullOrEmpty(deletedEvent.DeletionReasonDetail) ? deletedEvent.DeletionReasonDetail : "None")
                        </value>
                    </row>
                    @if (evidenceFileUrl is not null)
                    {
                        <row>
                            <key>Evidence</key>
                            <value data-testid="evidence">
                                <vc:event-evidence-file-link evidence-file="@deletedEvent.EvidenceFile" />
                            </value>
                        </row>
                    }
                </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>
        <govuk-details class="govuk-!-margin-bottom-2">
            <govuk-details-summary>Deleted data</govuk-details-summary>
            <govuk-details-text>
                <govuk-summary-list>
                    <row>
                        <key>Training provider</key>
                        <value data-testid="provider">@(mandatoryQualification.Provider?.Name ?? mandatoryQualification.Provider?.DqtMqEstablishmentName ?? "None")</value>
                    </row>
                    <row>
                        <key>Specialism</key>
                        <value data-testid="specialism">@(mandatoryQualification.Specialism?.GetTitle() ?? "None")</value>
                    </row>
                    <row>
                        <key>Start date</key>
                        <value data-testid="start-date">@(mandatoryQualification.StartDate?.ToString(WebConstants.DateDisplayFormat) ?? "None")</value>
                    </row>
                    <row>
                        <key>Status</key>
                        <value data-testid="status">@(mandatoryQualification.Status?.GetTitle() ?? "None")</value>
                    </row>
                    <row>
                        <key>End date</key>
                        <value data-testid="end-date">@(mandatoryQualification.EndDate?.ToString(WebConstants.DateDisplayFormat) ?? "None")</value>
                    </row>
                </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>
    </div>
</div>
