@using TeachingRecordSystem.Core.Events
@using TeachingRecordSystem.Core.Events.Legacy
@using TeachingRecordSystem.Core.Services.Files
@inject IFileService FileService
@model TimelineItem<LegacyEventChangeHistoryEntry<TeachingRecordSystem.Core.Events.Legacy.MandatoryQualificationUpdatedEvent>>
@{
    var updatedEvent = Model.ItemModel.Event;
    var mandatoryQualification = updatedEvent.MandatoryQualification;
    var oldMandatoryQualification = updatedEvent.OldMandatoryQualification;
    var evidenceFileUrl = updatedEvent.EvidenceFile is not null ? await FileService.GetFileUrlAsync(updatedEvent.EvidenceFile!.FileId, TimeSpan.FromMinutes(15)) : null;
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-mq-updated-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Mandatory qualification changed</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedGmtTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        @if (updatedEvent.ChangeReason is not null)
        {
            <govuk-details class="govuk-!-margin-bottom-2" data-testid="reason-for-change">
                <govuk-details-summary>Reason for change</govuk-details-summary>
                <govuk-details-text>
                    <govuk-summary-list>
                        <row>
                            <key>Reason</key>
                            <value data-testid="change-reason">@(!string.IsNullOrEmpty(updatedEvent.ChangeReason) ? updatedEvent.ChangeReason : "None")</value>
                        </row>
                        <row>
                            <key>More detail</key>
                            <value data-testid="change-reason-detail">
                                @if (updatedEvent.ChangeReasonDetail is not null)
                                {
                                    @Html.ConvertNewlinesToLineBreaks(updatedEvent.ChangeReasonDetail)
                                }
                                else
                                {
                                    <span use-empty-fallback></span>
                                }
                            </value>
                        </row>
                        <row>
                            <key>Additional information</key>
                            <value data-testid="additional-information">
                                @if (updatedEvent.AdditionalInformation is not null)
                                {
                                    @Html.ConvertNewlinesToLineBreaks(updatedEvent.AdditionalInformation)
                                }
                                else
                                {
                                    <span use-empty-fallback></span>
                                }
                            </value>
                        </row>
                        @if (evidenceFileUrl is not null)
                        {
                            <row>
                                <key>Evidence</key>
                                <value data-testid="evidence">
                                    <vc:event-evidence-file-link evidence-file="@updatedEvent.EvidenceFile" />
                                </value>
                            </row>
                        }
                    </govuk-summary-list>
                </govuk-details-text>
            </govuk-details>
        }
        <govuk-details class="govuk-!-margin-bottom-2" data-testid="previous-data">
            <govuk-details-summary>Previous data</govuk-details-summary>
            <govuk-details-text>
                <govuk-summary-list>
                @if (updatedEvent.Changes.HasFlag(MandatoryQualificationUpdatedEventChanges.Provider))
                {
                    <row>
                        <key>Training provider</key>
                        <value data-testid="provider">@(oldMandatoryQualification.Provider?.Name ?? oldMandatoryQualification.Provider?.DqtMqEstablishmentName ?? "None")</value>
                    </row>
                }

                @if (updatedEvent.Changes.HasFlag(MandatoryQualificationUpdatedEventChanges.Specialism))
                {
                    <row>
                        <key>Specialism</key>
                        <value data-testid="specialism">@(oldMandatoryQualification.Specialism?.GetTitle() ?? "None")</value>
                    </row>
                }

                @if (updatedEvent.Changes.HasFlag(MandatoryQualificationUpdatedEventChanges.StartDate))
                {
                    <row>
                        <key>Start date</key>
                        <value data-testid="start-date">@(oldMandatoryQualification.StartDate?.ToString(WebConstants.DateDisplayFormat) ?? "None")</value>
                    </row>
                }

                @if (updatedEvent.Changes.HasFlag(MandatoryQualificationUpdatedEventChanges.Status))
                {
                    <row>
                        <key>Status</key>
                        <value data-testid="status">@(oldMandatoryQualification.Status?.GetTitle() ?? "None")</value>
                    </row>
                }

                @if (updatedEvent.Changes.HasFlag(MandatoryQualificationUpdatedEventChanges.EndDate))
                {
                    <row>
                        <key>End date</key>
                        <value data-testid="end-date">@(oldMandatoryQualification.EndDate?.ToString(WebConstants.DateDisplayFormat) ?? "None")</value>
                    </row>
                }
                </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>
    </div>
</div>
