@using TeachingRecordSystem.Core.Events
@using TeachingRecordSystem.Core.Events.Legacy
@using TeachingRecordSystem.Core.Services.Files
@using TeachingRecordSystem.SupportUi.Pages.RoutesToProfessionalStatus
@inject ReferenceDataCache ReferenceDataCache
@inject IFileService FileService
@model TimelineItem<LegacyEventChangeHistoryEntry<TeachingRecordSystem.Core.Events.Legacy.RouteToProfessionalStatusDeletedEvent>>
@{
    var deletedEvent = Model.ItemModel.Event;
    var professionalStatus = deletedEvent.RouteToProfessionalStatus;
    var routeType = await ReferenceDataCache.GetRouteToProfessionalStatusTypeByIdAsync(professionalStatus.RouteToProfessionalStatusTypeId);
    var trainingProvider = professionalStatus.TrainingProviderId.HasValue ? await ReferenceDataCache.GetTrainingProviderByIdAsync(professionalStatus.TrainingProviderId.Value) : null;
    var country = !string.IsNullOrEmpty(professionalStatus.TrainingCountryId) ? await ReferenceDataCache.GetTrainingCountryByIdAsync(professionalStatus.TrainingCountryId) : null;
    var degreeType = professionalStatus.DegreeTypeId.HasValue ? await ReferenceDataCache.GetDegreeTypeByIdAsync(professionalStatus.DegreeTypeId.Value) : null;
    var ageRangeType = professionalStatus.TrainingAgeSpecialismType;
    var ageRangeFromTo = (professionalStatus.TrainingAgeSpecialismRangeFrom is not null && professionalStatus.TrainingAgeSpecialismRangeTo is not null) ?
        $"From {professionalStatus.TrainingAgeSpecialismRangeFrom} to {professionalStatus.TrainingAgeSpecialismRangeTo}" : null;
    var subjects = await SubjectDisplayHelper.GetFormattedSubjectNamesAsync(professionalStatus.TrainingSubjectIds, ReferenceDataCache);
    var evidenceFileUrl = deletedEvent.EvidenceFile is not null ? await FileService.GetFileUrlAsync(deletedEvent.EvidenceFile!.FileId, TimeSpan.FromMinutes(15)) : null;
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-route-deleted-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Route deleted</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedGmtTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-details class="govuk-!-margin-bottom-2">
            <govuk-details-summary>Reason for deletion</govuk-details-summary>
            <govuk-details-text>
                <govuk-summary-list>
                    <row>
                        <key>Reason</key>
                        <value data-testid="reason" use-empty-fallback>@deletedEvent.DeletionReason</value>
                    </row>
                    <row>
                        <key>Reason details</key>
                        <value use-empty-fallback data-testid="reason-detail">
                            @Html.ConvertNewlinesToLineBreaks(deletedEvent.DeletionReasonDetail)
                        </value>
                    </row>
                    <row>
                        <key>Additional information</key>
                        <value use-empty-fallback data-testid="additional-information">
                            @Html.ConvertNewlinesToLineBreaks(deletedEvent.AdditionalInformation)
                        </value>
                    </row>
                    <row>
                        <key>Evidence</key>
                        <value>
                            <vc:event-evidence-file-link evidence-file="@deletedEvent.EvidenceFile" />
                        </value>
                    </row>
                </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>
        @if (deletedEvent.Changes != RouteToProfessionalStatusDeletedEventChanges.None)
        {
            <govuk-details class="govuk-!-margin-bottom-2">
                <govuk-details-summary>Person professional status updated as a result of the route deletion</govuk-details-summary>
                <govuk-details-text>
                    <govuk-summary-list>
                        @if (deletedEvent.Changes.HasFlag(RouteToProfessionalStatusDeletedEventChanges.PersonHasEyps))
                        {
                            <row>
                                <key>Person has EYPS</key>
                                <value data-testid="has-eyps" use-empty-fallback>@(deletedEvent.PersonAttributes.HasEyps ? "Yes" : "No")</value>
                            </row>
                        }
                        @if (deletedEvent.Changes.HasFlag(RouteToProfessionalStatusDeletedEventChanges.PersonEytsDate))
                        {
                            <row>
                                <key>EYTS date</key>
                                <value data-testid="eyts-date" use-empty-fallback>@deletedEvent.PersonAttributes.EytsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                            </row>
                        }
                        @if (deletedEvent.Changes.HasFlag(RouteToProfessionalStatusDeletedEventChanges.PersonPqtsDate))
                        {
                            <row>
                                <key>PQTS date</key>
                                <value data-testid="pqts-date" use-empty-fallback>@deletedEvent.PersonAttributes.PqtsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                            </row>
                        }
                        @if (deletedEvent.Changes.HasFlag(RouteToProfessionalStatusDeletedEventChanges.PersonQtsDate))
                        {
                            <row>
                                <key>QTS date</key>
                                <value data-testid="qts-date" use-empty-fallback>@deletedEvent.PersonAttributes.QtsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                            </row>
                        }
                        @if (deletedEvent.Changes.HasFlag(RouteToProfessionalStatusDeletedEventChanges.PersonQtlsStatus))
                        {
                            <row>
                                <key>QTLS status</key>
                                <value data-testid="qtls-status" use-empty-fallback>@deletedEvent.PersonAttributes.QtlsStatus.ToString()</value>
                            </row>
                        }
                    </govuk-summary-list>
                </govuk-details-text>
            </govuk-details>
        }
        <govuk-details class="govuk-!-margin-bottom-2">
        <govuk-details-summary>Deleted data</govuk-details-summary>
            <govuk-details-text>
                <govuk-summary-list>
                @if (deletedEvent.Changes.HasFlag(RouteToProfessionalStatusDeletedEventChanges.PersonHasEyps))
                {
                    <row>
                        <key>Person has Eyps</key>
                        <value data-testid="old-has-eyps">@(deletedEvent.OldPersonAttributes.HasEyps ? "Yes" : "No")</value>
                    </row>
                }
                @if (deletedEvent.Changes.HasFlag(RouteToProfessionalStatusDeletedEventChanges.PersonEytsDate))
                {
                    <row>
                        <key>EYTS date</key>
                        <value data-testid="old-eyts-date" use-empty-fallback>@deletedEvent.OldPersonAttributes.EytsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                    </row>
                }
                @if (deletedEvent.Changes.HasFlag(RouteToProfessionalStatusDeletedEventChanges.PersonPqtsDate))
                {
                    <row>
                        <key>PQTS date</key>
                        <value data-testid="old-pqts-date" use-empty-fallback>@deletedEvent.OldPersonAttributes.PqtsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                    </row>
                }
                @if (deletedEvent.Changes.HasFlag(RouteToProfessionalStatusDeletedEventChanges.PersonQtsDate))
                {
                    <row>
                        <key>QTS date</key>
                        <value data-testid="old-qts-date" use-empty-fallback>@deletedEvent.OldPersonAttributes.QtsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                    </row>
                }
                @if (deletedEvent.Changes.HasFlag(RouteToProfessionalStatusDeletedEventChanges.PersonQtlsStatus))
                {
                    <row>
                        <key>QTLS status</key>
                        <value data-testid="old-qtls-status">@deletedEvent.OldPersonAttributes.QtlsStatus.ToString()</value>
                    </row>
                }
                <row>
                    <key>Route</key>
                    <value data-testid="route" use-empty-fallback>@routeType.Name</value>
                </row>
                <row>
                    <key>Status</key>
                    <value data-testid="status" use-empty-fallback>@professionalStatus.Status.GetDisplayName()</value>
                </row>
                <row>
                    <key>Start date</key>
                    <value data-testid="start-date" use-empty-fallback>@professionalStatus.TrainingStartDate?.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
                <row>
                    <key>End date</key>
                    <value data-testid="end-date" use-empty-fallback>@professionalStatus.TrainingEndDate?.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
                <row>
                        <key>Held since</key>
                    <value data-testid="award-date" use-empty-fallback>@professionalStatus.HoldsFrom?.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
                <row>
                    <key>Induction exemption</key>
                    <value data-testid="exemption" use-empty-fallback>@(professionalStatus.ExemptFromInduction.HasValue ? professionalStatus.ExemptFromInduction.Value ? "Yes" : "No" : null)</value>
                </row>
                <row>
                    <key>Training provider</key>
                    <value data-testid="training-provider" use-empty-fallback>@trainingProvider?.Name</value>
                </row>
                <row>
                    <key>Degree type</key>
                    <value data-testid="degree-type" use-empty-fallback>@degreeType?.Name</value>
                </row>
                <row>
                    <key>Country</key>
                    <value data-testid="country" use-empty-fallback>@country?.Name</value>
                </row>
                <row>
                    <key>Age range</key>
                    @if (ageRangeFromTo is not null)
                    {
                        <value data-testid="age-range" use-empty-fallback>@ageRangeFromTo</value>
                    }
                    else
                    {
                        <value data-testid="age-range-type" use-empty-fallback>@ageRangeType?.GetDisplayName()</value>
                    }
                </row>
                <row>
                    <key>Subjects</key>
                    <value use-empty-fallback data-testid="subjects"><list-text-items text-items="@subjects" /></value>
                </row>
                @if (professionalStatus.SourceApplicationReference is not null)
                {
                    <row>
                        <key>Source application reference</key>
                        <value use-empty-fallback data-testId="source-application-reference">
                            @professionalStatus.SourceApplicationReference
                        </value>
                    </row>
                }
            </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>
    </div>
</div>
