@using TeachingRecordSystem.Core.Events
@using TeachingRecordSystem.Core.Events.Legacy
@using TeachingRecordSystem.SupportUi.Pages.RoutesToProfessionalStatus
@using TeachingRecordSystem.Core.Services.Files
@inject ReferenceDataCache ReferenceDataCache
@inject IFileService FileService
@model TimelineItem<TimelineEvent<TeachingRecordSystem.Core.Events.Legacy.RouteToProfessionalStatusCreatedEvent>>
@{
    var createdEvent = Model.ItemModel.Event;
    var professionalStatus = createdEvent.RouteToProfessionalStatus;
    var routeType = await ReferenceDataCache.GetRouteToProfessionalStatusTypeByIdAsync(professionalStatus.RouteToProfessionalStatusTypeId);
    var trainingProvider = professionalStatus.TrainingProviderId.HasValue ? await ReferenceDataCache.GetTrainingProviderByIdAsync(professionalStatus.TrainingProviderId.Value) : null;
    var country = !string.IsNullOrEmpty(professionalStatus.TrainingCountryId) ? await ReferenceDataCache.GetTrainingCountryByIdAsync(professionalStatus.TrainingCountryId) : null;
    var degreeType = professionalStatus.DegreeTypeId.HasValue ? await ReferenceDataCache.GetDegreeTypeByIdAsync(professionalStatus.DegreeTypeId.Value) : null;
    var ageRangeType = professionalStatus.TrainingAgeSpecialismType;
    var ageRangeFromTo = (professionalStatus.TrainingAgeSpecialismRangeFrom is not null && professionalStatus.TrainingAgeSpecialismRangeTo is not null) ?
        $"From {professionalStatus.TrainingAgeSpecialismRangeFrom} to {professionalStatus.TrainingAgeSpecialismRangeTo}" : null;
    var subjects = await SubjectDisplayHelper.GetFormattedSubjectNamesAsync(professionalStatus.TrainingSubjectIds, ReferenceDataCache);
    var evidenceFileUrl = createdEvent.EvidenceFile is not null ? await FileService.GetFileUrlAsync(createdEvent.EvidenceFile!.FileId, TimeSpan.FromMinutes(15)) : null;
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-route-created-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Route added</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-summary-list>
            @if (createdEvent.Changes.HasFlag(RouteToProfessionalStatusCreatedEventChanges.PersonHasEyps))
            {
                <row>
                    <key>Person has Eyps</key>
                    <value data-testid="has-eyps" use-empty-fallback>@createdEvent.PersonAttributes.HasEyps ? "Yes" : "No")</value>
                </row>
            }
            @if (createdEvent.Changes.HasFlag(RouteToProfessionalStatusCreatedEventChanges.PersonEytsDate))
            {
                <row>
                    <key>EYTS date</key>
                    <value data-testid="eyts-date" use-empty-fallback>@createdEvent.PersonAttributes.EytsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
            }
            @if (createdEvent.Changes.HasFlag(RouteToProfessionalStatusCreatedEventChanges.PersonPqtsDate))
            {
                <row>
                    <key>PQTS date</key>
                    <value data-testid="pqts-date" use-empty-fallback>@createdEvent.PersonAttributes.PqtsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
            }
            @if (createdEvent.Changes.HasFlag(RouteToProfessionalStatusCreatedEventChanges.PersonQtsDate))
            {
                <row>
                    <key>QTS date</key>
                    <value data-testid="qts-date" use-empty-fallback>@createdEvent.PersonAttributes.QtsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
            }
            @if (createdEvent.Changes.HasFlag(RouteToProfessionalStatusCreatedEventChanges.PersonQtlsStatus))
            {
                <row>
                    <key>QTLS status</key>
                    <value data-testid="qtls-status" use-empty-fallback>@createdEvent.PersonAttributes.QtlsStatus.ToString()</value>
                </row>
            }
            <row>
                <key>Route</key>
                <value data-testid="route" use-empty-fallback>@routeType.Name</value>
            </row>
            <row>
                <key>Status</key>
                <value data-testid="status" use-empty-fallback>@professionalStatus.Status.GetDisplayName()</value>
            </row>
            <row>
                <key>Start date</key>
                <value data-testid="start-date" use-empty-fallback>@professionalStatus.TrainingStartDate?.ToString(WebConstants.DateDisplayFormat)</value>
            </row>
            <row>
                <key>End date</key>
                <value data-testid="end-date" use-empty-fallback>@professionalStatus.TrainingEndDate?.ToString(WebConstants.DateDisplayFormat)</value>
            </row>
            <row>
                <key>Held since</key>
                <value data-testid="award-date" use-empty-fallback>@professionalStatus.HoldsFrom?.ToString(WebConstants.DateDisplayFormat)</value>
            </row>
            <row>
                <key>Induction exemption</key>
                <value data-testid="exemption" use-empty-fallback>@(professionalStatus.ExemptFromInduction.HasValue? professionalStatus.ExemptFromInduction.Value ? "Yes" : "No" : null)</value>
            </row>
            <row>
                <key>Training provider</key>
                <value data-testid="training-provider" use-empty-fallback>@trainingProvider?.Name</value>
            </row>
            <row>
                <key>Degree type</key>
                <value data-testid="degree-type" use-empty-fallback>@degreeType?.Name</value>
            </row>
            <row>
                <key>Country</key>
                <value data-testid="country" use-empty-fallback>@country?.Name</value>
            </row>
            <row>
                <key>Age range</key>
                @if (ageRangeFromTo is not null)
                {
                    <value data-testid="age-range" use-empty-fallback>@ageRangeFromTo</value>
                }
                else
                {
                    <value data-testid="age-range-type" use-empty-fallback>@ageRangeType?.GetDisplayName()</value>
                }
            </row>
            <row>
                <key>Subjects </key>
                <value data-testid="subjects" use-empty-fallback><list-text-items text-items="@subjects"/></value>
            </row>
            @if (professionalStatus.SourceApplicationReference is not null)
            {
                <row>
                    <key>Source application reference</key>
                    <value data-testId="source-application-reference" use-empty-fallback>
                        @professionalStatus.SourceApplicationReference
                    </value>
                </row>
            }
        </govuk-summary-list>
        <govuk-details class="govuk-!-margin-bottom-2">
            <govuk-details-summary>Reason for change</govuk-details-summary>
            <govuk-details-text>
                <govuk-summary-list>
                    <row>
                        <key>Reason</key>
                        <value data-testid="reason" use-empty-fallback>@createdEvent.ChangeReason</value>
                    </row>
                    <row>
                        <key>Reason details</key>
                        <value use-empty-fallback data-testid="reason-detail">
                            @Html.ConvertNewlinesToLineBreaks(createdEvent.ChangeReasonDetail)
                        </value>
                    </row>
                    <row>
                        <key>Additional information</key>
                        <value use-empty-fallback data-testid="additional-information">
                            @Html.ConvertNewlinesToLineBreaks(createdEvent.AdditionalInformation)
                        </value>
                    </row>
                    <row>
                        <key>Evidence</key>
                        <value>
                            <vc:event-evidence-file-link evidence-file="@createdEvent.EvidenceFile" />
                        </value>
                    </row>
                </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>
        @if(createdEvent.Changes != RouteToProfessionalStatusCreatedEventChanges.None)
        {
            <govuk-details class="govuk-!-margin-bottom-2">
                <govuk-details-summary>Previous data</govuk-details-summary>
                <govuk-details-text>
                    <govuk-summary-list>
                        @if (createdEvent.Changes.HasFlag(RouteToProfessionalStatusCreatedEventChanges.PersonHasEyps))
                        {
                            <row>
                                <key>Person has EYPS</key>
                                <value data-testid="old-has-eyps">@(createdEvent.OldPersonAttributes.HasEyps ? "Yes" : "No")</value>
                            </row>
                        }
                        @if (createdEvent.Changes.HasFlag(RouteToProfessionalStatusCreatedEventChanges.PersonEytsDate))
                        {
                            <row>
                                <key>EYTS date</key>
                                <value data-testid="old-eyts-date" use-empty-fallback>@createdEvent.OldPersonAttributes.EytsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                            </row>
                        }
                        @if (createdEvent.Changes.HasFlag(RouteToProfessionalStatusCreatedEventChanges.PersonPqtsDate))
                        {
                            <row>
                                <key>PQTS date</key>
                                <value data-testid="old-pqts-date" use-empty-fallback>@createdEvent.OldPersonAttributes.PqtsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                            </row>
                        }
                        @if (createdEvent.Changes.HasFlag(RouteToProfessionalStatusCreatedEventChanges.PersonQtsDate))
                        {
                            <row>
                                <key>QTS date</key>
                                <value data-testid="old-qts-date" use-empty-fallback>@createdEvent.OldPersonAttributes.QtsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                            </row>
                        }
                        @if (createdEvent.Changes.HasFlag(RouteToProfessionalStatusCreatedEventChanges.PersonQtlsStatus))
                        {
                            <row>
                                <key>QTLS status</key>
                                <value data-testid="qtls-status">@createdEvent.OldPersonAttributes.QtlsStatus.ToString()</value>
                            </row>
                        }
                    </govuk-summary-list>
                </govuk-details-text>
            </govuk-details>
        }
    </div>
</div>
