@using TeachingRecordSystem.Core.Events
@using TeachingRecordSystem.SupportUi.Pages.RoutesToProfessionalStatus
@using TeachingRecordSystem.Core.Services.Files
@inject ReferenceDataCache ReferenceDataCache
@inject IFileService FileService
@model TimelineItem<TimelineEvent<TeachingRecordSystem.Core.Events.Legacy.RouteToProfessionalStatusMigratedEvent>>
@{
    var migratedEvent = Model.ItemModel.Event;
    var professionalStatus = migratedEvent.RouteToProfessionalStatus;
    var routeType = await ReferenceDataCache.GetRouteToProfessionalStatusTypeByIdAsync(professionalStatus.RouteToProfessionalStatusTypeId);
    var trainingProvider = professionalStatus.TrainingProviderId.HasValue ? await ReferenceDataCache.GetTrainingProviderByIdAsync(professionalStatus.TrainingProviderId.Value) : null;
    var country = !string.IsNullOrEmpty(professionalStatus.TrainingCountryId) ? await ReferenceDataCache.GetTrainingCountryByIdAsync(professionalStatus.TrainingCountryId) : null;
    var degreeType = professionalStatus.DegreeTypeId.HasValue ? await ReferenceDataCache.GetDegreeTypeByIdAsync(professionalStatus.DegreeTypeId.Value) : null;
    var ageRangeType = professionalStatus.TrainingAgeSpecialismType;
    var ageRangeFromTo = (professionalStatus.TrainingAgeSpecialismRangeFrom is not null && professionalStatus.TrainingAgeSpecialismRangeTo is not null) ?
        $"From {professionalStatus.TrainingAgeSpecialismRangeFrom} to {professionalStatus.TrainingAgeSpecialismRangeTo}" : null;
    var subjects = await SubjectDisplayHelper.GetFormattedSubjectNamesAsync(professionalStatus.TrainingSubjectIds, ReferenceDataCache);
    var dqtQtsRegistration = migratedEvent.DqtQtsRegistration;
    var dqtInitialTeacherTraining = migratedEvent.DqtInitialTeacherTraining;
    var dqtIttSubjectList = new List<string>();
    if (dqtInitialTeacherTraining?.Subject1Value is not null)
    {
        dqtIttSubjectList.Add($"{dqtInitialTeacherTraining.Subject1Value} - {dqtInitialTeacherTraining.Subject1Name}");
    }
    if (dqtInitialTeacherTraining?.Subject2Value is not null)
    {
        dqtIttSubjectList.Add($"{dqtInitialTeacherTraining.Subject2Value} - {dqtInitialTeacherTraining.Subject2Name}");
    }
    if (dqtInitialTeacherTraining?.Subject3Value is not null)
    {
        dqtIttSubjectList.Add($"{dqtInitialTeacherTraining.Subject3Value} - {dqtInitialTeacherTraining.Subject3Name}");
    }
    var dqtIttSubjects = dqtIttSubjectList.ToArray();
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-route-migrated-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Route migrated</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-summary-list>
            <row>
                <key>Route</key>
                <value data-testid="route" use-empty-fallback>@routeType.Name</value>
            </row>
            <row>
                <key>Status</key>
                <value data-testid="status" use-empty-fallback>@professionalStatus.Status.GetDisplayName()</value>
            </row>
            <row>
                <key>Start date</key>
                <value data-testid="start-date" use-empty-fallback>@professionalStatus.TrainingStartDate?.ToString(WebConstants.DateDisplayFormat)</value>
            </row>
            <row>
                <key>End date</key>
                <value data-testid="end-date" use-empty-fallback>@professionalStatus.TrainingEndDate?.ToString(WebConstants.DateDisplayFormat)</value>
            </row>
            <row>
                <key>Held since</key>
                <value data-testid="award-date" use-empty-fallback>@professionalStatus.HoldsFrom?.ToString(WebConstants.DateDisplayFormat)</value>
            </row>
            <row>
                <key>Induction exemption</key>
                <value data-testid="exemption" use-empty-fallback>@(professionalStatus.ExemptFromInduction.HasValue? professionalStatus.ExemptFromInduction.Value ? "Yes" : "No" : null)</value>
            </row>
            <row>
                <key>Training provider</key>
                <value data-testid="training-provider" use-empty-fallback>@trainingProvider?.Name</value>
            </row>
            <row>
                <key>Degree type</key>
                <value data-testid="degree-type" use-empty-fallback>@degreeType?.Name</value>
            </row>
            <row>
                <key>Country</key>
                <value data-testid="country" use-empty-fallback>@country?.Name</value>
            </row>
            <row>
                <key>Age range</key>
                @if (ageRangeFromTo is not null)
                {
                    <value data-testid="age-range">@ageRangeFromTo</value>
                }
                else
                {
                    <value data-testid="age-range" use-empty-fallback>@ageRangeType?.GetDisplayName()</value>
                }
            </row>
            <row>
                <key>Subjects</key>
                <value>
                    @if (subjects is not null && subjects.Length > 0)
                    {
                        <list-text-items text-items="@subjects" data-testid="subjects" />
                    }
                    else
                    {
                        <span use-empty-fallback data-testid="subjects"></span>
                    }
                </value>
            </row>
            <row>
                <key>Source application reference</key>
                <value data-testId="source-application-reference" use-empty-fallback>@professionalStatus.SourceApplicationReference</value>
            </row>
        </govuk-summary-list>
        <govuk-details class="govuk-!-margin-bottom-2">
            <govuk-details-summary>Migrated data</govuk-details-summary>
            <govuk-details-text>
                 <govuk-summary-list>
                    <row>
                        <key>QTS registration ID</key>
                        <value data-testid="qts-registration-id" use-empty-fallback>@dqtQtsRegistration?.QtsRegistrationId</value>
                    </row>
                    <row>
                        <key>Teacher status name</key>
                        <value data-testid="teacher-status-name" use-empty-fallback>@dqtQtsRegistration?.TeacherStatusName</value>
                    </row>
                    <row>
                        <key>Teacher status value</key>
                        <value data-testid="teacher-status-value" use-empty-fallback>@dqtQtsRegistration?.TeacherStatusValue</value>
                    </row>
                    <row>
                        <key>Early years status name</key>
                        <value data-testid="early-years-status-name" use-empty-fallback>@dqtQtsRegistration?.EarlyYearsStatusName</value>
                    </row>
                    <row>
                        <key>Early years status value</key>
                        <value data-testid="early-years-status-value" use-empty-fallback>@dqtQtsRegistration?.EarlyYearsStatusValue</value>
                    </row>
                    <row>
                        <key>QTS date</key>
                        <value data-testid="qts-date" use-empty-fallback>@dqtQtsRegistration?.QtsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                    </row>
                    <row>
                        <key>EYTS date</key>
                        <value data-testid="eyts-date" use-empty-fallback>@dqtQtsRegistration?.EytsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                    </row>
                    <row>
                        <key>Partial QTS date</key>
                        <value data-testid="pqts-date" use-empty-fallback>@dqtQtsRegistration?.PartialRecognitionDate?.ToString(WebConstants.DateDisplayFormat)</value>
                    </row>
                    <row>
                        <key>QTLS date</key>
                        <value data-testid="qtls-date" use-empty-fallback>@migratedEvent?.DqtQtlsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                    </row>
                    <row>
                        <key>ITT ID</key>
                        <value data-testid="itt-id" use-empty-fallback>@dqtInitialTeacherTraining?.InitialTeacherTrainingId</value>
                    </row>
                    <row>
                        <key>Slug ID</key>
                        <value data-testid="slug-id" use-empty-fallback>@dqtInitialTeacherTraining?.SlugId</value>
                    </row>
                    <row>
                        <key>Programme type</key>
                        <value data-testid="programme-type" use-empty-fallback>@dqtInitialTeacherTraining?.ProgrammeType</value>
                    </row>
                    <row>
                        <key>Start date</key>
                        <value data-testid="programme-start-date" use-empty-fallback>@dqtInitialTeacherTraining?.ProgrammeStartDate?.ToString(WebConstants.DateDisplayFormat)</value>
                    </row>
                    <row>
                        <key>End date</key>
                        <value data-testid="programme-end-date" use-empty-fallback>@dqtInitialTeacherTraining?.ProgrammeEndDate?.ToString(WebConstants.DateDisplayFormat)</value>
                    </row>
                    <row>
                        <key>Result</key>
                        <value data-testid="itt-result" use-empty-fallback>@dqtInitialTeacherTraining?.Result</value>
                    </row>
                    <row>
                        <key>Qualification name</key>
                        <value data-testid="qualification-name" use-empty-fallback>@dqtInitialTeacherTraining?.QualificationName</value>
                    </row>
                    <row>
                        <key>Qualification value</key>
                        <value data-testid="qualification-value" use-empty-fallback>@dqtInitialTeacherTraining?.QualificationValue</value>
                    </row>
                    <row>
                        <key>Provider ID</key>
                        <value data-testid="provider-id" use-empty-fallback>@dqtInitialTeacherTraining?.ProviderId</value>
                    </row>
                    <row>
                        <key>Provider name</key>
                        <value data-testid="provider-name" use-empty-fallback>@dqtInitialTeacherTraining?.ProviderName</value>
                    </row>
                    <row>
                        <key>Provider UKPRN</key>
                        <value data-testid="provider-ukprn" use-empty-fallback>@dqtInitialTeacherTraining?.ProviderUkprn</value>
                    </row>
                    <row>
                        <key>Country name</key>
                        <value data-testid="country-name" use-empty-fallback>@dqtInitialTeacherTraining?.CountryName</value>
                    </row>
                    <row>
                        <key>Country value</key>
                        <value data-testid="country-value" use-empty-fallback>@dqtInitialTeacherTraining?.CountryValue</value>
                    </row>
                    <row>
                        <key>Age range from</key>
                        <value data-testid="dqt-age-range-from" use-empty-fallback>@dqtInitialTeacherTraining?.AgeRangeFrom</value>
                    </row>
                    <row>
                        <key>Age range to</key>
                        <value data-testid="dqt-age-range-to" use-empty-fallback>@dqtInitialTeacherTraining?.AgeRangeTo</value>
                    </row>
                    <row>
                        <key>Subjects</key>
                        <value>
                            @if (dqtIttSubjects.Length > 0)
                            {
                                <list-text-items text-items="@dqtIttSubjects" data-testid="dqt-subjects" />
                            }
                            else
                            {
                                <span use-empty-fallback data-testid="dqt-subjects"></span>
                            }
                        </value>
                    </row>
                </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>
    </div>
</div>
