@page "/mqs/{qualificationId}/start-date/check-answers"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.EditMq.StartDate.CheckAnswersModel
@{
    ViewBag.Title = "Check details before editing mandatory qualification";
}

@section BeforeContent {
    @if (Model.BackLink is not null)
    {
        <govuk-back-link href="@Model.BackLink" />
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Edit mandatory qualification - @Model.PersonName</span>
        <h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

        <form method="post">
            <govuk-summary-list data-testid="change-summary">
                <row>
                    <key>New start date</key>
                    <value data-testid="new-start-date">@Model.NewStartDate!.Value.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
                <row>
                    <key>Previous start date</key>
                    <value data-testid="current-start-date">@(Model.CurrentStartDate.HasValue ? Model.CurrentStartDate!.Value.ToString(WebConstants.DateDisplayFormat) : "None")</value>
                </row>
            </govuk-summary-list>
            <h2 class="govuk-heading-m">Why are you editing this mandatory qualification?</h2>
            <govuk-summary-list data-testid="change-reason-summary">
                <row>
                    <key>Reason</key>
                    <value data-testid="change-reason">@Model.ChangeReason!.GetDisplayName()</value>
                </row>
                <row>
                    <key>More details</key>
                    <value data-testid="change-reason-detail">@Html.ConvertNewlinesToLineBreaks(!string.IsNullOrEmpty(Model.ChangeReasonDetail) ? Model.ChangeReasonDetail : "None")</value>
                </row>
                <row>
                    <key>Additional information</key>
                    <value data-testid="additional-information">@Html.ConvertNewlinesToLineBreaks(!string.IsNullOrEmpty(Model.AdditionalInformation) ? Model.AdditionalInformation : "None")</value>
                </row>
                <row>
                    <key>Evidence</key>
                    <value data-testid="evidence">
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile" />
                    </value>
                </row>
            </govuk-summary-list>

            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm and update qualification</govuk-button>
                <govuk-button name="Cancel" value="true" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
