@page "/mqs/{qualificationId}/specialism/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.EditMq.Specialism.IndexModel
@{
    ViewBag.Title = "Specialism";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Persons.PersonDetail.Qualifications(Model.PersonId)">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@LinkGenerator.Mqs.EditMq.Specialism.Index(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Edit mandatory qualification - @Model.PersonName</span>

            <govuk-radios for="Specialism" data-testid="specialism-list">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--l">Specialism</govuk-radios-fieldset-legend>
                    @foreach (var specialism in Model.Specialisms!)
                    {
                        <govuk-radios-item value="@specialism.Value">
                            @specialism.Title
                        </govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button formaction="@LinkGenerator.Mqs.EditMq.Specialism.Cancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
