@using TeachingRecordSystem.Core.Events.ChangeReasons
@inject ReferenceDataCache ReferenceDataCache
@model TimelineItem<TimelineProcess>
@{
    var createdEvent = Model.ItemModel.GetEvent<AlertCreatedEvent>();
    var alert = createdEvent.Alert;
    var alertType = alert.AlertTypeId is not null ? await ReferenceDataCache.GetAlertTypeByIdAsync(alert.AlertTypeId.Value) : null;
    var changeReason = Model.ItemModel.Process.ChangeReason as ChangeReasonWithDetailsAndEvidence;
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-process-id="@Model.ItemModel.Process.ProcessId">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Alert added</h2>
    </div>
    <p class="moj-timeline__date">
        <span>By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")">@Model.FormattedTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-summary-list>
            @if (alertType is not null)
            {
                <row>
                    <key>Alert type</key>
                    <value use-empty-fallback>@alertType.Name</value>
                </row>
            }
            else
            {
                <row>
                    <key>DQT sanction code</key>
                    <value use-empty-fallback>@alert.DqtSanctionCode?.Value</value>
                </row>
                <row>
                    <key>DQT sanction name</key>
                    <value use-empty-fallback>@alert.DqtSanctionCode?.Name</value>
                </row>
            }
            <row>
                <key>Start date</key>
                <value use-empty-fallback>@alert.StartDate?.ToString(WebConstants.DateDisplayFormat)</value>
            </row>
        </govuk-summary-list>

        @if (changeReason is not null)
        {
            <govuk-details class="govuk-!-margin-bottom-2">
                <govuk-details-summary>Reason for adding alert</govuk-details-summary>
                <govuk-details-text>
                    <govuk-summary-list>
                        <row>
                            <key>Reason</key>
                            <value use-empty-fallback>@changeReason.Reason</value>
                        </row>
                        <row>
                            <key>Reason details</key>
                            <value use-empty-fallback>
                                @Html.ConvertNewlinesToLineBreaks(changeReason.Details)
                            </value>
                        </row>
                        <row>
                            <key>Additional information</key>
                            <value use-empty-fallback>
                                @Html.ConvertNewlinesToLineBreaks(changeReason.AdditionalInformation)
                            </value>
                        </row>
                        <row>
                            <key>Evidence</key>
                            <value>
                                <vc:event-evidence-file-link evidence-file="@changeReason.EvidenceFile" />
                            </value>
                        </row>
                    </govuk-summary-list>
                </govuk-details-text>
            </govuk-details>
        }
    </div>
</div>
