@using TeachingRecordSystem.Core.Events.ChangeReasons
@model TimelineItem<ProcessChangeHistoryEntry>
@{
    var changeReason = Model.ItemModel.Process.ChangeReason as ChangeReasonWithDetailsAndEvidence;
    var reasonText = changeReason?.Details ?? "No reason provided";
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-process-id="@Model.ItemModel.Process.ProcessId">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">OneLogin Disconnected</h2>
    </div>
    <p class="moj-timeline__date">
        <span>By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")">@Model.FormattedGmtTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-summary-list>
            <row>
                <key>Event Type</key>
                <value use-empty-fallback>OneLogin Disconnected</value>
            </row>
            <row>
                <key>Reason</key>
                <value use-empty-fallback>@reasonText</value>
            </row>
        </govuk-summary-list>
    </div>
</div>
