@model TimelineItem<ProcessChangeHistoryEntry>
@{
    var createdEvent = Model.ItemModel.GetEvent<PersonCreatedEvent>();
    var name = StringHelper.JoinNonEmpty(' ', createdEvent.Details.FirstName, createdEvent.Details.MiddleName, createdEvent.Details.LastName);
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-process-id="@Model.ItemModel.Process.ProcessId">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Record created</h2>
    </div>
    <p class="moj-timeline__date">
        <span>By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")">@Model.FormattedGmtTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-summary-list class="govuk-!-margin-bottom-0">
            @if (!string.IsNullOrEmpty(name))
            {
                <row>
                    <key>Name</key>
                    <value>@name</value>
                </row>
            }
            @if (createdEvent.Details.DateOfBirth is DateOnly dateOfBirth)
            {
                <row>
                    <key>Date of birth</key>
                    <value>@dateOfBirth.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
            }
            @if (createdEvent.Details.EmailAddress is string emailAddress)
            {
                <row>
                    <key>Email address</key>
                    <value>@emailAddress</value>
                </row>
            }
            @if (createdEvent.Details.NationalInsuranceNumber is string nationalInsuranceNumber)
            {
                <row>
                    <key>National Insurance number</key>
                    <value>@nationalInsuranceNumber</value>
                </row>
            }
            @if (createdEvent.Details.Gender is Gender gender)
            {
                <row>
                    <key>Gender</key>
                    <value>@gender.GetDisplayName()</value>
                </row>
            }
        </govuk-summary-list>
    </div>
</div>
