@model TimelineItem<ProcessChangeHistoryEntry>
@{
    var importedEvent = Model.ItemModel.GetEvent<PersonImportedIntoDqtEvent>();
    var name = StringHelper.JoinNonEmpty(' ', importedEvent.Details.FirstName, importedEvent.Details.MiddleName, importedEvent.Details.LastName);
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-process-id="@Model.ItemModel.Process.ProcessId">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Record created</h2>
    </div>
    <p class="moj-timeline__date">
        <span>By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")">@Model.FormattedGmtTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-summary-list class="govuk-!-margin-bottom-0">
            @if (importedEvent.Details.Trn is string trn)
            {
                <row>
                    <key>TRN</key>
                    <value>@trn</value>
                </row>
            }
            @if (!string.IsNullOrEmpty(name))
            {
                <row>
                    <key>Name</key>
                    <value>@name</value>
                </row>
            }
            @if (importedEvent.Details.DateOfBirth is DateOnly dateOfBirth)
            {
                <row>
                    <key>Date of birth</key>
                    <value>@dateOfBirth.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
            }
            @if (importedEvent.Details.EmailAddress is string emailAddress)
            {
                <row>
                    <key>Email address</key>
                    <value>@emailAddress</value>
                </row>
            }
            @if (importedEvent.Details.NationalInsuranceNumber is string nationalInsuranceNumber)
            {
                <row>
                    <key>National Insurance number</key>
                    <value>@nationalInsuranceNumber</value>
                </row>
            }
            @if (importedEvent.Details.Gender is Gender gender)
            {
                <row>
                    <key>Gender</key>
                    <value>@gender.GetDisplayName()</value>
                </row>
            }
            @if (importedEvent.Details.DateOfDeath is DateOnly dateOfDeath)
            {
                <row>
                    <key>Date of death</key>
                    <value>@dateOfDeath.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
            }
            @if (importedEvent.Details.QtsDate is DateOnly qtsDate)
            {
                <row>
                    <key>QTS held since</key>
                    <value>@qtsDate.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
            }
            @if (importedEvent.Details.EytsDate is DateOnly eytsDate)
            {
                <row>
                    <key>EYTS held since</key>
                    <value>@eytsDate.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
            }
            @if (importedEvent.Details.InductionStatus is InductionStatus inductionStatus)
            {
                <row>
                    <key>Induction status</key>
                    <value>@inductionStatus.GetDisplayName()</value>
                </row>
            }
            @if (importedEvent.Details.DqtInductionStatus is string dqtInductionStatus)
            {
                <row>
                    <key>DQT induction status</key>
                    <value>@dqtInductionStatus</value>
                </row>
            }
        </govuk-summary-list>
    </div>
</div>
