@page "/users/{userId}/deactivate/{handler?}"
@using TeachingRecordSystem.Core
@model TeachingRecordSystem.SupportUi.Pages.Users.EditUser.DeactivateModel
@{
    ViewBag.Title = "Why are you deactivating this user?";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator2.Users.EditUser.Index(Model.UserId)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <form method="post">
            <govuk-radios for="HasAdditionalReason">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-visually-hidden" />
                    <govuk-radios-item value="@false">
                        They no longer need access
                    </govuk-radios-item>
                    <govuk-radios-item value="@true">
                        Another reason

                        <govuk-radios-item-conditional>
                            <govuk-character-count for="AdditionalReasonDetail"
                                                   textarea-class="govuk-!-width-one-half"
                                                   max-length="UiDefaults.DetailMaxCharacterCount"
                                                   rows="UiDefaults.DetailTextAreaMinimumRows" />
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <h2 class="govuk-heading-m">Do you want to provide more details?</h2>

            <govuk-radios for="HasMoreInformation">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-visually-hidden" />
                    <govuk-radios-item value="@true">
                        Yes

                        <govuk-radios-item-conditional>
                            <govuk-character-count for="MoreInformationDetail"
                                                   textarea-class="govuk-!-width-one-half"
                                                   max-length="UiDefaults.DetailMaxCharacterCount"
                                                   rows="UiDefaults.DetailTextAreaMinimumRows" />
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <vc:upload-evidence evidence="@Model.Evidence" />

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button type="submit"
                              data-testid="cancel-button"
                              formaction=@LinkGenerator2.Users.EditUser.DeactivateCancel(Model.UserId)
                              class="govuk-button--secondary">
                    Cancel and return to user
                </govuk-button>
            </div>
        </form>
    </div>
</div>
