@page "/mqs/{qualificationId}/status/reason"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.EditMq.Status.ReasonModel
@{
    ViewBag.Title = (Model.IsEndDateChange!.Value && !Model.IsStatusChange!.Value)
        ? ViewBag.Title = Html.DisplayNameFor(m => m.EndDateChangeReason)
        : ViewBag.Title = Html.DisplayNameFor(m => m.StatusChangeReason);
}

@section BeforeContent {
    @if (Model.BackLink is not null)
    {
        <govuk-back-link href="@Model.BackLink" />
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <span class="govuk-caption-l">Edit mandatory qualification - @Model.PersonName</span>

            @if (Model.IsEndDateChange!.Value && !Model.IsStatusChange!.Value)
            {
                <govuk-radios for="EndDateChangeReason" data-testid="change-reason-options">
                    <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--l" is-page-heading="true" data-testid="change-reason-options-legend">Why are you changing the end date?</govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@MqChangeEndDateReasonOption.IncorrectEndDate">
                            @MqChangeEndDateReasonOption.IncorrectEndDate.GetDisplayName()
                        </govuk-radios-item>
                        <govuk-radios-item value="@MqChangeEndDateReasonOption.ChangeOfEndDate">
                            @MqChangeEndDateReasonOption.ChangeOfEndDate.GetDisplayName()
                        </govuk-radios-item>
                        <govuk-radios-item value="@MqChangeEndDateReasonOption.AnotherReason">
                            @MqChangeEndDateReasonOption.AnotherReason.GetDisplayName()
                            <govuk-radios-item-conditional data-testid="status-reason-detail">
                                <govuk-input data-testid="reason-detail" for="ChangeReasonDetail" input-class="govuk-input--width-20" spellcheck="false">
                                    <govuk-input-label>Enter a reason</govuk-input-label>
                                </govuk-input>
                            </govuk-radios-item-conditional>
                        </govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
            }
            else
            {
                <govuk-radios for="StatusChangeReason" data-testid="change-reason-options">
                    <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--l" is-page-heading="true" data-testid="change-reason-options-legend">Why are you changing the status?</govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@MqChangeStatusReasonOption.IncorrectStatus">
                            @MqChangeStatusReasonOption.IncorrectStatus.GetDisplayName()
                        </govuk-radios-item>
                        <govuk-radios-item value="@MqChangeStatusReasonOption.ChangeOfStatus">
                            @MqChangeStatusReasonOption.ChangeOfStatus.GetDisplayName()
                        </govuk-radios-item>
                        <govuk-radios-item value="@MqChangeStatusReasonOption.AnotherReason">
                            @MqChangeStatusReasonOption.AnotherReason.GetDisplayName()
                        </govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
            }

            <govuk-radios for="ProvideAdditionalInformation" data-testid="has-additional-reason_detail-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend>
                        <h2 class="govuk-fieldset__legend--m">Do you want to provide more information?</h2>
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional data-testid="additional-detail">
                            <govuk-character-count for="AdditionalInformation" max-length="UiDefaults.ReasonDetailsMaxCharacterCount" rows="UiDefaults.ReasonDetailsRows">
                                <govuk-character-count-label>Enter details</govuk-character-count-label>
                            </govuk-character-count>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            @Html.EditorFor(m => m.Evidence)

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button name="Cancel" value="true" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>

