@page "/change-requests/{supportTaskReference}/{handler?}/{id?}"
@model TeachingRecordSystem.SupportUi.Pages.ChangeRequests.EditChangeRequest.IndexModel
@{
    ViewBag.Title = "Change details request";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.SupportTasks.Index(categories: [SupportTaskCategory.ChangeRequests], sortBy: SupportTasks.IndexModel.SortByOption.DateRequested, filtersApplied: true)" />
}

<span class="govuk-caption-l" data-testid="heading-caption">@(Model.ChangeType == SupportTaskType.ChangeNameRequest ? "Change of Name" : "Change of Date of Birth") - @Model.PersonName</span>
<h1 class="govuk-heading-l">@ViewBag.Title</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
                    <th scope="col" class="govuk-table__header">Current</th>
                    <th scope="col" class="govuk-table__header">New</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @if (Model.ChangeType == SupportTaskType.ChangeNameRequest)
                {
                    if (Model.NameChangeRequest!.NewFirstName is not null && Model.NameChangeRequest!.CurrentFirstName != Model.NameChangeRequest!.NewFirstName)
                    {
                        <tr class="govuk-table__row" data-testid="first-name">
                            <td class="govuk-table__cell govuk-!-font-weight-bold" data-testid="first-name-title">First name</td>
                            <td class="govuk-table__cell" data-testid="first-name-current">@Model.NameChangeRequest!.CurrentFirstName</td>
                            <td class="govuk-table__cell" data-testid="first-name-new">@Model.NameChangeRequest!.NewFirstName</td>
                        </tr>
                    }
                    if (Model.NameChangeRequest!.NewMiddleName is not null && Model.NameChangeRequest!.CurrentMiddleName != Model.NameChangeRequest!.NewMiddleName)
                    {
                        <tr class="govuk-table__row" data-testid="middle-name">
                            <td class="govuk-table__cell govuk-!-font-weight-bold" data-testid="middle-name-title">Middle name</td>
                            <td class="govuk-table__cell" data-testid="middle-name-current">@Model.NameChangeRequest!.CurrentMiddleName</td>
                            <td class="govuk-table__cell" data-testid="middle-name-new">@Model.NameChangeRequest!.NewMiddleName</td>
                        </tr>
                    }
                    if (Model.NameChangeRequest!.NewLastName is not null && Model.NameChangeRequest!.CurrentLastName != Model.NameChangeRequest!.NewLastName)
                    {
                        <tr class="govuk-table__row" data-testid="last-name">
                            <td class="govuk-table__cell govuk-!-font-weight-bold" data-testid="last-name-title">Last name</td>
                            <td class="govuk-table__cell" data-testid="last-name-current">@Model.NameChangeRequest!.CurrentLastName</td>
                            <td class="govuk-table__cell" data-testid="last-name-new">@Model.NameChangeRequest!.NewLastName</td>
                        </tr>
                    }
                }
                @if (Model.ChangeType == SupportTaskType.ChangeDateOfBirthRequest)
                {
                    <tr class="govuk-table__row" data-testid="date-of-birth">
                        <td class="govuk-table__cell govuk-!-font-weight-bold" data-testid="date-of-birth-title">Date of birth</td>
                        <td class="govuk-table__cell" data-testid="date-of-birth-current">@Model.DateOfBirthChangeRequest!.CurrentDateOfBirth.ToString(UiDefaults.DateOnlyDisplayFormat)</td>
                        <td class="govuk-table__cell" data-testid="date-of-birth-new">@Model.DateOfBirthChangeRequest!.NewDateOfBirth.ToString(UiDefaults.DateOnlyDisplayFormat)</td>
                    </tr>
                }
                <tr class="govuk-table__row" data-testid="email">
                    <td class="govuk-table__cell govuk-!-font-weight-bold" data-testid="email-title">Email</td>
                    <td class="govuk-table__cell" colspan="2" data-testid="email-value">@Model.Email</td>
                </tr>
                <tr class="govuk-table__row" data-testid="linked-record">
                    <td class="govuk-table__cell govuk-!-font-weight-bold" data-testid="linked-record-title">Linked record</td>
                    <td class="govuk-table__cell" colspan="2" data-testid="linked-record-value">
                        <a href="@LinkGenerator.Persons.PersonDetail.Index(Model.PersonId!.Value)" target="_blank" rel="noopener noreferrer" class="govuk-link">
                            @Model.Trn (opens in a new tab)
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-l">Proof</h2>
        <govuk-details>
            <govuk-details-summary>Documents we accept</govuk-details-summary>
            <govuk-details-text>
                <ul class="govuk-list govuk-list--spaced">
                    @if (Model.ChangeType == SupportTaskType.ChangeNameRequest)
                    {
                        <li>
                            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Marriage</h4>
                            <span>Marriage certificate</span>
                        </li>
                        <li>
                            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Civil Partnership</h4>
                            <span>Civil agreement certificate</span>
                        </li>
                        <li>
                            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Divorce</h4>
                            <span>Decree absolute and birth certificate</span>
                        </li>
                        <li>
                            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Statutory declaration</h4>
                            <span>Statutory declaration</span>
                        </li>
                        <li>
                            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Deed poll</h4>
                            <span>Deed poll</span>
                        </li>
                        <li>
                            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Fix a typo</h4>
                            <span>Passport</span>
                        </li>
                    }
                    @if (Model.ChangeType == SupportTaskType.ChangeDateOfBirthRequest)
                    {
                        <li>Birth certificate</li>
                        <li>Passport</li>
                        <li>Driving license</li>
                    }
                </ul>
            </govuk-details-text>
        </govuk-details>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
                @if (Model.Evidence!.MimeType == "application/pdf")
                {
                    <object data="@LinkGenerator.ChangeRequests.EditChangeRequest.Evidence(Model.SupportTaskReference!)" type="application/pdf" width="100%" height="500px" class="govuk-!-margin-bottom-2" data-testid="pdf-@Model.Evidence!.FileId">
                    </object>
                }
                else
                {
                    <img src="@LinkGenerator.ChangeRequests.EditChangeRequest.Evidence(Model.SupportTaskReference!)" alt="@Model.Evidence.FileName" width="100%" height="auto" class="govuk-!-margin-bottom-2" data-testid="image-@Model.Evidence!.FileId" />
                }
                <a href="@Model.Evidence!.FileUrl" class="govuk-link" rel="noreferrer noopener" target="_blank" date-testid="view-larger-@Model.Evidence!.FileId">View larger (opens in new tab)</a>
            </div>
        </div>
    </div>        
</div>

<div class="govuk-button-group">
    <govuk-button-link href="@LinkGenerator.ChangeRequests.EditChangeRequest.Accept(Model.SupportTaskReference!)" class="govuk-button">Accept change</govuk-button-link>
    <govuk-button-link href="@LinkGenerator.ChangeRequests.EditChangeRequest.Reject(Model.SupportTaskReference!)" class="govuk-button govuk-button--warning">Reject change</govuk-button-link>
</div>
