@page "/support-tasks/integration-transactions/{integrationTransactionId}/row"
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.IntegrationTransactions.RowModel;
@{
    ViewBag.Title = "Row details";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.SupportTasks.IntegrationTransactions.Detail(Model.IntegrationTransactionId)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">@Model.Row!.InterfaceType.GetDisplayName()</span>
        <h1 class="govuk-heading-l" data-testid="integration-transaction-interface-type">Row information</h1>
    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-bottom-4 govuk-body-m">
        <govuk-summary-card>
            <govuk-summary-card-title>Row details information</govuk-summary-card-title>
            @if (Model.Person != null)
            {
                <govuk-summary-card-actions>
                    <govuk-summary-card-action href="@LinkGenerator.Persons.PersonDetail.Index(Model.Person!.PersonId)" target="_blank">View record (opens in new tab)</govuk-summary-card-action>
                </govuk-summary-card-actions>
            }
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Row ID</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Row.IntegrationTransactionRecordId</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Status</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.Row!.Status.GetDisplayName()</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            @if (Model.Person != null)
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Person</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.PersonName</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Linked record</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        <a href="@LinkGenerator.Persons.PersonDetail.Index(Model.Person!.PersonId)" target="_blank" rel="noopener noreferrer">@Model.Person.Trn</a>
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            </govuk-summary-list>
        </govuk-summary-card>
    </div>

    @if (Model.Row.Status == IntegrationTransactionRecordStatus.Warning)
    {
        <div class="govuk-grid-column-full govuk-!-padding-top-0">
            <govuk-inset-text>Some fields may have not been imported correctly. Review the row data.</govuk-inset-text>
        </div>
    }

    @if (Model.Row.Status is IntegrationTransactionRecordStatus.Warning or IntegrationTransactionRecordStatus.Failure)
    {
        <div class="govuk-grid-column-full">
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold" data-testid="name">Row data</td>
                        <td class="govuk-table__cell">@Model.Row!.RowData</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold" data-testid="name">Failure message</td>
                        <td class="govuk-table__cell">@Model.Row.FailureMessage</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    else if (Model.Row.Status == IntegrationTransactionRecordStatus.Success && Model.Row.Duplicate == true)
    {
        <div class="govuk-grid-column-full">
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold" data-testid="name">Duplicate status</td>
                        <td class="govuk-table__cell">Duplicate</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

    <div class="govuk-grid-column-full">
        <govuk-back-link href="@LinkGenerator.SupportTasks.IntegrationTransactions.Detail(Model.IntegrationTransactionId)">
            Back to file details
        </govuk-back-link>
    </div>
</div>
