@page "/change-requests"
@model TeachingRecordSystem.SupportUi.Pages.ChangeRequests.IndexModel
@{
    ViewBag.Title = "Change requests";
}

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--xl">@ViewBag.Title</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Type</th>
            <th scope="col" class="govuk-table__header">Created on</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @if (Model.ChangeRequests!.Length == 0)
        {
            <tr class="govuk-table__row" data-testid="no-change-requests">
                 <td class="govuk-table__cell" colspan="4">No change requests</td>
            </tr>
        }
        else
        {
            @foreach (var changeRequestInfo in Model.ChangeRequests!)
            {
                <tr class="govuk-table__row" data-testid="change-request-@changeRequestInfo.RequestReference">
                    <td class="govuk-table__cell" data-testid="request-reference-@changeRequestInfo.RequestReference"><a href="@LinkGenerator.EditChangeRequest(changeRequestInfo.RequestReference)" class="govuk-link">@changeRequestInfo.RequestReference</a></td>
                    <td class="govuk-table__cell" data-testid="name-@changeRequestInfo.RequestReference">@changeRequestInfo.Customer</td>
                    <td class="govuk-table__cell" data-testid="change-type-@changeRequestInfo.RequestReference">@changeRequestInfo.ChangeType</td>
                    <td class="govuk-table__cell" data-testid="created-on-@changeRequestInfo.RequestReference">@changeRequestInfo.CreatedOn.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        }        
    </tbody>
</table>

@if (Model.TotalKnownPages > 1)
{
    <govuk-pagination>
        @if (Model.PreviousPage.HasValue)
        {
            <govuk-pagination-previous asp-page="Index" asp-route-pagenumber="@Model.PreviousPage" />
        }

        @if (Model.DisplayPageNumbers)
        {
            @for (int i = 0; i < Model.PaginationPages!.Length; i++)
            {
                var item = Model.PaginationPages[i];

                if (i > 0 && Model.PaginationPages[i - 1] != item - 1)
                {
                    <govuk-pagination-ellipsis />
                }

                <govuk-pagination-item asp-page="Index" asp-route-pagenumber="@item" is-current="@(item == Model.PageNumber)">@item</govuk-pagination-item>
            }
        }        

        @if (Model.NextPage.HasValue)
        {
            <govuk-pagination-next asp-page="Index" asp-route-pagenumber="@Model.NextPage" />
        }
    </govuk-pagination>
}
