@using Microsoft.AspNetCore.Authorization;
@using TeachingRecordSystem.SupportUi.Infrastructure.Security;
@inject IAuthorizationService AuthorizationService
@inject IWebHostEnvironment Environment
@{
    Layout = "_GovUkPageTemplate";
    ViewBag.Title = ViewBag.Title + (ViewBag.Title is not null ? " - " : "") + "Teaching record system";

    var headerClass = Environment.IsDevelopment() ? "trs-header--local" :
        System.Environment.GetEnvironmentVariable("ENVIRONMENT_NAME") is string aksEnvName ? $"trs-header--{aksEnvName}" :
        null;
}

@section Head {
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="~/app.css">
    @await RenderSectionAsync("Styles", required: false)
    <link rel="stylesheet" href="~/Components/accessible-autocomplete.min.css">
    <script src="~/Components/accessible-autocomplete.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
}

@section GovUkHeader {
    <govuk-header class="trs-header @headerClass">
        <a href="@LinkGenerator.SignOut()" class="trs-header__item">Sign out</a>
    </govuk-header>
}

@section GovUkServiceNavigation {
    <govuk-service-navigation service-name="Teaching record system" service-url="/">
        <govuk-service-navigation-nav>
            @if (User.Identity?.IsAuthenticated == true && User.IsActiveTrsUser())
            {
                <govuk-service-navigation-nav-item
                    href="@LinkGenerator.Index()"
                    current="@(Context.Request.Path == "/")"
                    active="@(Context.Request.Path.StartsWithSegments("/persons"))">
                    Records
                </govuk-service-navigation-nav-item>

                if ((await AuthorizationService.AuthorizeAsync(User, AuthorizationPolicies.UserManagement)).Succeeded)
                {
                    <govuk-service-navigation-nav-item
                        href="@LinkGenerator.Users.Index()"
                        current="@(Context.Request.Path == "/users")"
                        active="@(Context.Request.Path.StartsWithSegments("/users"))">
                        Add and manage users
                    </govuk-service-navigation-nav-item>
                }

                if ((await AuthorizationService.AuthorizeAsync(User, AuthorizationPolicies.AdminOnly)).Succeeded)
                {
                    <govuk-service-navigation-nav-item
                        href="@LinkGenerator.ApplicationUsers.Index()"
                        current="@(Context.Request.Path == "/application-users")"
                        active="@(Context.Request.Path.StartsWithSegments("/application-users") || Context.Request.Path.StartsWithSegments("/api-keys"))">
                        Application users
                    </govuk-service-navigation-nav-item>
                }
            }
        </govuk-service-navigation-nav>
    </govuk-service-navigation>
}

@section BeforeContent {
    @await RenderSectionAsync("BeforeContent", required: false)
}

@if (TempData.TryGetFlashNotificationBanner(out var notificationBanner))
{
    <govuk-notification-banner type="notificationBanner.Value.NotificationBannerType">
        @if (notificationBanner.Value.Heading is string heading)
        {
            <h3 class="govuk-notification-banner__heading">@heading</h3>
        }
        @if (notificationBanner.Value.MessageText is string messageText)
        {
            @foreach (var line in messageText.Split("\n", StringSplitOptions.RemoveEmptyEntries))
            {
                <p class="govuk-body">@line</p>
            }
        }
        else if (notificationBanner.Value.MessageHtml is string messageHtml)
        {
            @Html.Raw(messageHtml)
        }
    </govuk-notification-banner>
}

@RenderBody()

@section GovUkFooter {
    <govuk-footer>
        <govuk-footer-meta>
            <govuk-footer-meta-items>
                <govuk-footer-meta-item href="https://accessibility-statements.education.gov.uk/s/40">Accessibility</govuk-footer-meta-item>
            </govuk-footer-meta-items>
        </govuk-footer-meta>
    </govuk-footer>
}
