@using TeachingRecordSystem.SupportUi.Pages.Common
@using TeachingRecordSystem.SupportUi.Infrastructure.Security;
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService
@model PersonDetailViewModel

<govuk-summary-card>
    <title>Personal details</title>
    @if (Model.CanChangeDetails)
    {
        <card-actions>
            <action data-testid="change-details-link" href=@LinkGenerator.Persons.PersonDetail.EditDetails.Index(Model.PersonId) visually-hidden-text="personal details">Change</action>
        </card-actions>
    }
    <govuk-summary-list>
        <row>
            <key>Name</key>
            <value>@Model.Name</value>
        </row>
        @if (Model.PreviousNames.Length > 0)
        {
            <row>
                <key>Previous name(s)</key>
                <value>
                    <ul class="govuk-list">
                        @foreach (var previousName in Model.PreviousNames)
                        {
                            <li class="govuk-!-margin-bottom-0">@previousName</li>
                        }
                    </ul>
                </value>
            </row>
        }
        <row>
            <key>Date of birth</key>
            <value use-empty-fallback>@Model.DateOfBirth?.ToString(WebConstants.DateDisplayFormat)</value>
        </row>
        @if (Model.Options.HasFlag(PersonDetailViewModelOptions.ShowGender))
        {
            <row>
                <key>Gender</key>
                <value use-empty-fallback>@Model.Gender?.GetDisplayName()</value>
            </row>
        }
        <row>
            <key>TRN</key>
            <value>@Model.Trn</value>
        </row>
        <row>
            <key>National Insurance number</key>
            <value use-empty-fallback>@Model.NationalInsuranceNumber</value>
        </row>
        @if (Model.Options.HasFlag(PersonDetailViewModelOptions.ShowEmail))
        {
            <row>
                <key>Email address</key>
                <value use-empty-fallback>@Model.Email</value>
            </row>
        }
        @if (Model.Options.HasFlag(PersonDetailViewModelOptions.ShowStatus))
        {
            <row>
                <key>Status</key>
                <value use-empty-fallback>
                    @if (Model.IsActive == false)
                    {
                        <tag color="TagColor.Grey">Deactivated</tag>
                    }
                    else
                    {
                        <tag color="TagColor.Green">Active</tag>
                    }
                </value>
            </row>
        }
    </govuk-summary-list>
</govuk-summary-card>
