@page "/support-tasks/api-trn-requests/{supportTaskReference}/resolve/check-answers/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.ApiTrnRequests.Resolve.CheckAnswers
@{
    ViewBag.Title = Model.CreatingNewRecord ? "Check details before creating a new record" : "Check details before updating record";

    var backLink = Model.CreatingNewRecord
        ? LinkGenerator.SupportTasks.ApiTrnRequests.Resolve.Matches(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)
        : LinkGenerator.SupportTasks.ApiTrnRequests.Resolve.Merge(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId);
    var changeLink = Model.CreatingNewRecord
        ? LinkGenerator.SupportTasks.ApiTrnRequests.Resolve.Matches(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)
        : LinkGenerator.SupportTasks.ApiTrnRequests.Resolve.Merge(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true);

    var confirmButtonLabel = Model.CreatingNewRecord ? "Confirm and create record" : "Confirm and update existing record";
}

@section BeforeContent {
    <govuk-back-link href="@backLink" />
}


<form action="@LinkGenerator.SupportTasks.ApiTrnRequests.Resolve.CheckAnswers(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <span class="govuk-caption-l">TRN requests</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>First name</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@Model.FirstName</govuk-summary-list-row-value>
                    @if (Model.IsFirstNameChangeable)
                    {
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@changeLink" data-testid="firstname-change-link" visually-hidden-text="first name">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    }
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Middle name</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@Model.MiddleName</govuk-summary-list-row-value>
                    @if (Model.IsMiddleNameChangeable)
                    {
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@changeLink" data-testid="middlename-change-link" visually-hidden-text="middle name">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    }
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Last name</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@Model.LastName</govuk-summary-list-row-value>
                    @if (Model.IsLastNameChangeable)
                    {
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@changeLink" data-testid="lastname-change-link" visually-hidden-text="last name">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    }
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@Model.DateOfBirth?.ToString(WebConstants.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                    @if (Model.IsDateOfBirthChangeable)
                    {
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@changeLink" data-testid="dob-change-link" visually-hidden-text="date of birth">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    }
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@Model.EmailAddress</govuk-summary-list-row-value>
                    @if (Model.IsEmailAddressChangeable)
                    {
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@changeLink" data-testid="email-change-link" visually-hidden-text="email address">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    }
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@Model.NationalInsuranceNumber</govuk-summary-list-row-value>
                    @if (Model.IsNationalInsuranceNumberChangeable)
                    {
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@changeLink" data-testid="ni-change-link" visually-hidden-text="national insurance number">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    }
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Gender</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>@Model.Gender?.GetDisplayName()</govuk-summary-list-row-value>
                    @if (Model.IsGenderChangeable)
                    {
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@changeLink" data-testid="gender-change-link" visually-hidden-text="gender">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    }
                </govuk-summary-list-row>
                @if (Model.Trn is not null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>TRN</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.Trn</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@changeLink" data-testid="change-link" visually-hidden-text="trn">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }

                @if (Model.CreatingNewRecord == false)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Comments</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.Comments</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="@changeLink" data-testid="comments-change-link" visually-hidden-text="comments">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                }
            </govuk-summary-list>


            <div class="govuk-button-group">
                <govuk-button type="submit">@confirmButtonLabel</govuk-button>
                <govuk-button type="submit" formaction="@LinkGenerator.SupportTasks.ApiTrnRequests.Resolve.CheckAnswersCancel(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary">Cancel</govuk-button>
            </div>
        </div>
    </div>
</form>
