@page "/mqs/{qualificationId}/delete/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.DeleteMq.IndexModel
@{
    ViewBag.Title = "Delete qualification";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.PersonQualifications(Model.PersonId!.Value)">Back</govuk-back-link>
}

<span class="govuk-caption-l">Delete qualification - @Model.PersonName</span>
<h1 class="govuk-heading-l" data-testid="title">Mandatory qualification@(Model.Specialism is MandatoryQualificationSpecialism specialism ? $" for {specialism.GetName()}" : "")</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.MqDelete(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post" enctype="multipart/form-data">
            <govuk-radios asp-for="DeletionReason" data-testid="deletion-reason-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend>
                        <h3 class="govuk-heading-m">Reason for deleting</h3>
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@MqDeletionReasonOption.AddedInError">
                        @MqDeletionReasonOption.AddedInError.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@MqDeletionReasonOption.ProviderRequest">
                        @MqDeletionReasonOption.ProviderRequest.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@MqDeletionReasonOption.UnableToConfirmIfTheDataIsCorrect">
                        @MqDeletionReasonOption.UnableToConfirmIfTheDataIsCorrect.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@MqDeletionReasonOption.AnotherReason">
                        @MqDeletionReasonOption.AnotherReason.GetDisplayName()
                    </govuk-radios-item>
                </govuk-radios-fieldset>                
            </govuk-radios>

            <govuk-character-count asp-for="DeletionReasonDetail" label-class="govuk-label--m" max-length="3000" />

            <govuk-radios asp-for="UploadEvidence" data-testid="upload-evidence-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m"/>
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional>
                            @if (Model.EvidenceFileId is not null)
                            {
                                <span class="govuk-caption-m">Currently uploaded file</span>
                                <p class="govuk-body">
                                    <a href="@Model.UploadedEvidenceFileUrl" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="uploaded-evidence-link">@($"{Model.EvidenceFileName} ({Model.EvidenceFileSizeDescription})")</a>
                                </p>                                
                            }                            
                            <govuk-file-upload asp-for="EvidenceFile" input-accept=".bmp, .csv, .doc, .docx, .eml, .jpeg, .jpg, .mbox, .msg, .ods, .odt, .pdf, .png, .tif, .txt, .xls, .xlsx">
                                <govuk-file-upload-label>Upload a file</govuk-file-upload-label>
                            </govuk-file-upload>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button formaction="@LinkGenerator.MqDeleteCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
