@page "/alerts/{alertId}/reopen/check-answers/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Alerts.ReopenAlert.CheckAnswersModel
@{
    ViewBag.Title = "Check details before reopening alert";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Alerts.ReopenAlert.Index(Model.AlertId, Model.JourneyInstance!.InstanceId)">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <span class="govuk-caption-l">Change closed alert - @Model.PersonName</span>
            <h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

            <govuk-summary-list>
                <row>
                    <key>Alert type</key>
                    <value data-testid="alert-type">@Model.AlertTypeName</value>
                </row>
                <row>
                    <key>Details</key>
                    <value data-testid="details">@Html.ConvertNewlinesToLineBreaks(Model.Details)</value>
                </row>
                <row>
                    <key>Link</key>
                    <value>
                        @if (Model.Link is not null)
                        {
                            <a href="@Model.LinkUri" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="link">@($"{Model.Link} (opens in new tab)")</a>
                        }
                        else
                        {
                            <span data-testid="link" use-empty-fallback></span>
                        }
                    </value>
                </row>
                <row>
                    <key>Start date</key>
                    <value data-testid="start-date">@Model.StartDate?.ToString(WebConstants.DateOnlyDisplayFormat)</value>
                </row>
            </govuk-summary-list>

            <h2 class="govuk-heading-m">Why are you removing the end date?</h2>

            <govuk-summary-list>
                <row>
                    <key>Reason for change</key>
                    <value>@Model.ChangeReason.GetDisplayName()</value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.ReopenAlert.Index(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="reason for change">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Reason details</key>
                    <value>
                        @if (Model.ChangeReasonDetail is not null)
                        {
                            @Html.ConvertNewlinesToLineBreaks(Model.ChangeReasonDetail)
                        }
                        else
                        {
                            <span use-empty-fallback></span>
                        }
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.ReopenAlert.Index(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="reason details">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Evidence</key>
                    <value>
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile" />
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.ReopenAlert.Index(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="evidence">Change</action>
                    </row-actions>
                </row>
            </govuk-summary-list>

            <h2 class="govuk-heading-m">Are you sure you want to reopen this alert?</h2>
            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm and reopen alert</govuk-button>
                <govuk-button formaction="@LinkGenerator.Alerts.ReopenAlert.CheckAnswersCancel(Model.AlertId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
