@page "/mqs/{qualificationId}/provider/confirm/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.EditMq.Provider.ConfirmModel
@{
    ViewBag.Title = "Check details and confirm change";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.MqEditProvider(Model.QualificationId, Model.JourneyInstance!.InstanceId)" />
}

<span class="govuk-caption-l">Change a mandatory qualification - @Model.PersonName</span>
<h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.MqEditProviderConfirm(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post">
            <table class="govuk-table" data-testid="change-details">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header" scope="col">Current</th>
                        <th class="govuk-table__header" scope="col">New</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Training provider</th>
                        <td class="govuk-table__cell" data-testid="current-value">@Model.CurrentMqEstablishmentName</td>
                        <td class="govuk-table__cell" data-testid="new-value">@Model.NewMqEstablishment!.dfeta_name</td>
                    </tr>
                </tbody>
            </table>

            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm change</govuk-button>
                <govuk-button formaction="@LinkGenerator.MqEditProviderConfirmCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
