@page "/mqs/{qualificationId}/provider/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.EditMq.Provider.IndexModel
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders
@{
    ViewBag.Title = "Training provider";
}

@section Styles {
    <link rel="stylesheet" href="~/Styles/Components/accessible-autocomplete.min.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/Scripts/Components/accessible-autocomplete.min.js" asp-append-version="true"></script>
    <script asp-add-nonce="true">
        window.onload = function () {
            accessibleAutocomplete.enhanceSelectElement({
                defaultValue: '',
                selectElement: document.querySelector('#@nameof(Model.ProviderId)')
            })
        }
    </script>
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator2.Persons.PersonDetail.Qualifications(Model.PersonId)">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator2.Mqs.EditMq.Provider.Index(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Change mandatory qualification - @Model.PersonName</span>

            <govuk-select for="ProviderId" label-class="govuk-label--l">
                <govuk-select-label is-page-heading="true" />
                <govuk-select-item value=""></govuk-select-item>
                @foreach (var provider in Model.Providers!)
                {
                    <govuk-select-item value="@provider.MandatoryQualificationProviderId">@provider.Name</govuk-select-item>
                }
            </govuk-select>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button formaction="@LinkGenerator2.Mqs.EditMq.Provider.Cancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
