@page "/mqs/{qualificationId}/provider/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.EditMq.Provider.IndexModel
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders
@{
    ViewBag.Title = "Training provider";
}

@section Styles {
    <link rel="stylesheet" href="~/Styles/Components/accessible-autocomplete.min.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/Scripts/Components/accessible-autocomplete.min.js"></script>
    <script asp-add-nonce="true">
        window.onload = function () {
            accessibleAutocomplete.enhanceSelectElement({
                defaultValue: '',
                selectElement: document.querySelector('#@nameof(Model.MqEstablishmentValue)')
            })
        }
    </script>
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.PersonQualifications(Model.PersonId!.Value)">Back</govuk-back-link>
}

<span class="govuk-caption-l">Change a mandatory qualification - @Model.PersonName</span>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.MqEditProvider(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post">
            <govuk-select asp-for="MqEstablishmentValue" label-class="govuk-label--l">
                <govuk-select-label is-page-heading="true">Training provider</govuk-select-label>
                <govuk-select-item value=""></govuk-select-item>
                @foreach (var establishment in Model.MqEstablishments!)
                {
                    <govuk-select-item value="@establishment.dfeta_Value">@establishment.dfeta_name</govuk-select-item>
                }
            </govuk-select>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button formaction="@LinkGenerator.MqEditProviderCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
