@page "/mqs/{qualificationId}/provider/reason/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.EditMq.Provider.ReasonModel
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.ChangeReason);
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.MqEditProvider(Model.QualificationId, Model.JourneyInstance!.InstanceId)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.MqEditProviderChangeReason(Model.QualificationId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Change mandatory qualification - @Model.PersonName</span>

            <govuk-radios for="ChangeReason" page data-testid="change-reason-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--l" is-page-heading="true" data-testid="change-reason-options-legend" />
                    <govuk-radios-item value="@MqChangeProviderReasonOption.IncorrectTrainingProvider">
                        @MqChangeProviderReasonOption.IncorrectTrainingProvider.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@MqChangeProviderReasonOption.ChangeOfTrainingProvider">
                        @MqChangeProviderReasonOption.ChangeOfTrainingProvider.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@MqChangeProviderReasonOption.AnotherReason">
                        @MqChangeProviderReasonOption.AnotherReason.GetDisplayName()
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-radios for="HasAdditionalReasonDetail" data-testid="has-additional-reason_detail-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m" />
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional data-testid="additional-detail">
                            <govuk-character-count for="ChangeReasonDetail" max-length="FileUploadDefaults.DetailMaxCharacterCount" rows="FileUploadDefaults.DetailTextAreaMinimumRows" />
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-radios for="UploadEvidence" data-testid="upload-evidence-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m" />
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional>
                            @if (Model.EvidenceFileId is not null)
                            {
                                <span class="govuk-caption-m">Currently uploaded file</span>
                                <p class="govuk-body">
                                    <a href="@Model.UploadedEvidenceFileUrl" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="uploaded-evidence-link">@($"{Model.EvidenceFileName} ({Model.EvidenceFileSizeDescription})")</a>
                                </p>
                            }
                            <govuk-file-upload for="EvidenceFile" input-accept=".bmp, .csv, .doc, .docx, .eml, .jpeg, .jpg, .mbox, .msg, .ods, .odt, .pdf, .png, .tif, .txt, .xls, .xlsx">
                                <govuk-file-upload-label>Upload a file</govuk-file-upload-label>
                            </govuk-file-upload>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button formaction="@LinkGenerator.MqEditProviderChangeReasonCancel(Model.QualificationId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
