@page "/persons/add/reason"
@model TeachingRecordSystem.SupportUi.Pages.Persons.AddPerson.ReasonModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Why are you creating this record?";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form action=@LinkGenerator.Persons.AddPerson.Reason(Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers) method="post" data-testid="submit-form">
            <span class="govuk-caption-l" data-testid="create-reason-caption">Create a record</span>
            <govuk-radios for="Reason" data-testid="create-reason-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--l" is-page-heading="true" data-testid="create-reason-options-legend"/>
                    <govuk-radios-item value="@AddPersonReasonOption.MandatoryQualification">
                        @AddPersonReasonOption.MandatoryQualification.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@AddPersonReasonOption.AlertReceived">
                        @AddPersonReasonOption.AlertReceived.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@AddPersonReasonOption.UniversityLateStarter">
                        @AddPersonReasonOption.UniversityLateStarter.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@AddPersonReasonOption.AnotherReason">
                        @AddPersonReasonOption.AnotherReason.GetDisplayName()

                        <govuk-radios-item-conditional data-testid="create-reason-detail">
                            <govuk-character-count for="ReasonDetail" max-length="UiDefaults.DetailMaxCharacterCount" rows="UiDefaults.DetailTextAreaMinimumRows" />
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <vc:upload-evidence evidence="@Model.Evidence" />

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.Persons.AddPerson.ReasonCancel(Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel</govuk-button>
            </div>
        </form>
    </div>
</div>
