@page "/alerts/{alertId}/start-date/check-answers/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Alerts.EditAlert.StartDate.CheckAnswersModel
@{
    ViewBag.Title = "Check details before editing alert";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Alerts.EditAlert.StartDate.Reason(Model.AlertId, Model.JourneyInstance!.InstanceId)">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@LinkGenerator.Alerts.EditAlert.StartDate.CheckAnswers(Model.AlertId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Edit alert - @Model.PersonName</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-summary-list data-testid="change-summary">
                <row>
                    <key>New start date</key>
                    <value>@Model.NewStartDate.ToString(WebConstants.DateOnlyDisplayFormat)</value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.EditAlert.StartDate.Index(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="new start date">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Previous start date</key>
                    <value use-empty-fallback>@Model.PreviousStartDate.ToString(WebConstants.DateOnlyDisplayFormat)</value>
                </row>
            </govuk-summary-list>

            <h2 class="govuk-heading-m">Why are you editing this alert?</h2>

            <govuk-summary-list>
                <row>
                    <key>Reason</key>
                    <value>@Model.ChangeReason.GetDisplayName()</value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.EditAlert.StartDate.Reason(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="reason for change">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Additional information</key>
                    <value use-empty-fallback>
                        @Html.ConvertNewlinesToLineBreaks(Model.ChangeReasonDetail)
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.EditAlert.StartDate.Reason(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="reason details">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Evidence</key>
                    <value>
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile" />
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Alerts.EditAlert.StartDate.Reason(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="evidence">Change</action>
                    </row-actions>
                </row>
            </govuk-summary-list>

            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm and update alert</govuk-button>
                <govuk-button formaction="@LinkGenerator.Alerts.EditAlert.StartDate.CheckAnswersCancel(Model.AlertId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
