@page "/alerts/{alertId}/start-date/reason/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Alerts.EditAlert.StartDate.ReasonModel
@{
    ViewBag.Title = "Why are you changing the start date?";
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers ? LinkGenerator.Alerts.EditAlert.StartDate.CheckAnswers(Model.AlertId, Model.JourneyInstance!.InstanceId) : LinkGenerator.Alerts.EditAlert.StartDate.Index(Model.AlertId, Model.JourneyInstance!.InstanceId))">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.Alerts.EditAlert.StartDate.Reason(Model.AlertId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <span class="govuk-caption-l">Edit alert - @Model.PersonName</span>
            <h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

            <govuk-radios for="ChangeReason" data-testid="change-reason-options">
                <govuk-radios-item value="@AlertChangeStartDateReasonOption.IncorrectStartDate">
                    @AlertChangeStartDateReasonOption.IncorrectStartDate.GetDisplayName()
                </govuk-radios-item>
                <govuk-radios-item value="@AlertChangeStartDateReasonOption.ChangeOfStartDate">
                    @AlertChangeStartDateReasonOption.ChangeOfStartDate.GetDisplayName()
                </govuk-radios-item>
                <govuk-radios-item value="@AlertChangeStartDateReasonOption.AnotherReason">
                    @AlertChangeStartDateReasonOption.AnotherReason.GetDisplayName()
                </govuk-radios-item>
            </govuk-radios>

            <govuk-radios for="HasAdditionalReasonDetail">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend>
                        <h2 class="govuk-fieldset__legend--m">Do you want to provide more information?</h2>
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional>
                            <govuk-character-count for="ChangeReasonDetail" max-length="UiDefaults.DetailMaxCharacterCount" rows="UiDefaults.DetailTextAreaRows">
                                <govuk-character-count-label>Add additional detail</govuk-character-count-label>
                            </govuk-character-count>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            @Html.EditorFor(m => m.Evidence)

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button formaction="@LinkGenerator.Alerts.EditAlert.StartDate.ReasonCancel(Model.AlertId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
