@page "/alerts/add"
@model IndexModel
@{
    ViewBag.Title = "Add an alert";
}

@* @section Styles
    {
    <link rel="stylesheet" href="~/Styles/Components/accessible-autocomplete.min.css" asp-append-version="true" />
}

@section Scripts
    {
    <script src="~/Scripts/Components/accessible-autocomplete.min.js"></script>
    <script asp-add-nonce="true">
        window.onload = function () {
            const inputName = '@nameof(Model.AlertTypeId)';
            const input = document.querySelector(`input[name=${inputName}`);
            const value = input.value;
            const container = input.parentElement;

            accessibleAutocomplete({
                element: container,
                id: inputName,
                source: @Html.Raw(Json.Serialize(Model.IttProviderNames)),
                defaultValue: value,
                showNoOptionsFound: false,
            })

            container.removeChild(input);
            const accessibleAutocompleteInput = container.querySelector('input');
            accessibleAutocompleteInput.name = inputName;
        }
    </script>
} *@

<h1 class="govuk-heading-l">@ViewBag.Title</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form method="post">
            <govuk-select asp-for="AlertTypeId">
                <govuk-select-label is-page-heading="false" class="govuk-label--m">Alert type</govuk-select-label>
                <govuk-select-item value=""></govuk-select-item>
                @foreach (var alertType in Model.AlertTypes!)
                {
                    <govuk-select-item value="@alertType.AlertTypeId">@alertType.Name</govuk-select-item>
                }
            </govuk-select>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>

