@page "/support-tasks/npq-trn-requests/{supportTaskReference}/resolve/check-answers/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.NpqTrnRequests.Resolve.CheckAnswersModel
@{
    ViewBag.Title = Model.CreatingNewRecord ? "Check details before creating record" : "Check details before updating record";

    var backLink = Model.CreatingNewRecord ?
            LinkGenerator.NpqTrnRequestMatches(Model.SupportTaskReference, Model.JourneyInstance!.InstanceId) :
            LinkGenerator.NpqTrnRequestMerge(Model.SupportTaskReference, Model.JourneyInstance!.InstanceId);
    var changeLink = Model.CreatingNewRecord ?
            LinkGenerator.NpqTrnRequestMatches(Model.SupportTaskReference, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true) :
            LinkGenerator.NpqTrnRequestMerge(Model.SupportTaskReference, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true);
    var confirmButtonLabel = Model.CreatingNewRecord ? "Confirm and create record" : "Confirm and update existing record";
}

@section BeforeContent {
    <govuk-back-link href="@backLink" />
}

<form action="@LinkGenerator.NpqTrnRequestMergeCheckAnswers(Model.SupportTaskReference, Model.JourneyInstance!.InstanceId)" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <span class="govuk-caption-l">Support tasks</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <govuk-summary-card data-testid="request">
                <govuk-summary-card-title>
                    Details of the record
                </govuk-summary-card-title>
                <govuk-summary-card-actions>
                    <govuk-summary-card-action href="@changeLink" data-testid="change-link">Change</govuk-summary-card-action>
                </govuk-summary-card-actions>
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>First name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.FirstName</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Middle name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.MiddleName</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Last name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.LastName</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.DateOfBirth?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Email</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.EmailAddress</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.NationalInsuranceNumber</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Gender</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.Gender?.GetDisplayName()</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    @if (Model.Trn is not null)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>TRN</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@Model.Trn</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    }
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Comments</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.Comments</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </govuk-summary-card>
            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="submit">@confirmButtonLabel</govuk-button>
                <govuk-button type="submit" formaction="@LinkGenerator.NpqTrnRequestMergeCheckAnswersCancel(Model.SupportTaskReference, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary">Cancel</govuk-button>
            </div>
        </div>
    </div>
</form>
