@page "/support-tasks/npq-trn-requests/{supportTaskReference}/merge/{handler?}"
@using TeachingRecordSystem.SupportUi.Pages.Shared
@using static TeachingRecordSystem.SupportUi.Pages.SupportTasks.NpqTrnRequests.Resolve.ResolveNpqTrnRequestState
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.NpqTrnRequests.Resolve.MergeModel
@{
    ViewBag.Title = $"Select the details to merge into {@Model.PersonName}'s record";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.NpqTrnRequestMatches(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" />
}

@functions {
#pragma warning disable CS1998
    private async Task RenderChoosePersonAttribute(
        string label,
        bool different,
        string name,
        string? leftLabel,
        string? rightLabel,
        PersonAttributeSource? selectedValue)
    {
        var chooseAttributeModel = new ChoosePersonAttributeViewModel()
        {
            Label = label,
            Different = different,
            Name = name,
            LeftValue = PersonAttributeSource.TrnRequest,
            LeftLabel = leftLabel,
            RightValue = PersonAttributeSource.ExistingRecord,
            RightLabel = rightLabel,
            SelectedValue = selectedValue
        };
        <partial name="Shared/_ChoosePersonAttribute" model="@chooseAttributeModel" />
    }
#pragma warning restore CS1998
}

<form action="@LinkGenerator.NpqTrnRequestMerge(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" method="post">
    <span class="govuk-caption-l">Support tasks</span>
    <h1 class="govuk-heading-l">@ViewBag.Title</h1>

    <div style="display: flex">
        <div class="govuk-heading-m govuk-!-width-one-half">
            @Model.SourceApplicationUserName request
        </div>
        <div class="govuk-heading-m govuk-!-width-one-half">
            Existing record
        </div>
    </div>

    <table class="govuk-table">
        <tbody class="govuk-table__body">
            @{

                await RenderChoosePersonAttribute(
                    Html.DisplayNameFor(m => m.DateOfBirthSource),
                    Model.DateOfBirth!.Different,
                    Html.NameFor(m => m.DateOfBirthSource),
                    Model.DateOfBirth!.TrnRequestValue?.ToString(UiDefaults.DateOnlyDisplayFormat),
                    Model.DateOfBirth!.ExistingRecordValue?.ToString(UiDefaults.DateOnlyDisplayFormat),
                    Model.DateOfBirthSource);

                await RenderChoosePersonAttribute(
                    Html.DisplayNameFor(m => m.EmailAddressSource),
                    Model.EmailAddress!.Different,
                    Html.NameFor(m => m.EmailAddressSource),
                    Model.EmailAddress!.TrnRequestValue,
                    Model.EmailAddress!.ExistingRecordValue,
                    Model.EmailAddressSource);

                await RenderChoosePersonAttribute(
                    Html.DisplayNameFor(m => m.NationalInsuranceNumberSource),
                    Model.NationalInsuranceNumber!.Different,
                    Html.NameFor(m => m.NationalInsuranceNumberSource),
                    Model.NationalInsuranceNumber!.TrnRequestValue,
                    Model.NationalInsuranceNumber!.ExistingRecordValue,
                    Model.NationalInsuranceNumberSource);
            }
        </tbody>
    </table>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <govuk-textarea asp-for="Comments" label-class="govuk-label--s" />

            <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">Do you want to use these details in the primary record?</p>

            <govuk-warning-text>
                The TRN request will be marked as complete after the record has been updated.
            </govuk-warning-text>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button type="submit" formaction="@LinkGenerator.NpqTrnRequestMergeCancel(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" data-testid="cancel-button">Cancel</govuk-button>
            </div>
        </div>
    </div>
</form>
