@page "/application-users/{userId}"
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders
@model TeachingRecordSystem.SupportUi.Pages.ApplicationUsers.EditApplicationUser.IndexModel
@inject TimeProvider Clock
@{
    ViewBag.Title = $"Edit {Model.Name}";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.ApplicationUsers.Index()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@LinkGenerator.ApplicationUsers.EditApplicationUser.Index(Model.UserId!)" method="post">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-input for="Name">
                <govuk-input-label class="govuk-label--m">Name</govuk-input-label>
            </govuk-input>

            <govuk-checkboxes for="ApiRoles">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--m">API roles</govuk-checkboxes-fieldset-legend>
                    @foreach (var role in ApiRoles.All.OrderBy(r => r))
                    {
                        <govuk-checkboxes-item value="@role">@role</govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>

            <h2 class="govuk-heading-m">API keys</h2>
            <table class="govuk-table govuk-!-margin-bottom-3" data-testid="ApiKeysTable">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Key ID</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Expires</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @if (Model.ApiKeys!.Length > 0)
                    {
                        @foreach (var key in Model.ApiKeys)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <a href="@LinkGenerator.ApiKeys.EditApiKey.Index(key.ApiKeyId)" class="govuk-link trs-monospace" data-testid="EditApiKey-@key.ApiKeyId">@key.ApiKeyId</a>
                                </td>
                                <td class="govuk-table__cell" data-testid="Expiry">
                                    @if (key.Expires is DateTime expires)
                                    {
                                        <time datetime="@expires.ToString("s")">
                                            <span class="@(expires < Clock.UtcNow ? "govuk-caption-m" : "")">
                                                @expires.ToString("dd/MM/yyyy HH:mm")
                                            </span>
                                        </time>
                                    }
                                    else
                                    {
                                        <div class="govuk-caption-m">No expiration</div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" colspan="2">
                                <div class="govuk-caption-m">No API keys</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="govuk-!-margin-bottom-1">
                <govuk-button-link href="@LinkGenerator.ApiKeys.AddApiKey.Index(Model.UserId)" class="govuk-button--secondary" data-testid="AddApiKey">Add API key</govuk-button-link>
            </div>

            <govuk-checkboxes for="IsOidcClient">
                <govuk-checkboxes-item value="@true" label-class="govuk-label--m">
                    OIDC client
                    <govuk-checkboxes-item-conditional>
                        <govuk-input for="ClientId" input-class="govuk-!-width-two-thirds trs-monospace" spellcheck="false">
                            <govuk-input-label class="govuk-label--s">Client ID</govuk-input-label>
                        </govuk-input>

                        <govuk-input for="ClientSecret" input-class="trs-monospace" spellcheck="false">
                            <govuk-input-label class="govuk-label--s">Client secret</govuk-input-label>
                        </govuk-input>

                        <govuk-textarea for="RedirectUris" textarea-class="trs-monospace trs-nowrap">
                            <govuk-textarea-label class="govuk-label--s">Redirect URIs</govuk-textarea-label>
                            <govuk-textarea-hint>Enter one per line</govuk-textarea-hint>
                            <govuk-textarea-value>@string.Join("\n", Model.RedirectUris!)</govuk-textarea-value>
                        </govuk-textarea>

                        <govuk-textarea for="PostLogoutRedirectUris" textarea-class="trs-monospace trs-nowrap">
                            <govuk-textarea-label class="govuk-label--s">Post logout redirect URIs</govuk-textarea-label>
                            <govuk-textarea-hint>Enter one per line</govuk-textarea-hint>
                            <govuk-textarea-value>@string.Join("\n", Model.PostLogoutRedirectUris!)</govuk-textarea-value>
                        </govuk-textarea>

                        <govuk-input for="OneLoginAuthenticationSchemeName" input-class="govuk-!-width-two-thirds trs-monospace" spellcheck="false">
                            <govuk-input-label class="govuk-label--s">Authentication scheme name</govuk-input-label>
                        </govuk-input>

                        <govuk-input for="OneLoginClientId" input-class="trs-monospace" spellcheck="false">
                            <govuk-input-label class="govuk-label--s">One Login client ID</govuk-input-label>
                        </govuk-input>

                        <govuk-radios for="UseSharedOneLoginSigningKeys">
                            <govuk-radios-fieldset>
                                <govuk-radios-fieldset-legend class="govuk-fieldset__legend--s">
                                    Use shared One Login signing keys (<span class="trs-monospace">/one-login-jwks</span>)
                                </govuk-radios-fieldset-legend>
                                <govuk-radios-item value="@true">Yes</govuk-radios-item>
                                <govuk-radios-item value="@false">
                                    No
                                    <govuk-radios-item-conditional>
                                        <govuk-textarea for="OneLoginPrivateKeyPem" textarea-class="trs-monospace trs-nowrap" spellcheck="false">
                                            <govuk-textarea-label class="govuk-label--s">One Login private key</govuk-textarea-label>
                                            <govuk-textarea-hint>Enter a key in the PEM format</govuk-textarea-hint>
                                        </govuk-textarea>
                                    </govuk-radios-item-conditional>
                                </govuk-radios-item>
                            </govuk-radios-fieldset>
                        </govuk-radios>

                        <govuk-input for="OneLoginRedirectUriPath" input-class="trs-monospace" spellcheck="false">
                            <govuk-input-label class="govuk-label--s">One Login redirect URI path</govuk-input-label>
                        </govuk-input>

                        <govuk-input for="OneLoginPostLogoutRedirectUriPath" input-class="trs-monospace" spellcheck="false">
                            <govuk-input-label class="govuk-label--s">One Login post logout redirect URI path</govuk-input-label>
                        </govuk-input>
                    </govuk-checkboxes-item-conditional>
                </govuk-checkboxes-item>
            </govuk-checkboxes>

            <govuk-button type="submit">Save changes</govuk-button>
        </form>
    </div>
</div>

<template id="showkey">
    <govuk-checkboxes name="ShowKey" input-id="ShowKey" class="govuk-checkboxes--small">
        <govuk-checkboxes-item value="true">Show key</govuk-checkboxes-item>
    </govuk-checkboxes>
</template>

<script type="text/javascript" asp-add-nonce="true">
    if ('content' in document.createElement('template')) {
        const keyInput = document.querySelector("#@Html.IdFor(m => m.OneLoginPrivateKeyPem)");

        if (keyInput.value) {
            const showKeyTemplate = document.querySelector('#showkey');
            const showKey = showKeyTemplate.content.cloneNode(true);
            const showKeyCheckbox = showKey.querySelector('input');
            const setInputTypeFromShowKeyValue = () => keyInput.style.display = showKeyCheckbox.checked ? '' : 'none';

            setInputTypeFromShowKeyValue();
            showKeyCheckbox.addEventListener('change', setInputTypeFromShowKeyValue);

            const keyFormGroup = keyInput.parentNode;
            keyInput.classList.add('govuk-!-margin-bottom-0');
            keyFormGroup.querySelector('.govuk-hint').after(showKey);
        }
    }
</script>
