@page "/application-users/{userId}"
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders
@model TeachingRecordSystem.SupportUi.Pages.ApplicationUsers.EditApplicationUser.IndexModel
@inject IClock Clock
@{
    ViewBag.Title = $"Edit {Model.Name}";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator2.ApplicationUsers.Index()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@LinkGenerator2.ApplicationUsers.EditApplicationUser.Index(Model.UserId!)" method="post">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-input for="Name" label-class="govuk-label--m" />

            <govuk-input for="ShortName" input-class="govuk-input--width-10" label-class="govuk-label--m" />

            <govuk-checkboxes for="ApiRoles">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--m" />
                    @foreach (var role in ApiRoles.All.OrderBy(r => r))
                    {
                        <govuk-checkboxes-item value="@role">@role</govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>

            <h2 class="govuk-heading-m">@Html.DisplayNameFor(m => m.ApiKeys)</h2>
            <table class="govuk-table govuk-!-margin-bottom-3" data-testid="ApiKeysTable">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Key ID</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Expires</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @if (Model.ApiKeys!.Length > 0)
                    {
                        @foreach (var key in Model.ApiKeys)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <a href="@LinkGenerator2.ApiKeys.EditApiKey.Index(key.ApiKeyId)" class="govuk-link trs-monospace" data-testid="EditApiKey-@key.ApiKeyId">@key.ApiKeyId</a>
                                </td>
                                <td class="govuk-table__cell" data-testid="Expiry">
                                    @if (key.Expires is DateTime expires)
                                    {
                                        <time datetime="@expires.ToString("s")">
                                            <span class="@(expires < Clock.UtcNow ? "govuk-caption-m" : "")">
                                                @expires.ToString("dd/MM/yyyy HH:mm")
                                            </span>
                                        </time>
                                    }
                                    else
                                    {
                                        <div class="govuk-caption-m">No expiration</div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" colspan="2">
                                <div class="govuk-caption-m">No API keys</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="govuk-!-margin-bottom-1">
                <govuk-button-link href="@LinkGenerator2.ApiKeys.AddApiKey.Index(Model.UserId)" class="govuk-button--secondary" data-testid="AddApiKey">Add API key</govuk-button-link>
            </div>

            <govuk-checkboxes for="IsOidcClient">
                <govuk-checkboxes-item value="@true" label-class="govuk-label--m">
                    @Html.DisplayNameFor(m => m.IsOidcClient)
                    <govuk-checkboxes-item-conditional>
                        <govuk-input for="ClientId" label-class="govuk-label--s" input-class="govuk-!-width-two-thirds trs-monospace" spellcheck="false" />

                        <govuk-input for="ClientSecret" label-class="govuk-label--s" input-class="trs-monospace" spellcheck="false" />

                        <govuk-textarea for="RedirectUris" label-class="govuk-label--s" textarea-class="trs-monospace trs-nowrap">
                            <govuk-textarea-value>@string.Join("\n", Model.RedirectUris!)</govuk-textarea-value>
                        </govuk-textarea>

                        <govuk-textarea for="PostLogoutRedirectUris" label-class="govuk-label--s" textarea-class="trs-monospace trs-nowrap">
                            <govuk-textarea-value>@string.Join("\n", Model.PostLogoutRedirectUris!)</govuk-textarea-value>
                        </govuk-textarea>

                        <govuk-input for="OneLoginAuthenticationSchemeName" label-class="govuk-label--s" input-class="govuk-!-width-two-thirds trs-monospace" spellcheck="false" />

                        <govuk-input for="OneLoginClientId" label-class="govuk-label--s" input-class="trs-monospace" spellcheck="false" />

                        <govuk-textarea for="OneLoginPrivateKeyPem" label-class="govuk-label--s" textarea-class="trs-monospace trs-nowrap" spellcheck="false" />

                        <govuk-input for="OneLoginRedirectUriPath" label-class="govuk-label--s" input-class="trs-monospace" spellcheck="false" />

                        <govuk-input for="OneLoginPostLogoutRedirectUriPath" label-class="govuk-label--s" input-class="trs-monospace" spellcheck="false" />
                    </govuk-checkboxes-item-conditional>
                </govuk-checkboxes-item>
            </govuk-checkboxes>

            <govuk-button type="submit">Save changes</govuk-button>
        </form>
    </div>
</div>

<template id="showkey">
    <govuk-checkboxes name="ShowKey" input-id="ShowKey" class="govuk-checkboxes--small">
        <govuk-checkboxes-item value="true">Show key</govuk-checkboxes-item>
    </govuk-checkboxes>
</template>

<script type="text/javascript" asp-add-nonce="true">
    if ('content' in document.createElement('template')) {
        const keyInput = document.querySelector("#@Html.IdFor(m => m.OneLoginPrivateKeyPem)");

        if (keyInput.value) {
            const showKeyTemplate = document.querySelector('#showkey');
            const showKey = showKeyTemplate.content.cloneNode(true);
            const showKeyCheckbox = showKey.querySelector('input');
            const setInputTypeFromShowKeyValue = () => keyInput.style.display = showKeyCheckbox.checked ? '' : 'none';

            setInputTypeFromShowKeyValue();
            showKeyCheckbox.addEventListener('change', setInputTypeFromShowKeyValue);

            const keyFormGroup = keyInput.parentNode;
            keyInput.classList.add('govuk-!-margin-bottom-0');
            keyFormGroup.querySelector('.govuk-hint').after(showKey);
        }
    }
</script>
