@page "/persons/{PersonId}/set-status/{TargetStatus}/check-answers"
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.SetStatus.CheckAnswersModel
@{
    Layout = "_Layout";
    ViewBag.Title = Model.TargetStatus == PersonStatus.Deactivated
        ? "Check details before deactivating record"
        : "Check details before reactivating record";
    var caption = Model.TargetStatus == PersonStatus.Deactivated
        ? $"Deactivate record - {Model.PersonName}"
        : $"Reactivate record - {Model.PersonName}";
    var confirmButtonText = Model.TargetStatus == PersonStatus.Deactivated
        ? "Confirm and deactivate record"
        : "Confirm and reactivate record";
    var actionHeadingText = Model.TargetStatus == PersonStatus.Deactivated
        ? "Why are you deactivating this record?"
        : "Why are you reactivating this record?";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form
            method="post" data-testid="submit-form">
            <span class="govuk-caption-l" data-testid="set-status-caption">@caption</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>


            <govuk-summary-list>
                <row>
                    <key>Name</key>
                    <value>@Model.PersonName</value>
                </row>
                <row>
                    <key>Date of birth</key>
                    <value>@Model.DateOfBirth?.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
                <row>
                    <key>Gender</key>
                    <value>@Model.Gender?.GetDisplayName()</value>
                </row>
                <row>
                    <key>National insurance number</key>
                    <value>@Model.NationalInsuranceNumber</value>
                </row>
                <row>
                    <key>Email address</key>
                    <value>@Model.EmailAddress</value>
                </row>
                <row>
                    <key>Status</key>
                    <value>
                        @if (Model.Status == PersonStatus.Deactivated)
                        {
                            <tag color="TagColor.Grey">Deactivated</tag>
                        }
                        else
                        {
                            <tag color="TagColor.Green">Active</tag>
                        }
                    </value>
                </row>
            </govuk-summary-list>

            <h2 class="govuk-heading-m">@actionHeadingText</h2>
            <govuk-summary-list>
                @if (Model.TargetStatus == PersonStatus.Deactivated)
                {
                    <row>
                        <key>Reason</key>
                        <value>@Model.DeactivateReason?.GetDisplayName()</value>
                        <row-actions>
                            <action data-testid="change-deactivate-reason-link"
                                    href=@Model.ChangeReasonLink visually-hidden-text="reason">
                                Change
                            </action>
                        </row-actions>
                    </row>
                    <row>
                        <key>Reason details</key>
                        <value>
                            @if (Model.DeactivateReasonDetail is not null)
                            {
                                @Html.ConvertNewlinesToLineBreaks(Model.DeactivateReasonDetail)
                            }
                            else
                            {
                                <span use-empty-fallback></span>
                            }
                        </value>
                        <row-actions>
                            <action href=@Model.ChangeReasonLink visually-hidden-text="reason details">Change</action>
                        </row-actions>
                    </row>
                    <row>
                        <key>Additional information</key>
                        <value>
                            @if (Model.DeactivateReasonDetail is not null)
                            {
                                @Html.ConvertNewlinesToLineBreaks(Model.DeactivateAdditionalInformation)
                            }
                            else
                            {
                                <span use-empty-fallback></span>
                            }
                        </value>
                        <row-actions>
                            <action href=@Model.ChangeReasonLink
                                                           visually-hidden-text="reason details">Change
                            </action>
                        </row-actions>
                    </row>
                }
                else
                {
                    <row>
                        <key>Reason</key>
                        <value>@Model.ReactivateReason?.GetDisplayName()</value>
                        <row-actions>
                            <action data-testid="change-reactivate-reason-link"
                                    href=@Model.ChangeReasonLink visually-hidden-text="reason">
                                Change
                            </action>
                        </row-actions>
                    </row>
                    <row>
                        <key>Reason details</key>
                        <value>
                            @if (Model.ReactivateReasonDetail is not null)
                            {
                                @Html.ConvertNewlinesToLineBreaks(Model.ReactivateReasonDetail)
                            }
                            else
                            {
                                <span use-empty-fallback></span>
                            }
                        </value>
                        <row-actions>
                            <action href=@Model.ChangeReasonLink visually-hidden-text="reason details">Change</action>
                        </row-actions>
                    </row>
                    <row>
                        <key>Additional information</key>
                        <value>
                            @if (Model.ReactivateAdditionalInformation is not null)
                            {
                                @Html.ConvertNewlinesToLineBreaks(Model.ReactivateAdditionalInformation)
                            }
                            else
                            {
                                <span use-empty-fallback></span>
                            }
                        </value>
                        <row-actions>
                            <action href=@Model.ChangeReasonLink
                                                           visually-hidden-text="reason details">Change
                            </action>
                        </row-actions>
                    </row>
                }
                <row>
                    <key>Evidence</key>
                    <value>
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile"/>
                    </value>
                    <row-actions>
                        <action href=@Model.ChangeReasonLink visually-hidden-text="evidence">
                            Change
                        </action>
                    </row-actions>
                </row>
            </govuk-summary-list>

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="confirm-button">@confirmButtonText</govuk-button>
                <govuk-button type="submit"
                              formaction="@LinkGenerator.Persons.PersonDetail.SetStatus.CheckAnswersCancel(Model.PersonId, Model.TargetStatus, Model.JourneyInstance!.InstanceId)"
                              class="govuk-button--secondary" data-testid="cancel-button">Cancel
                </govuk-button>
            </div>
        </form>
    </div>
</div>
