@page "/users/{userId}/{handler?}"
@using TeachingRecordSystem.Core
@model TeachingRecordSystem.SupportUi.Pages.Users.EditUser
@{
    ViewBag.Title = "Edit User";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Users()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form trs-action="l => l.EditUser(Model.UserId!)">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-input asp-for="Email" type="email" disabled />

            <govuk-input asp-for="Name" disabled="@(!Model.IsActiveUser)" />

            <govuk-checkboxes asp-for="Roles">
                <govuk-checkboxes-fieldset>
                    @foreach (var role in UserRoles.All)
                    {
                        <govuk-checkboxes-item value="@role" disabled="@(!Model.IsActiveUser)">@UserRoles.GetDisplayNameForRole(role)</govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>

            @if (Model.IsActiveUser)
            {
                <div class="govuk-button-group">
                    <govuk-button type="submit">Save and continue</govuk-button>
                    <govuk-button class="govuk-button--secondary" type="submit" asp-page-handler="deactivate">Deactivate</govuk-button>
                </div>
            }
            else
            {
                <govuk-button type="submit" asp-page-handler="activate">Reactivate</govuk-button>
            }
        </form>
    </div>
</div>
