@page "/persons/{PersonId}/edit-details/change-reason"
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.EditDetails.ChangeReasonModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Change reason";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form action=@LinkGenerator.EditDetailsChangeReason(Model.PersonId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers) method="post" enctype="multipart/form-data" data-testid="submit-form">
            <span class="govuk-caption-l" data-testid="change-reason-caption">@Model.PersonName</span>

            <govuk-radios asp-for="ChangeReason" data-testid="change-reason-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--l" is-page-heading="true" data-testid="change-reason-options-legend"/>
                    <govuk-radios-item value="@EditDetailsChangeReasonOption.IncompleteDetails">
                        @EditDetailsChangeReasonOption.IncompleteDetails.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@EditDetailsChangeReasonOption.NewInformation">
                        @EditDetailsChangeReasonOption.NewInformation.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@EditDetailsChangeReasonOption.AnotherReason">
                        @EditDetailsChangeReasonOption.AnotherReason.GetDisplayName()

                        <govuk-radios-item-conditional data-testid="change-reason-detail">
                            <govuk-character-count asp-for="ChangeReasonDetail" label-class="govuk-label--m" max-length="FileUploadDefaults.DetailMaxCharacterCount" rows="FileUploadDefaults.DetailTextAreaMinimumRows" />
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            @await Component.InvokeAsync("UploadEvidence", Model.UploadEvidence)

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.EditDetailsCancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
