@page "/persons/{PersonId}/edit-details/check-answers"
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.EditDetails.CheckAnswersModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Check details and update record";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form action="@LinkGenerator.PersonEditDetailsCheckAnswers(Model.PersonId, Model.JourneyInstance!.InstanceId)" method="post" data-testid="submit-form">
            <span class="govuk-caption-l" data-testid="edit-details-caption">Change personal details - @Model.PersonName</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-summary-card>
                <govuk-summary-card-title>Personal details</govuk-summary-card-title>
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Full name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>@Model.Name</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action data-testid="change-details-link" href=@Model.ChangePersonalDetailsLink visually-hidden-text="name">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.DateOfBirth?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href=@Model.ChangePersonalDetailsLink visually-hidden-text="date of birth">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Email address</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.EmailAddress?.ToDisplayString()</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href=@Model.ChangePersonalDetailsLink visually-hidden-text="email address">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>National Insurance number</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.NationalInsuranceNumber?.ToDisplayString()</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href=@Model.ChangePersonalDetailsLink visually-hidden-text="National Insurance number">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Gender</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value use-empty-fallback>@Model.Gender?.GetDisplayName()</govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href=@Model.ChangePersonalDetailsLink visually-hidden-text="gender">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </govuk-summary-card>

            <govuk-summary-card>
                <govuk-summary-card-title>@(Model.NameChangeReason is not null && Model.OtherDetailsChangeReason is not null ? "Reasons for change" : "Reason for change")</govuk-summary-card-title>
                <govuk-summary-list>
                    @if (Model.NameChangeReason is not null)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Reason for name change</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@Model.NameChangeReason?.GetDisplayName()</govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action data-testid="name-change-reason-link" href=@Model.ChangeNameChangeReasonLink visually-hidden-text="reason">Change</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@(Model.OtherDetailsChangeReason is not null ? "Evidence" : "Evidence uploaded")</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                <vc:evidence-file-link evidence-file="@Model.NameChangeEvidenceFile" />
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action href=@Model.ChangeNameChangeReasonLink visually-hidden-text="evidence">Change</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                    @if (Model.OtherDetailsChangeReason is not null)
                    {
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@(Model.NameChangeReason is not null ? "Other personal details change" : "Reason for personal details change")</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@Model.OtherDetailsChangeReason?.GetDisplayName()</govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action data-testid="other-details-change-reason-link" href=@Model.ChangeDetailsChangeReasonLink visually-hidden-text="reason">Change</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Reason details</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @if (Model.OtherDetailsChangeReasonDetail is not null)
                                {
                                    <multi-line-text text="@Model.OtherDetailsChangeReasonDetail" />
                                }
                                else
                                {
                                    <span use-empty-fallback></span>
                                }
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action href=@Model.ChangeDetailsChangeReasonLink visually-hidden-text="reason details">Change</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@(Model.NameChangeReason is not null ? "Evidence" : "Evidence uploaded")</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                <vc:evidence-file-link evidence-file="@Model.OtherDetailsChangeEvidenceFile" />
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action href=@Model.ChangeDetailsChangeReasonLink visually-hidden-text="evidence">Change</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    }
                </govuk-summary-list>
            </govuk-summary-card>

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="confirm-button">Confirm changes</govuk-button>
                <govuk-button type="submit" formaction="@LinkGenerator.PersonEditDetailsCancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" data-testid="cancel-button">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
