@page "/persons/{PersonId}/edit-details/other-details-change-reason"
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.EditDetails.OtherDetailsChangeReasonModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Change personal details";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form action=@LinkGenerator.Persons.PersonDetail.EditDetails.OtherDetailsChangeReason(Model.PersonId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers) method="post" data-testid="submit-form">
            <span class="govuk-caption-l" data-testid="change-reason-caption">Change personal details - @Model.PersonName</span>
            <govuk-radios for="Reason" data-testid="change-reason-options">
                <govuk-radios-fieldset>
                    @if (Model.IsAlsoChangingName)
                    {
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--l"  is-page-heading="true" data-testid="change-reason-options-legend">
                            Why are you changing the other personal details on this record?
                        </govuk-radios-fieldset-legend>
                    }
                    else
                    {
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--l" is-page-heading="true" data-testid="change-reason-options-legend"/>
                    }
                    <govuk-radios-item value="@EditDetailsOtherDetailsChangeReasonOption.IncompleteDetails">
                        @EditDetailsOtherDetailsChangeReasonOption.IncompleteDetails.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@EditDetailsOtherDetailsChangeReasonOption.NewInformation">
                        @EditDetailsOtherDetailsChangeReasonOption.NewInformation.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@EditDetailsOtherDetailsChangeReasonOption.AnotherReason">
                        @EditDetailsOtherDetailsChangeReasonOption.AnotherReason.GetDisplayName()

                        <govuk-radios-item-conditional data-testid="change-reason-detail">
                            <govuk-character-count for="ReasonDetail" max-length="UiDefaults.DetailMaxCharacterCount" rows="UiDefaults.DetailTextAreaMinimumRows" />
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <vc:upload-evidence evidence="@Model.Evidence" expression="Evidence" />

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.Persons.PersonDetail.EditDetails.OtherDetailsChangeReasonCancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
