@page "/persons/{PersonId}/edit-details/check-answers"
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.EditDetails.CheckAnswersModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Check details and update record";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" data-testid="submit-form">
            <span class="govuk-caption-l" data-testid="edit-details-caption">Change personal details - @Model.PersonName</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-summary-card>
                <title>Personal details</title>
                <govuk-summary-list>
                    <row>
                        <key>Full name</key>
                        <value>@Model.Name</value>
                        <row-actions>
                            <action data-testid="change-details-link" href=@Model.ChangePersonalDetailsLink visually-hidden-text="name">Change</action>
                        </row-actions>
                    </row>
                    <row>
                        <key>Date of birth</key>
                        <value use-empty-fallback>@Model.DateOfBirth?.ToString(WebConstants.DateDisplayFormat)</value>
                        <row-actions>
                            <action href=@Model.ChangePersonalDetailsLink visually-hidden-text="date of birth">Change</action>
                        </row-actions>
                    </row>
                    <row>
                        <key>Email address</key>
                        <value use-empty-fallback>@Model.EmailAddress?.ToDisplayString()</value>
                        <row-actions>
                            <action href=@Model.ChangePersonalDetailsLink visually-hidden-text="email address">Change</action>
                        </row-actions>
                    </row>
                    <row>
                        <key>National Insurance number</key>
                        <value use-empty-fallback>@Model.NationalInsuranceNumber?.ToDisplayString()</value>
                        <row-actions>
                            <action href=@Model.ChangePersonalDetailsLink visually-hidden-text="National Insurance number">Change</action>
                        </row-actions>
                    </row>
                    <row>
                        <key>Gender</key>
                        <value use-empty-fallback>@Model.Gender?.GetDisplayName()</value>
                        <row-actions>
                            <action href=@Model.ChangePersonalDetailsLink visually-hidden-text="gender">Change</action>
                        </row-actions>
                    </row>
                </govuk-summary-list>
            </govuk-summary-card>

            <govuk-summary-card>
                <title>@(Model.NameChangeReason is not null && Model.OtherDetailsChangeReason is not null ? "Reasons for change" : "Reason for change")</title>
                <govuk-summary-list>
                    @if (Model.NameChangeReason is not null)
                    {
                        <row>
                            <key>Reason for name change</key>
                            <value>@Model.NameChangeReason?.GetDisplayName()</value>
                            <row-actions>
                                <action data-testid="name-change-reason-link" href=@Model.ChangeNameChangeReasonLink visually-hidden-text="reason">Change</action>
                            </row-actions>
                        </row>
                        <row>
                            <key>Reason details</key>
                            <value>
                                @if (Model.NameChangeReasonDetail is not null)
                                {
                                    @Html.ConvertNewlinesToLineBreaks(Model.NameChangeReasonDetail)
                                }
                                else
                                {
                                    <span use-empty-fallback></span>
                                }
                            </value>
                            <row-actions>
                                <action href=@Model.ChangeNameChangeReasonLink visually-hidden-text="reason details">Change</action>
                            </row-actions>
                        </row>
                        <row>
                            <key>Additional information</key>
                            <value>
                                @if (Model.AdditionalInformation is not null)
                                {
                                    @Html.ConvertNewlinesToLineBreaks(Model.AdditionalInformation)
                                }
                                else
                                {
                                    <span use-empty-fallback></span>
                                }
                            </value>
                            <row-actions>
                                <action href=@Model.ChangeNameChangeReasonLink visually-hidden-text="additional information">Change</action>
                            </row-actions>
                        </row>
                        <row>
                            <key>@(Model.OtherDetailsChangeReason is not null ? "Evidence" : "Evidence uploaded")</key>
                            <value>
                                <vc:evidence-file-link evidence-file="@Model.NameChangeEvidenceFile" />
                            </value>
                            <row-actions>
                                <action href=@Model.ChangeNameChangeReasonLink visually-hidden-text="evidence">Change</action>
                            </row-actions>
                        </row>
                    }
                    @if (Model.OtherDetailsChangeReason is not null)
                    {
                        <row>
                            <key>@(Model.NameChangeReason is not null ? "Other personal details change" : "Reason for personal details change")</key>
                            <value>@Model.OtherDetailsChangeReason?.GetDisplayName()</value>
                            <row-actions>
                                <action data-testid="other-details-change-reason-link" href=@Model.ChangeDetailsChangeReasonLink visually-hidden-text="reason">Change</action>
                            </row-actions>
                        </row>
                        <row>
                            <key>Reason details</key>
                            <value>
                                @if (Model.OtherDetailsChangeReasonDetail is not null)
                                {
                                    @Html.ConvertNewlinesToLineBreaks(Model.OtherDetailsChangeReasonDetail)
                                }
                                else
                                {
                                    <span use-empty-fallback></span>
                                }
                            </value>
                            <row-actions>
                                <action href=@Model.ChangeDetailsChangeReasonLink visually-hidden-text="reason details">Change</action>
                            </row-actions>
                        </row>
                        <row>
                            <key>@(Model.NameChangeReason is not null ? "Evidence" : "Evidence uploaded")</key>
                            <value>
                                <vc:evidence-file-link evidence-file="@Model.OtherDetailsChangeEvidenceFile" />
                            </value>
                            <row-actions>
                                <action href=@Model.ChangeDetailsChangeReasonLink visually-hidden-text="evidence">Change</action>
                            </row-actions>
                        </row>
                    }
                </govuk-summary-list>
            </govuk-summary-card>

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="confirm-button">Confirm changes</govuk-button>
                <govuk-button type="submit" formaction="@LinkGenerator.Persons.PersonDetail.EditDetails.Cancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" data-testid="cancel-button">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
