@page "/support-tasks/npq-trn-requests/{supportTaskReference}/details"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.NpqTrnRequests.DetailsModel
@{
    ViewBag.Title = $"TRN request for {Model.PersonName}";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.SupportTasks.NpqTrnRequests.Index()" />
}

<form action="@LinkGenerator.SupportTasks.NpqTrnRequests.Details(Model.SupportTaskReference)" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">TRN requests</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>
            <govuk-summary-card>
                <title>
                    Requested on @Model.SupportTask!.CreatedOn.ToString(WebConstants.DateOnlyDisplayFormat)
                </title>
                <govuk-summary-list>
                    <row>
                        <key>Source</key>
                        <value use-empty-fallback><tag color="TagColor.Auto">@Model.SourceApplicationUserName</tag></value>
                    </row>
                    <row>
                        <key>Name</key>
                        <value use-empty-fallback>@Model.PersonName</value>
                    </row>
                    <row>
                        <key>Date of birth</key>
                        <value use-empty-fallback>@Model.SupportTask!.TrnRequestMetadata!.DateOfBirth.ToString(WebConstants.DateOnlyDisplayFormat)</value>
                    </row>
                    <row>
                        <key>Email address</key>
                        <value use-empty-fallback>@Model.SupportTask!.TrnRequestMetadata!.EmailAddress</value>
                    </row>
                    <row>
                        <key>Working in school or educational setting</key>
                        <value use-empty-fallback>@(Model.NpqWorkingInEducationalSetting.HasValue ? Model.NpqWorkingInEducationalSetting.Value ? "Yes" : "No" : null)</value>
                    </row>
                    <row>
                        <key>NPQ application ID</key>
                        <value use-empty-fallback>@Model.NpqApplicationId</value>
                    </row>
                    <row>
                        <key>NPQ name</key>
                        <value use-empty-fallback>@Model.NpqName</value>
                    </row>
                    <row>
                        <key>NPQ training provider</key>
                        <value use-empty-fallback>@Model.NpqTrainingProvider</value>
                    </row>
                    <row>
                        <key>Evidence</key>
                        <value data-testid="evidence">
                            <vc:evidence-file-link evidence-file="@Model.NpqEvidenceFile" />
                        </value>
                    </row>
                </govuk-summary-list>
            </govuk-summary-card>
            <govuk-radios for="CreateRecord">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">Create a record from this request?</h2>
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="True">Yes</govuk-radios-item>
                    <govuk-radios-item value="False">No, reject this request</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.SupportTasks.NpqTrnRequests.DetailsCancel(Model.SupportTaskReference)" class="govuk-button--secondary" type="submit">Cancel</govuk-button>
            </div>
        </div>
    </div>
</form>
