@page "/alerts/{alertId}/details/check-answers/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Alerts.EditAlert.Details.CheckAnswersModel
@{
    ViewBag.Title = "Check details before editing alert";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Alerts.EditAlert.Details.Reason(Model.AlertId, Model.JourneyInstance!.InstanceId)">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.Alerts.EditAlert.Details.CheckAnswers(Model.AlertId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Edit alert - @Model.PersonName</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-summary-list data-testid="change-summary">
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>New details</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Html.ConvertNewlinesToLineBreaks(Model.NewDetails)</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.Alerts.EditAlert.Details.Index(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="new start date">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Previous details</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>
                        @Html.ConvertNewlinesToLineBreaks(Model.PreviousDetails)
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <h2 class="govuk-heading-m">Why are you editing this alert?</h2>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Reason</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.ChangeReason.GetDisplayName()</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.Alerts.EditAlert.Details.Reason(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="reason for change">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Additional information</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value use-empty-fallback>
                        @Html.ConvertNewlinesToLineBreaks(Model.ChangeReasonDetail)
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.Alerts.EditAlert.Details.Reason(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="reason details">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Evidence</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile" />
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.Alerts.EditAlert.Details.Reason(Model.AlertId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="evidence">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm and update alert</govuk-button>
                <govuk-button formaction="@LinkGenerator.Alerts.EditAlert.Details.CheckAnswersCancel(Model.AlertId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
