@page "/alerts/{alertId}/details/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Alerts.EditAlert.Details.IndexModel
@{
    ViewBag.Title = "Change details";
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.AlertEditDetailsCheckAnswers(Model.AlertId, Model.JourneyInstance!.InstanceId) : LinkGenerator.PersonAlerts(Model.PersonId))">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.AlertEditDetails(Model.AlertId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <span class="govuk-caption-l">Change an alert - @Model.PersonName</span>

            <govuk-character-count for="Details" max-length="UiDefaults.DetailMaxCharacterCount" rows="UiDefaults.DetailTextAreaMinimumRows" data-testid="details">
                <govuk-character-count-label class="govuk-label--l" is-page-heading="true">
                    @ViewBag.Title
                </govuk-character-count-label>
            </govuk-character-count>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button formaction="@LinkGenerator.AlertEditDetailsCancel(Model.AlertId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>

