@page "/alerts/{alertId}/details/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Alerts.EditAlert.Details.IndexModel
@{
    ViewBag.Title = "Change details";
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.Alerts.EditAlert.Details.CheckAnswers(Model.AlertId, Model.JourneyInstance!.InstanceId) : LinkGenerator.Alerts.AlertDetail(Model.AlertId))">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.Alerts.EditAlert.Details.Index(Model.AlertId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <span class="govuk-caption-l">Edit alert - @Model.PersonName</span>

            <govuk-character-count for="Details" max-length="UiDefaults.DetailMaxCharacterCount" rows="UiDefaults.DetailTextAreaMinimumRows" data-testid="details">
                <govuk-character-count-label class="govuk-label--l" is-page-heading="true">
                    @ViewBag.Title
                </govuk-character-count-label>
                <govuk-character-count-hint>
                    For example, include any restrictions it places on a teacher.
                </govuk-character-count-hint>
            </govuk-character-count>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button formaction="@LinkGenerator.Alerts.EditAlert.Details.Cancel(Model.AlertId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>

