@page "/alerts/{alertId}/details/change-reason/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Alerts.EditAlert.Details.ReasonModel
@{
    ViewBag.Title = "Why are you changing the alert details?";
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.AlertEditDetailsCheckAnswers(Model.AlertId, Model.JourneyInstance!.InstanceId) : LinkGenerator.AlertEditDetails(Model.AlertId, Model.JourneyInstance!.InstanceId))" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.AlertEditDetailsReason(Model.AlertId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <span class="govuk-caption-l">Change an alert - @Model.PersonName</span>
            <h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

            <govuk-radios for="ChangeReason" data-testid="change-reason-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m" />
                    <govuk-radios-item value="@AlertChangeDetailsReasonOption.IncorrectDetails">
                        @AlertChangeDetailsReasonOption.IncorrectDetails.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@AlertChangeDetailsReasonOption.ChangeOfDetails">
                        @AlertChangeDetailsReasonOption.ChangeOfDetails.GetDisplayName()
                    </govuk-radios-item>
                    <govuk-radios-item value="@AlertChangeDetailsReasonOption.AnotherReason">
                        @AlertChangeDetailsReasonOption.AnotherReason.GetDisplayName()
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-radios for="HasAdditionalReasonDetail" data-testid="has-additional-reason_detail-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m" />
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional>
                            <govuk-character-count for="ChangeReasonDetail" max-length="FileUploadDefaults.DetailMaxCharacterCount" rows="FileUploadDefaults.DetailTextAreaMinimumRows" />
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-radios for="UploadEvidence" data-testid="upload-evidence-options">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m" />
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional>
                            @if (Model.EvidenceFileId is not null)
                            {
                                <span class="govuk-caption-m">Currently uploaded file</span>
                                <p class="govuk-body">
                                    <a href="@Model.UploadedEvidenceFileUrl" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="uploaded-evidence-link">@($"{Model.EvidenceFileName} ({Model.EvidenceFileSizeDescription})")</a>
                                </p>
                            }
                            <govuk-file-upload for="EvidenceFile" input-accept=".bmp, .csv, .doc, .docx, .eml, .jpeg, .jpg, .mbox, .msg, .ods, .odt, .pdf, .png, .tif, .txt, .xls, .xlsx">
                                <govuk-file-upload-label>Upload a file</govuk-file-upload-label>
                            </govuk-file-upload>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">
                        No
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button formaction="@LinkGenerator.AlertEditDetailsReasonCancel(Model.AlertId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
