@page "/route/add/check-answers/{handler?}"
@model CheckYourAnswersModel
@{
    ViewBag.Title = "Check details and add route";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RouteAddCheckYourAnswers(Model.PersonId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Routes and professional status - @Model.PersonName</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>
            <partial name="_RouteDetail" model="@Model.RouteDetail" />

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="confirm-button">Confirm and add route</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.RouteAddCheckAnswersCancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>

