@page "/routes/add/status/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.RoutesToProfessionalStatus.AddRoute.StatusModel

@{
    ViewBag.Title = Model.PageHeading;
}

@section BeforeContent {
    <govuk-back-link href=@(Model.BackLink)>Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RoutesToProfessionalStatus.AddRoute.Status(Model.PersonId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <span class="govuk-caption-l">@Model.PageCaption</span>
            <govuk-radios for=@Model.Status data-testid="status">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend data-testid="status-legend" class="govuk-fieldset__legend--l" is-page-heading="true">
                        @Model.PageHeading
                    </govuk-radios-fieldset-legend>
                    @foreach (var status in Model.Statuses)
                    {
                        <govuk-radios-item value="@status.Value">@status.Name</govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>
            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.RoutesToProfessionalStatus.AddRoute.StatusCancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
