@page "/mqs/add/check-answers/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.AddMq.CheckAnswersModel
@{
    ViewBag.Title = "Check details before adding mandatory qualification";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Mqs.AddMq.Reason(Model.PersonId, Model.JourneyInstance!.InstanceId)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form action="@LinkGenerator.Mqs.AddMq.CheckAnswers(Model.PersonId, Model.JourneyInstance!.InstanceId)" method="post">
            <span class="govuk-caption-l">Add a mandatory qualification - @Model.PersonName</span>
            <h1 class="govuk-heading-l" data-testid="title">@ViewBag.Title</h1>

            <govuk-summary-list>
                <row>
                    <key>Training provider</key>
                    <value data-testid="provider">@Model.ProviderName</value>
                    <row-actions>
                        <action href="@LinkGenerator.Mqs.AddMq.Provider(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="training provider">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Specialism</key>
                    <value data-testid="specialism">@Model.Specialism.GetTitle()</value>
                    <row-actions>
                        <action href="@LinkGenerator.Mqs.AddMq.Specialism(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="specialism">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Start date</key>
                    <value data-testid="start-date">@Model.StartDate.ToString(WebConstants.DateOnlyDisplayFormat)</value>
                    <row-actions>
                        <action href="@LinkGenerator.Mqs.AddMq.StartDate(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="start date">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Status</key>
                    <value data-testid="status">@Model.Status.GetTitle()</value>
                    <row-actions>
                        <action href="@LinkGenerator.Mqs.AddMq.Status(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="status">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>End date</key>
                    <value data-testid="end-date">@(Model.EndDate.HasValue ? Model.EndDate.Value.ToString(WebConstants.DateOnlyDisplayFormat) : "None")</value>
                    <row-actions>
                        <action href="@LinkGenerator.Mqs.AddMq.Status(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="end date">Change</action>
                    </row-actions>
                </row>
            </govuk-summary-list>

            <h2 class="govuk-heading-m">Why are you adding this mandatory qualification?</h2>

            <govuk-summary-list>
                <row>
                    <key>Reason</key>
                    <value>@Model.AddReason.GetDisplayName()</value>
                    <row-actions>
                        <action href="@LinkGenerator.Mqs.AddMq.Reason(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="reason for adding">Change</action>
                    </row-actions>
                </row>
                <row>
                    <key>Additional information</key>
                    <value>
                        @if (Model.AddReasonDetail is not null)
                        {
                            @Html.ConvertNewlinesToLineBreaks(Model.AddReasonDetail)
                        }
                        else
                        {
                            <span use-empty-fallback></span>
                        }
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Mqs.AddMq.Reason(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="reason details">Change</action>
                    </row-actions>
                </row>

                <row>
                    <key>Evidence</key>
                    <value>
                        <vc:evidence-file-link evidence-file="@Model.EvidenceFile" />
                    </value>
                    <row-actions>
                        <action href="@LinkGenerator.Mqs.AddMq.Reason(Model.PersonId, Model.JourneyInstance!.InstanceId, fromCheckAnswers: true)" visually-hidden-text="evidence">Change</action>
                    </row-actions>
                </row>
            </govuk-summary-list>

            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm and add mandatory qualification</govuk-button>
                <govuk-button formaction="@LinkGenerator.Mqs.AddMq.CheckAnswersCancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
