@page "/persons/{personId}/alerts"
@using TeachingRecordSystem.SupportUi.Pages.Common;
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.AlertsModel
@{
    Layout = "Layout";
    ViewBag.SelectedTab = PersonSubNavigationTab.Alerts;
    ViewBag.PersonId = Model.PersonId;
    ViewBag.Search = Model.Search;
    ViewBag.SortBy = Model.SortBy;
    ViewBag.PageNumber = Model.PageNumber;
    ViewBag.Title = Model.Name;
}

<h2 class="govuk-heading-m">Current alerts</h2>

@if (Model.CurrentAlerts is null || Model.CurrentAlerts.Length == 0)
{
    <p class="govuk-body" data-testid="no-current-alerts">No current alerts</p>
}
else
{
    @foreach (var alert in Model.CurrentAlerts)
    {
        <govuk-summary-card data-testid="current-alert-@alert.AlertId">
            <govuk-summary-card-title data-testid="current-alert-title-@alert.AlertId">@alert.Description</govuk-summary-card-title>
            <govuk-summary-card-actions>
                <govuk-summary-card-action href="@LinkGenerator.CloseAlert(alert.AlertId)" visually-hidden-text="Close">Close</govuk-summary-card-action>
            </govuk-summary-card-actions>
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="current-alert-start-date-@alert.AlertId">@(alert.StartDate.HasValue ? alert.StartDate.Value.ToString("dd/MM/yyyy") : "-")</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Details</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="current-alert-details-@alert.AlertId">
                        @if (!string.IsNullOrEmpty(@alert.Details))
                        {
                            @foreach (var line in @alert.Details.Split(new string[] { "\r\n", "\r", "\n" }, StringSplitOptions.None))
                            {
                                <span>@line</span>
                                <br />
                            }
                        }                        
                        </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            </govuk-summary-list>
        </govuk-summary-card>
    }
}

<govuk-button-link href="@LinkGenerator.PersonAddAlert(Model.PersonId)" class="govuk-button">Add an alert</govuk-button-link>

@if (Model.PreviousAlerts is not null && Model.PreviousAlerts.Length > 0)
{
    <table class="govuk-table" data-testid="previous-alerts">
        <caption class="govuk-table__caption govuk-table__caption--m">Previous alerts</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Alert</th>
                <th scope="col" class="govuk-table__header">Start date</th>
                <th scope="col" class="govuk-table__header">End date</th>
                <th scope="col" class="govuk-table__header">Status</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var alert in Model.PreviousAlerts)
            {
                <tr class="govuk-table__row" data-testid="previous-alert-@alert.AlertId">
                    <td class="govuk-table__cell" data-testid="previous-alert-description-@alert.AlertId"><a href="@LinkGenerator.Alert(alert.AlertId)" class="govuk-link">@alert.Description</a></td>
                    <td class="govuk-table__cell" data-testid="previous-alert-start-date-@alert.AlertId">@(alert.StartDate.HasValue ? alert.StartDate.Value.ToString("dd/MM/yyyy") : "-")</td>
                    <td class="govuk-table__cell" data-testid="previous-alert-end-date--@alert.AlertId">@(alert.EndDate.HasValue ? alert.EndDate.Value.ToString("dd/MM/yyyy") : "-")</td>
                    <td class="govuk-table__cell" data-testid="previous-alert-status-@alert.AlertId">@alert.Status</td>
                </tr>
            }
        </tbody>
    </table>
}
