@page "/persons/{personId}"
@using Microsoft.AspNetCore.Authorization
@using TeachingRecordSystem.SupportUi.Pages.Common
@using TeachingRecordSystem.SupportUi.Pages.Shared
@using TeachingRecordSystem.SupportUi.Infrastructure.Security

@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.IndexModel

@{
    Layout = "Layout";
    ViewBag.SelectedTab = PersonDetailSubNavigationTab.General;
}

@if (Model.HasOpenAlert)
{
    <govuk-notification-banner data-testid="open-alert-notification">
        <p class="govuk-notification-banner__heading">
            Alert on record.
            <a class="govuk-notification-banner__link" href="@LinkGenerator.PersonAlerts(Model.PersonId)">View alerts.</a>
        </p>
    </govuk-notification-banner>
}

@{
    var personDetailModel = new PersonDetailViewModel()
    {
        PersonId = Model.PersonId,
        Options = PersonDetailViewModelOptions.ShowAll,
        Trn = Model.Person!.Trn,
        Name = Model.Person.Name,
        PreviousNames = Model.Person.PreviousNames,
        DateOfBirth = Model.Person.DateOfBirth,
        NationalInsuranceNumber = Model.Person.NationalInsuranceNumber,
        Gender = Model.Person.Gender,
        Email = Model.Person.Email,
        CanChangeDetails = Model.CanChangeDetails,
        IsActive = Model.Person.IsActive
    };
}
@await Html.PartialAsync("_PersonDetail", personDetailModel)

@if (Model.PersonProfessionalStatus is not null)
{
    <govuk-summary-card>
        <govuk-summary-card-title data-testid="professional-status-details">Professional status details</govuk-summary-card-title>
        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Qualified teacher status (QTS)</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@(Model.PersonProfessionalStatus.QtsDate != null ? "Holds" : "No")</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            @if (Model.PersonProfessionalStatus.QtsDate is not null)
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>QTS held since</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.PersonProfessionalStatus.QtsDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Qualified Teacher Learning and Skills status (QTLS)</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@(Model.PersonProfessionalStatus.QtlsStatus == QtlsStatus.None ? "No" : Model.PersonProfessionalStatus.QtlsStatus.ToString())</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            @if (Model.PersonProfessionalStatus.InductionStatus != InductionStatus.None)
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Induction status</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.PersonProfessionalStatus.InductionStatus.GetTitle()</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Early years teacher status (EYTS)</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@(Model.PersonProfessionalStatus.EytsDate is not null ? "Holds" : "No")</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            @if (Model.PersonProfessionalStatus.EytsDate is not null)
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>EYTS held since</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.PersonProfessionalStatus.EytsDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Early years professional status (EYPS)</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@(Model.PersonProfessionalStatus.HasEyps ? "Holds" : "No")</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Partial qualified teacher status (PQTS)</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@(Model.PersonProfessionalStatus.PqtsDate != null ? "Holds" : "No")</govuk-summary-list-row-value>
            </govuk-summary-list-row>
            @if (Model.PersonProfessionalStatus.PqtsDate is not null)
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>PQTS held since</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.PersonProfessionalStatus.PqtsDate?.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
        </govuk-summary-list>
    </govuk-summary-card>
}

<div class="govuk-button-group">
    @if (Model.CanSetStatus)
    {
        <govuk-button-link
            data-testid="set-status-button"
            href="@LinkGenerator.PersonSetStatus(Model.PersonId, Model.Person.IsActive ? PersonStatus.Deactivated : PersonStatus.Active)"
            class="govuk-button--secondary">
            @(Model.Person.IsActive ? "Deactivate" : "Reactivate") record
        </govuk-button-link>
    }

    @if (Model.CanMerge)
    {
        <govuk-button-link data-testid="merge-button" href="@LinkGenerator.PersonMerge(Model.PersonId)" class="govuk-button--secondary">Merge with another record</govuk-button-link>
    }
</div>
