@page "/persons/{personId}/qualifications"
@using TeachingRecordSystem.SupportUi.Pages.Common;
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.QualificationsModel
@{
    Layout = "Layout";
    ViewBag.SelectedTab = PersonSubNavigationTab.Qualifications;
    var person = HttpContext.Features.GetRequiredFeature<CurrentPersonFeature>();
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.PersonDetail(person.PersonId)">Back to record</govuk-back-link>
}

@if (FeatureProvider.IsEnabled(FeatureNames.RoutesToProfessionalStatus))
{
    <h2 class="govuk-heading-m">Routes to professional statuses</h2>
    @if (Model.ProfessionalStatuses!.Length == 0)
    {
        <p class="govuk-body" data-testid="no-professional-statuses">No routes added yet</p>
    }
    else
    {
        @foreach (var professionalStatus in Model.ProfessionalStatuses)
        {
            <govuk-summary-card data-testid="professionalstatus-id-@professionalStatus.QualificationId">
                <govuk-summary-card-title></govuk-summary-card-title>
                <govuk-summary-card-actions>
                    <govuk-summary-card-action href="@LinkGenerator.RouteEditDetail(professionalStatus.QualificationId, null)" visually-hidden-text="edit route" data-testid="edit-route-link-@professionalStatus.QualificationId">Edit route</govuk-summary-card-action>
                    <govuk-summary-card-action href="@LinkGenerator.DeleteRouteChangeReason(professionalStatus.QualificationId, null)" visually-hidden-text="delete route" data-testid="delete-route-link-@professionalStatus.QualificationId">Delete route</govuk-summary-card-action>
                </govuk-summary-card-actions>
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Route</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="training-route-@professionalStatus.QualificationId">@(professionalStatus.RouteToProfessionalStatus!.Name)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="training-start-date-@professionalStatus.QualificationId">@(professionalStatus.TrainingStartDate.HasValue ? professionalStatus.TrainingStartDate!.Value.ToString(UiDefaults.DateOnlyDisplayFormat) : string.Empty)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>End date</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="training-end-date-@professionalStatus.QualificationId">@(professionalStatus.TrainingEndDate.HasValue ? professionalStatus.TrainingEndDate!.Value.ToString(UiDefaults.DateOnlyDisplayFormat) : string.Empty)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Award date</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="award-date-@professionalStatus.QualificationId">@(professionalStatus.AwardedDate.HasValue ? professionalStatus.AwardedDate!.Value.ToString(UiDefaults.DateOnlyDisplayFormat) : string.Empty)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Has exemption</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="training-exemption-@professionalStatus.QualificationId" use-empty-fallback>@(professionalStatus.ExemptFromInduction.HasValue ? professionalStatus.ExemptFromInduction.Value == true ? "Yes" : "No" : null)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Training provider</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="training-provider-@professionalStatus.QualificationId">@(professionalStatus.TrainingProvider?.Name ?? string.Empty)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Degree type</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="training-degreetype-@professionalStatus.QualificationId">@(professionalStatus.DegreeType?.Name ?? string.Empty)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Country of training</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="training-country-@professionalStatus.QualificationId">@(professionalStatus.TrainingCountry?.Name ?? string.Empty)</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Age range</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="training-agespecialism-@professionalStatus.QualificationId">@(professionalStatus.TrainingAgeSpecialismType.HasValue ? professionalStatus.TrainingAgeSpecialismType.GetDisplayName() : "None")</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Subjects</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value data-testid="training-subjects-@professionalStatus.QualificationId">
                            @if (professionalStatus.TrainingSubjectIds is not null)
                            {
                                <ul class="govuk-list">
                                    @foreach (var subjectid in professionalStatus.TrainingSubjectIds)
                                    {
                                        if (Model.TrainingSubjects != null && Model.TrainingSubjects.TryGetValue(subjectid, out var subjectName))
                                        {
                                            <li>@subjectName</li>
                                        }
                                    }
                                </ul>
                            }
                            else
                            {
                                <span use-empty-fallback></span>
                            }
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </govuk-summary-card>
        }
    }
    <govuk-button-link href="@LinkGenerator.RouteAdd(Model.PersonId)" class="govuk-button" data-testid="add-route">Add a route</govuk-button-link>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
}
<h2 class="govuk-heading-m">Mandatory qualifications</h2>
@if (Model.MandatoryQualifications!.Length == 0)
{
    <p class="govuk-body" data-testid="no-mandatory-qualifications">No mandatory qualifications added yet</p>
}
else
{
    @foreach (var mq in Model.MandatoryQualifications)
    {
        <govuk-summary-card data-testid="mq-@mq.QualificationId">
            <govuk-summary-card-title>Mandatory qualification@(mq.Specialism is not null ? $" for {mq.Specialism?.GetName()}" : "")</govuk-summary-card-title>
            <govuk-summary-card-actions>
                <govuk-summary-card-action href="@LinkGenerator.MqDelete(mq.QualificationId, null)" visually-hidden-text="delete qualification" data-testid="delete-link-@mq.QualificationId">Delete qualification</govuk-summary-card-action>
            </govuk-summary-card-actions>
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Training provider</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="mq-provider-@mq.QualificationId">@(mq.Provider?.Name ?? "None")</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.MqEditProvider(mq.QualificationId, null)" class="govuk-link" visually-hidden-text="change training provider" data-testid="provider-change-link-@mq.QualificationId">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Specialism</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="mq-specialism-@mq.QualificationId">@(mq.Specialism is not null ? mq.Specialism?.GetTitle() : "None")</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.MqEditSpecialism(mq.QualificationId, null)" class="govuk-link" visually-hidden-text="change specialism" data-testid="specialism-change-link-@mq.QualificationId">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Start date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="mq-start-date-@mq.QualificationId">@(mq.StartDate.HasValue ? mq.StartDate!.Value.ToString(UiDefaults.DateOnlyDisplayFormat) : "None")</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.MqEditStartDate(mq.QualificationId, null)" class="govuk-link" visually-hidden-text="change start date" data-testid="start-date-change-link-@mq.QualificationId">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Status</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="mq-status-@mq.QualificationId">@(mq.Status.HasValue ? mq.Status?.GetTitle() : "None")</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.MqEditStatus(mq.QualificationId, null)" visually-hidden-text="change status" data-testid="status-change-link-@mq.QualificationId">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>End date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value data-testid="mq-end-date-@mq.QualificationId">@(mq.EndDate.HasValue ? mq.EndDate!.Value.ToString(UiDefaults.DateOnlyDisplayFormat) : "None")</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.MqEditStatus(mq.QualificationId, null)" visually-hidden-text="change end date" data-testid="end-date-change-link-@mq.QualificationId">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            </govuk-summary-list>
        </govuk-summary-card>
    }
}

<govuk-button-link href="@LinkGenerator.MqAdd(Model.PersonId)" class="govuk-button" data-testid="add-mandatory-qualification">Add a mandatory qualification</govuk-button-link>
