@page "/support-tasks/teacher-pensions/{supportTaskReference}/resolve/confirm-keep-record-separate/{handler?}"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.TeacherPensions.Resolve.ConfirmKeepRecordSeparateReasonModel
@{
    ViewBag.Title = "Check details";
}

<form action="@LinkGenerator.SupportTasks.TeacherPensions.Resolve.ConfirmKeepRecordSeparateReason(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <span class="govuk-caption-l">Support tasks</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>
            <h3 class="govuk-heading-s">Why are you keeping the records separate</h3>
        </div>

        <div class="govuk-grid-column-full-from-desktop" data-testid="results">
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Reason</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.GetReason()</govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@LinkGenerator.SupportTasks.TeacherPensions.Resolve.KeepRecordSeparate(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)"
                            visually-hidden-text="reason for change">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            </govuk-summary-list>

        </div>

    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button type="submit" formaction="@LinkGenerator.SupportTasks.TeacherPensions.Resolve.ConfirmKeepRecordSeparateReasonCancel(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary">Cancel</govuk-button>
            </div>
        </div>
    </div>
</form>

