@page "/support-tasks/teacher-pensions/{supportTaskReference}/resolve/matches/{handler?}"
@using TeachingRecordSystem.SupportUi.Pages.Shared
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.TeacherPensions.Resolve.MatchesModel
@{
    ViewBag.Title = "Compare Teachers’ Pensions record with potential matches";
    var showDuplicatesSideBySide = Model.PotentialDuplicates!.Length == 1;
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers ?  LinkGenerator.SupportTasks.TeacherPensions.Resolve.CheckAnswers(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId) :  LinkGenerator.SupportTasks.TeacherPensions.Index())" />
}

<form action="@LinkGenerator.SupportTasks.TeacherPensions.Resolve.Matches(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <span class="govuk-caption-l">Third-party tasks</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class=@(showDuplicatesSideBySide ? "govuk-grid-column-full-from-desktop" : "govuk-grid-column-two-thirds-from-desktop")>
            <govuk-inset-text class="govuk-!-margin-top-0">
                Differences are <highlight>highlighted</highlight> in the matched record
            </govuk-inset-text>

            <div class="trs-potential-duplicates @(showDuplicatesSideBySide ? "trs-potential-duplicates--side-by-side" : "")">
                <govuk-summary-card data-testid="request" class="trs-potential-duplicates__item">
                    <govuk-summary-card-title>
                        Teachers&rsquo; Pensions record
                    </govuk-summary-card-title>
                    <govuk-summary-card-actions>
                        <govuk-summary-card-action href="@LinkGenerator.Persons.PersonDetail.Index(Model.SupportTask!.PersonId!.Value)" target="_blank">
                            View record
                        </govuk-summary-card-action>
                    </govuk-summary-card-actions>
                    <govuk-summary-list>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback>@Model.Name</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>TRN</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback>@Model.Trn</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback>@Model.RequestData!.DateOfBirth.ToString(UiDefaults.DateOnlyDisplayFormat)</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>NI number</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback>@Model.RequestData!.NationalInsuranceNumber</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Gender</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value use-empty-fallback>@Model.RequestData!.Gender?.GetDisplayName()</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    </govuk-summary-list>
                </govuk-summary-card>

                @if (!showDuplicatesSideBySide)
                {
                    <h2 class="govuk-heading-m">Potential matches</h2>
                }

                @foreach (var match in Model.PotentialDuplicates!)
                {
                    <govuk-summary-card data-testid="match" class="trs-potential-duplicates__item">
                        <govuk-summary-card-title>
                            Record @match.Identifier
                        </govuk-summary-card-title>
                        <govuk-summary-card-actions>
                            <govuk-summary-card-action href="@LinkGenerator.Persons.PersonDetail.Index(match.PersonId)" target="_blank">
                                View record
                            </govuk-summary-card-action>
                        </govuk-summary-card-actions>
                        <govuk-summary-list>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback highlight="@match.HasNameMismatch">
                                    @StringHelper.JoinNonEmpty(' ', match.FirstName, match.MiddleName, match.LastName)
                                </govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                            @if (match.PreviousNames!.Count > 0)
                            {
                                <govuk-summary-list-row>
                                    <govuk-summary-list-row-key>Previous names</govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        <list-text-items text-items="@match.PreviousNames"></list-text-items>
                                    </govuk-summary-list-row-value>
                                </govuk-summary-list-row>
                            }
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>TRN</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback highlight="@(!match.MatchedAttributes.Contains(PersonMatchedAttribute.Trn))">
                                    @match.Trn
                                </govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Date of birth</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback highlight="@(!match.MatchedAttributes.Contains(PersonMatchedAttribute.DateOfBirth))">
                                    @match.DateOfBirth?.ToString(UiDefaults.DateOnlyDisplayFormat)
                                </govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>NI number</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback highlight="@(!(match.MatchedAttributes.Contains(PersonMatchedAttribute.NationalInsuranceNumber) || (string.IsNullOrEmpty(Model.RequestData!.NationalInsuranceNumber) && string.IsNullOrEmpty(match.NationalInsuranceNumber))))">
                                    @match.NationalInsuranceNumber
                                </govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                            <govuk-summary-list-row>
                                <govuk-summary-list-row-key>Gender</govuk-summary-list-row-key>
                                <govuk-summary-list-row-value use-empty-fallback highlight="@(!(match.MatchedAttributes.Contains(PersonMatchedAttribute.Gender) || (Model.RequestData!.Gender is null && match.Gender is null)))">
                                    @match.Gender?.GetDisplayName()
                                </govuk-summary-list-row-value>
                            </govuk-summary-list-row>
                        </govuk-summary-list>
                    </govuk-summary-card>
                }
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <govuk-radios for="PersonId">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                        What do you want to do with the Teachers&rsquo; Pensions record?
                    </govuk-radios-fieldset-legend>

                    @foreach (var match in Model.PotentialDuplicates!)
                    {
                        <govuk-radios-item value="@match.PersonId">
                            Merge it with Record @match.Identifier
                        </govuk-radios-item>
                    }

                    <govuk-radios-divider>or</govuk-radios-divider>

                    <govuk-radios-item value="@Guid.Empty">
                        Keep it as a separate record
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button type="submit" formaction="@LinkGenerator.SupportTasks.TeacherPensions.Resolve.MatchesCancel(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary">Cancel</govuk-button>
            </div>
        </div>
    </div>
</form>
