@page "/support-tasks/teacher-pensions/{supportTaskReference}/resolve/merge/{handler?}"
@using TeachingRecordSystem.SupportUi.Pages.Shared
@using TeachingRecordSystem.SupportUi.Services
@using static ResolveTeacherPensionsPotentialDuplicateState
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.TeacherPensions.Resolve.MergeModel
@{
    ViewBag.Title = $"Potential duplicates via Teachers&rsquo; Pensions";
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers? LinkGenerator.SupportTasks.TeacherPensions.Resolve.CheckAnswers(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId) : LinkGenerator.SupportTasks.TeacherPensions.Resolve.Matches(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId))" />
}

@functions {
#pragma warning disable CS1998
    private async Task RenderChoosePersonAttribute(
        string label,
        bool different,
        bool highlight,
        string name,
        string? leftLabel,
        string? rightLabel,
        PersonAttributeSource? selectedValue)
    {
        var chooseAttributeModel = new ChoosePersonAttributeViewModel()
        {
            Label = label,
            Different = different,
            Highlight = highlight,
            Name = name,
            LeftValue = PersonAttributeSource.TrnRequest,
            LeftLabel = leftLabel,
            RightValue = PersonAttributeSource.ExistingRecord,
            RightLabel = rightLabel,
            SelectedValue = selectedValue
        };
        <partial name="Shared/_ChoosePersonAttribute" model="@chooseAttributeModel" />
    }
#pragma warning restore CS1998
}
<form action="@LinkGenerator.SupportTasks.TeacherPensions.Resolve.Merge(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <span class="govuk-caption-l">Third-party tasks</span>
            <h1 class="govuk-heading-l" data-testid="integration-transaction-interface-type">Select the details to keep in merged record</h1>
        </div>
    </div>

    <div class="trs-display-flex">
        <div class="govuk-heading-m govuk-!-width-one-half">
            Teachers&rsquo; Pensions
        </div>
        <div class="govuk-heading-m govuk-!-width-one-half">
            Existing record
        </div>
    </div>

    <table class="govuk-table">
        <tbody class="govuk-table__body">
            @{
                await RenderChoosePersonAttribute(
                "First name",
                Model.FirstName!.Different,
                Model.FirstName!.Highlight,
                Html.NameFor(m => m.FirstNameSource),
                Model.FirstName!.TrnRequestValue,
                Model.FirstName!.ExistingRecordValue,
                Model.FirstNameSource);

                await RenderChoosePersonAttribute(
                "Last name",
                Model.LastName!.Different,
                Model.LastName!.Highlight,
                Html.NameFor(m => m.LastNameSource),
                Model.LastName!.TrnRequestValue,
                Model.LastName!.ExistingRecordValue,
                Model.LastNameSource);

                await RenderChoosePersonAttribute(
                "TRN",
                false,
                false,
                Html.NameFor(m => m.TRNSource),
                Model.Trn!.TrnRequestValue,
                Model.Trn!.ExistingRecordValue,
                PersonAttributeSource.ExistingRecord);

                await RenderChoosePersonAttribute(
                "Date of birth",
                Model.DateOfBirth!.Different,
                Model.DateOfBirth!.Highlight,
                Html.NameFor(m => m.DateOfBirthSource),
                Model.DateOfBirth!.TrnRequestValue?.ToString(WebConstants.DateOnlyDisplayFormat),
                Model.DateOfBirth!.ExistingRecordValue?.ToString(WebConstants.DateOnlyDisplayFormat),
                Model.DateOfBirthSource);

                await RenderChoosePersonAttribute(
                "National Insurance number",
                Model.NationalInsuranceNumber!.Different,
                Model.NationalInsuranceNumber!.Highlight,
                Html.NameFor(m => m.NationalInsuranceNumberSource),
                Model.NationalInsuranceNumber!.TrnRequestValue,
                Model.NationalInsuranceNumber!.ExistingRecordValue,
                Model.NationalInsuranceNumberSource);

                await RenderChoosePersonAttribute(
                "Gender",
                Model.Gender!.Different,
                Model.Gender!.Highlight,
                Html.NameFor(m => m.GenderSource),
                Model.Gender!.TrnRequestValue?.GetDisplayName(),
                Model.Gender!.ExistingRecordValue?.GetDisplayName(),
                Model.GenderSource);
            }
        </tbody>
    </table>

    @Html.EditorFor(m => m.Evidence)

    <govuk-textarea for="MergeComments" label-class="govuk-label--s">
        <govuk-textarea-label size="s">Add comments (optional)</govuk-textarea-label>
    </govuk-textarea>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            <govuk-warning-text>
                This task will be marked as complete after the record has been updated.
            </govuk-warning-text>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button type="submit" formaction="@LinkGenerator.SupportTasks.TeacherPensions.Resolve.MergeCancel(Model.SupportTaskReference!, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" data-testid="cancel-button">Cancel</govuk-button>
            </div>
        </div>
    </div>
</form>
