@model RouteDetailViewModel
<govuk-summary-list>
    <row>
        <key>Route</key>
        <value>@Model.RouteToProfessionalStatusType.Name</value>
    </row>
    <row>
        <key>Status</key>
        <value>@Model.Status.GetTitle()</value>
    </row>

    <row>
        <key>Start date</key>
        <value use-empty-fallback>@Model.TrainingStartDate?.ToString(WebConstants.DateDisplayFormat)</value>
    </row>

    <row>
        <key>End date</key>
        <value use-empty-fallback>@Model.TrainingEndDate?.ToString(WebConstants.DateDisplayFormat)</value>
    </row>

    @if (Model.HoldsFromRequired != FieldRequirement.NotApplicable)
    {
        <row>
            <key>Held since</key>
            <value use-empty-fallback>@Model.HoldsFrom?.ToString(WebConstants.DateDisplayFormat)</value>
        </row>
    }
    @if (Model.HasInductionExemptionRequired != FieldRequirement.NotApplicable)
    {
        <row>
            <key>Induction exemption</key>
            <value use-empty-fallback>@(Model.IsExemptFromInduction.HasValue ? Model.IsExemptFromInduction.Value ? "Yes" : "No" : null)</value>
        </row>
    }

    <row>
        <key>Training provider</key>
        <value use-empty-fallback>@Model.TrainingProvider</value>
    </row>

    <row>
        <key>Degree type</key>
        <value use-empty-fallback>@Model.DegreeType</value>
    </row>

    <row>
        <key>Country of training</key>
        <value use-empty-fallback>@Model.TrainingCountry</value>
   </row>

    <row>
    <key>Age range</key>
    @if (Model.TrainingAgeSpecialismRangeFrom is not null && Model.TrainingAgeSpecialismRangeTo is not null)
    {
        <value use-empty-fallback>@Model.TrainingAgeSpecialismRange</value>
    }
    else
    {
        <value use-empty-fallback>@Model.TrainingAgeSpecialismType?.GetDisplayName()</value>
        }
    </row>

    <row>
        <key>Subjects</key>
        <value>
            @if (Model.TrainingSubjects is not null && Model.TrainingSubjects.Any())
            {
                <ul class="govuk-list">
                    @foreach (var subject in Model.TrainingSubjects)
                    {
                        <li>@subject</li>
                    }
                </ul>
            }
            else
            {
                <span use-empty-fallback></span>
            }
        </value>
    </row>
</govuk-summary-list>
